{%- import "components/toolbar.html" as toolbar -%}


{%- call toolbar.Toolbar() -%}
    {%- call toolbar.ToolbarBody(width="full") -%}
        {%- call toolbar.ToolbarMenu() -%}
            {{ toolbar.ToolbarMenuItem(href=url_for('mod_placement.index', event=g.event.slug), icon="info-circle", active=(page=='index')) }}

            {% for ec in classes_query %}
            {% if ec.begin_fighting %}
                {{ toolbar.ToolbarMenuItem(href=url_for('mod_placement.for_class', event=g.event.slug, id=ec.id), label=ec.title, icon='eye-closed', active=(page==ec)) }}
            {% elif ec.begin_placement %}
                {{ toolbar.ToolbarMenuItem(href=url_for('mod_placement.for_class', event=g.event.slug, id=ec.id), icon="play", label=ec.title, active=(page==ec)) }}
            {% else %}
                {{ toolbar.ToolbarMenuItem(href='', icon="lock", label=ec.title, disabled=True) }}
            {% endif %}
            {% endfor %}
        {%- endcall -%}
    {%- endcall -%}
{%- endcall -%}