{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block body %}

{% include "mod_placement/_header.html" %}

<div class="container-fluid">
    <h1 class="h2 fw-bold mb-4">{{ event_class.title }} &ndash; {{ 'Gewichtsklassen' if not proximity else 'Gewichtsnahe Gruppen' }}</h1>

    
    <h3 class="h4 fw-bold mb-2">Gruppe hinzufügen</h3>
    <div class="card card-semidialog">
        <div class="card-body">
            TBD.
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Gruppe erstellen</button>
            <a href="{{ url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id) }}" class="btn btn-secondary">Abbrechen</a>
        </div>
    </div>
</div>

{% endblock body %}