{% extends "layouts/application.html" %}
{% block title %}Hauptliste{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 class="h2 fw-bold mb-4">Kampfklasse {{ event_class.title }}</h1>

    
    <h3 class="h4 fw-bold mb-2">Gesamte Einteilung löschen</h3>
    <form action="" method="POST">
        <div class="card card-semidialog">
            <div class="card-body pb-0">
                <p>Wollen Sie die Einteilung der Kampfklasse {{ event_class.title }} <strong>vollständig löschen</strong>?</p>
                <p>Diese Aktion wird protokolliert.</p>

                <div class="alert alert-danger">
                    <p>Achtung: Dies kann <strong>nicht</strong> rückgängig gemacht werden. Die gesamte Einteilung, jedweder Kampffortschritt und alle bereits eingetragenen Ergebnisse werden verloren gehen. Diese Operation sollte nur in Ausnahmefällen und nur bei genügender Sachkunde bzgl. der möglichen Folgen vorgenommen werden.</p>
                </div>
            </div>
            <div class="card-body border-top">
                <p>Bestätigen Sie die Operation durch Betätigung dieser Checkbox:</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirm" name="confirm" value="oopsie">
                    <label class="form-check-label" for="confirm">Ich habe die obenstehenden Informationen gelesen, verstanden und bin damit einverstanden, die persönliche Verantwortung für alle möglichen Folgen zu übernehmen.</label>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger btn-3d">Einteilung löschen</button>
                <a href="{{ url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id) }}" class="btn btn-secondary">Abbrechen</a>
            </div>
        </div>
    </form>
</div>

{% endblock body %}