{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}
<div class="container-fluid">
    {% if current_group %}
    <div class="row align-items-center mb-3">
        <div class="col-12 col-md-6">
            <h1 class="h2 pt-1 py-1 fw-bold">{{ event_class.title }} &ndash; {{ 'Gewichtsklassen' if not proximity else 'Gewichtsnahe Gruppen' }}</h1>
        </div>
        <div class="col-12 col-md-6">
            <div class="row mb-2 bg-light p-1 mx-0">
                <h4 class="h6 pt-1 m-0 px-1 fw-bold col">{{ current_group.title }}</h4>
                <div class="col-auto px-0">
                    <a href="?" class="btn btn-light btn-sm">Schließen</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="h2 py-2 fw-bold mb-3">{{ event_class.title }} &ndash; {{ 'Gewichtsklassen' if not proximity else 'Gewichtsnahe Gruppen' }}</h1>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-3">
            <h3 class="h4 fw-bold mb-2">Nicht zugewiesene TN</h3>

            {% if registrations.count() %}
            
            <div class="mb-3">
                {% if proximity %}
                <a href="" class="btn btn-primary btn-sm" disabled>Verbleibende TN zuweisen</a>
                {% else %}
                <a href="{{ url_for('mod_placement.assign_all_predefined', event=g.event.slug, id=event_class.id) }}" class="btn btn-primary btn-sm">Verbleibende TN zuweisen</a>
                {% endif %}
            </div>

            <div class="card">
                {% for reg in registrations.all() %}
                <div class="card-body p-2 {{ 'border-top' if not loop.index == 1 }}">
                    <div class="row">
                        <div class="col-7">
                            <strong>{{ reg.first_name }} {{ reg.last_name }}</strong><br>
                            {{ reg.club }}
                        </div>
                        <div class="col-2">{{ reg.verified_weight / 1000 }} kg</div>
                        <div class="col-3">
                            <a href="{{ url_for('mod_placement.assign', event=g.event.slug, id=event_class.id, registration=reg.id) }}" class="btn btn-secondary w-100 btn-sm">Zuweisen</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}
            
            <p class="mb-1">Keine nicht zugewiesenen Teilnehmenden verbleibend.</p>
            <p>Yay!</p>

            {% endif %}
        </div>
        <div class="col-12 col-md-3">
            <h3 class="h4 fw-bold mb-2">Gruppen</h3>
            <div class="mb-2">
                <a href="{{ url_for('mod_placement.add_group', event=g.event.slug, id=event_class.id) }}" class="btn btn-secondary btn-sm">Neue Gruppe</a>
                <a href="" class="btn btn-secondary btn-sm">Alle Gruppen losen</a>
            </div>

            {% if groups.count() %}

            <div class="card mt-3">
                {% for group in groups.order_by('title').all() %}
                <div class="card-body p-2 {{ 'border-top' if not loop.index == 1 }}">
                    <div class="row">
                        <div class="col">
                            <a href="?group={{ group.id }}" class="link-dark {{ 'fw-bold' if group == current_group }}">{{ group.title }}</a>
                        </div>
                        <div class="col-auto">{{ group.participants.count() }} TN</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}

            <div class="alert alert-info mt-3">
                <p>Keine Gruppen vorhanden.</p>
    
                <p>Es ist empfohlen, die Gruppen über die Zuweisung verbleibender TN (Knopf in 1. Spalte) automatisch zu erstellen.</p>
            </div>
            

            {% endif %}
        </div>
        {% if current_group %}
        <div class="col-12 col-md-3">
            <h3 class="h4 fw-bold mb-2">TN der Gruppe</h3>

            <div class="mb-3">
                <a href="{{ url_for('mod_placement.assign', event=g.event.slug, id=event_class.id, group=current_group.id) }}" class="btn btn-secondary btn-sm">Weitere TN zuweisen</a>
                <a href="{{ url_for('mod_placement.edit_group', event=g.event.slug, id=event_class.id, group_id=current_group.id) }}" class="btn btn-secondary btn-sm">Gruppe bearbeiten</a>
            </div>

            {% if current_group.participants.count() %}

            <div class="card">
                {% for part in current_group.participants.all() %}
                <div class="card-body p-2 {{ 'border-top' if not loop.index == 1 }}">
                    <div class="row">
                        <div class="col-7">
                            <strong>{{ part.full_name }}</strong><br>
                            {{ part.association_name }}
                        </div>
                        <div class="col-2 px-0">
                            <a href="{{ url_for('mod_placement.unassign', event=g.event.slug, id=event_class.id, participant_id=part.id) }}" class="btn btn-outline-danger w-100 d-block btn-sm">Löschen</a>
                        </div>
                        <div class="col-3">
                            <a href="" class="btn btn-secondary w-100 d-block btn-sm">Setzen</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}
            
            <p>Dieser Gruppe wurden noch keine Teilnehmenden zugewiesen.</p>

            <a href="{{ url_for('mod_placement.delete_group', event=g.event.slug, id=event_class.id, group_id=current_group.id) }}" class="btn btn-danger btn-sm">Gruppe löschen</a>

            {% endif %}
        </div>
        <div class="col-12 col-md-3">
            <h3 class="h4 fw-bold mb-2">Setzen und Losen</h3>
            
            <div class="mb-3">
                <a href="" class="btn btn-primary btn-sm">Verbleibende Gruppen-TN losen</a>
            </div>

            {% set list_system = current_group.list_system() %}

            {% if list_system %}
            <p>Verwendetes Listensystem:<br><strong>{{ list_system.title }}</strong> mit {{ list_system.mandatory_maximum }} {{ 'Positionen' if list_system.mandatory_maximum != 1 else 'Position' }}</p>
            {% else %}
            <p>Noch kein Listensystem zugewiesen.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock body %}