{%- import "components/colboard.html" as colboard -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/list.html" as list -%}
{%- import "components/alerts.html" as alerts -%}
{%- import "components/cards.html" as cards -%}

{% set body_not_in_container=True %}
{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call colboard.Colboard() %}

    {% call colboard.ColboardColumn() %}
        {%- call colboard.ColboardColumnHeader(title="Nicht zugewiesene TN") -%}
            {% if proximity %}
                {%- call buttons.SubtleButton(href=url_for('mod_placement.assign_all_proximity', event=g.event.slug, id=event_class.id)) -%}
                    {{ buttons.ButtonIcon(icon="fast-arrow-right-square") }}
                {%- endcall -%}
            {% else %}
                {%- call buttons.SubtleButton(href=url_for('mod_placement.assign_all_predefined', event=g.event.slug, id=event_class.id)) -%}
                    {{ buttons.ButtonIcon(icon="fast-arrow-right-square") }}
                {%- endcall -%}
            {% endif %}
        {%- endcall -%}

        {%- call list.List() -%}
            {% for reg in registrations.all() %}
                {%- call list.ListItem() -%}
                    {%- call list.ListItemBody() -%}
                        {{ list.ListItemBodyHeader(reg.first_name + ' ' + reg.last_name) }}
                        {{ list.ListItemBodyDetail(reg.association.name if g.event.setting('use_association_instead_of_club', False) and reg.association else reg.club) }}
                        {{ list.ListItemBodyDetail(reg.verified_weight / 1000 ~ ' kg') }}
                    {%- endcall -%}
                    {%- call list.ListItemMenu() -%}
                        {{ list.ListItemMenuItem(href=url_for('mod_placement.assign', event=g.event.slug, id=event_class.id, registration=reg.id, group=(current_group.id if current_group else None)), icon="plus-circle") }}
                    {%- endcall -%}
                {%- endcall -%}
            {% endfor %}
        {%- endcall -%}
    {% endcall %}

    {% call colboard.ColboardColumn() %}
        {%- call colboard.ColboardColumnHeader(title=('Gewichtsklassen' if not proximity else 'Gewichtsnahe Gruppen')) -%}
            {%- call buttons.SubtleButton(href=url_for('mod_placement.add_group', event=g.event.slug, id=event_class.id)) -%}
                {{ buttons.ButtonIcon(icon="plus") }}
            {%- endcall -%}
            {%- call buttons.SubtleButton(href=url_for('mod_placement.place_for_all_groups', event=g.event.slug, id=event_class.id)) -%}
                {{ buttons.ButtonIcon(icon="dice-five") }}
            {%- endcall -%}
            {%- call buttons.SubtleButton() -%}
                {{ buttons.ButtonIcon(icon="refresh-double") }}
            {%- endcall -%}
            {%- call buttons.SubtleDangerButton(href=url_for('mod_placement.delete_all_for_class', event=g.event.slug, id=event_class.id)) -%}
                {{ buttons.ButtonIcon(icon="trash") }}
            {%- endcall -%}
        {%- endcall -%}

        {%- call list.List() -%}
            {% for group in groups.order_by('title').all() %}
                {%- call list.ListItem(href="?group=" ~ group.id, active=(group == current_group)) -%}
                    {%- call list.ListItemBody() -%}
                        {{ list.ListItemBodyHeader(group.title) }}
                        {% if group.participants.count() == 0 %}
                            {{ list.ListItemBodyDetail("0 TN") }}
                        {% else %}
                            {{ list.ListItemBodyDetail(group.participants.count() ~ " TN - " ~ (group.list_system().title if group.list_system() else "KEIN LISTENSYSTEM")) }}
                        {% endif %}
                    {%- endcall -%}
                {%- endcall -%}
            {% endfor %}
        {%- endcall -%}
    {% endcall %}

    {% if current_group %}
        {%- call colboard.ColboardColumn(span=2) -%}
            {%- call colboard.ColboardColumnHeader(title=current_group.title) -%}
                {%- call buttons.SubtleButton(href=url_for('mod_placement.assign', event=g.event.slug, id=event_class.id, group=current_group.id), disabled=current_group.marked_ready) -%}
                    {{ buttons.ButtonIcon(icon="plus") }}
                {%- endcall -%}
                {%- call buttons.SubtleButton(href=url_for('mod_placement.edit_group', event=g.event.slug, id=event_class.id, group_id=current_group.id), disabled=current_group.marked_ready) -%}
                    {{ buttons.ButtonIcon(icon="edit-pencil") }}
                {%- endcall -%}
                {%- call buttons.SubtleButton(href=url_for('mod_placement.place_all', event=g.event.slug, id=event_class.id, group_id=current_group.id), disabled=current_group.marked_ready) -%}
                    {{ buttons.ButtonIcon(icon="dice-three") }}
                {%- endcall -%}
                {%- call buttons.SubtleButton(href=url_for('mod_list.display_pdf', event=g.event.slug, id=current_group.id, draft=(1 if not current_group.marked_ready else None))) -%}
                    {{ buttons.ButtonIcon(icon="empty-page") }}
                {%- endcall -%}
            {%- endcall -%}

            {%- call colboard.Colboard() -%}
                {%- call colboard.ColboardColumn() -%}
                    {{ colboard.ColboardColumnHeader(title="TN der Gruppe") }}

                    {% if current_group.marked_ready %}
                        {%- call colboard.ColboardColumnBody() %}
                            {%- call alerts.InfoAlert() %}
                                <p>Diese Gruppe wurde zum Kämpfen freigegeben und kann daher nicht mehr geändert werden.</p>
                                <p>Die Hauptliste kann die Kämpfe zurücksetzen und dadurch die Freigabe zurücknehmen</p>
                            {%- endcall -%}
                        {%- endcall -%}
                    {% else %}
                        {%- call list.List() -%}
                            {% for part in current_group.participants.filter_by(placement_index=None).all() %}
                                {%- call list.ListItem() -%}
                                    {%- call list.ListItemBody() -%}
                                        {{ list.ListItemBodyHeader(part.full_name) }}
                                        {{ list.ListItemBodyDetail(part.association_name) }}
                                    {%- endcall -%}
                                    {%- call list.ListItemMenu() -%}
                                        {{ list.ListItemMenuItem(href=url_for('mod_placement.unassign', event=g.event.slug, id=event_class.id, participant_id=part.id), icon="minus-circle") }}
                                        {{ list.ListItemMenuItem(href=url_for('mod_placement.place', event=g.event.slug, id=event_class.id, participant_id=part.id), icon="plus-circle") }}
                                    {%- endcall -%}
                                {%- endcall -%}
                            {% endfor %}
                        {%- endcall -%}
                    {% endif %}
                {%- endcall -%}
                {%- call colboard.ColboardColumn() -%}
                    {{ colboard.ColboardColumnHeader(title="Setzen und Losen") }}
                    {% call colboard.ColboardColumnBody() %}
                        {% set list_system = current_group.list_system() %}
                        {% if list_system %}
                            {% call cards.Card(title=list_system.title) %}
                                {% for prei in range(list_system.mandatory_maximum) %}
                                    {% set i = list_system.list_class().meta._allocation_order[prei] - 1 %}
                                    {% set participant = current_group.participants.filter_by(placement_index=i).first() %}
                                    {% call cards.CardBody(class="p-1") %}
                                        {% call layout.Grid(class="align-center") %}
                                            {% call layout.GridColumn(span="1") %}
                                                <div class="fs-3 text-center fw-bold {{ 'text-secondary' if not participant else 'text-dark' }}">{{ i + 1 }}</div>
                                            {% endcall %}
                                            {% if not participant %}
                                                {% call layout.GridColumn(span="auto") %}n. n.{% endcall %}
                                            {% else %}
                                                {% call layout.GridColumn(span="") %}
                                                    {% if participant.manually_placed %}
                                                        <strong title="TN wurde manuell gesetzt."><i class="iconoir-pin"></i> {{ participant.full_name }}</strong><br>
                                                    {% else %}
                                                        <strong>{{ participant.full_name }}</strong><br>
                                                    {% endif %}
                                                    {{ participant.association_name }}
                                                {% endcall %}
                                                {% if not current_group.marked_ready %}
                                                    {% call layout.GridColumn(span="auto") %}
                                                        {% call buttons.SubtleButton(href=url_for('mod_placement.unplace', event=g.event.slug, id=event_class.id, participant_id=participant.id)) %}
                                                            {{ buttons.ButtonIcon(icon='minus-circle') }}
                                                        {% endcall %}
                                                    {% endcall %}
                                                {% endif %}
                                            {% endif %}
                                        {% endcall %}
                                    {%- endcall -%}
                                {% endfor %}
                            {%- endcall -%}
                        {% elif current_group.participants.count() == 0 %}
                            {%- call alerts.InfoAlert() %}
                                <p>Noch kein Listensystem zugewiesen.</p>
                                <p>Dieser Gruppe wurden noch keine Teilnehmenden hinzugefügt, sodass noch kein Listensystem bestimmt werden kann.</p>
                            {%- endcall -%}
                        {% else %}
                            {%- call alerts.DangerAlert() %}
                                <p>Noch kein Listensystem zugewiesen.</p>
                                <p>Dies tritt in der Regel auf, wenn diese Gruppe zu groß ist, sodass kein ausreichend mächtiges Listensystem bereitsteht.</p>
                            {%- endcall -%}
                        {% endif %}
                    {%- endcall -%}
                {%- endcall -%}
            {%- endcall -%}
        {%- endcall -%}
    {% else %}
        {{ colboard.ColboardEmptyColumn(span=2, text="Wähle eine Gruppe aus.") }}
    {% endif %}

{% endcall %}

{% endblock body %}