{% extends "layouts/application.html" %}
{% set page="index" %}
{% block title %}Einteilung{% endblock %}
{% block body %}

{% include "mod_placement/_header.html" %}

<div class="container-fluid">
    <p>Wählen Sie oben eine Kampfklasse aus, um die Einteilung der Gruppen (Gewichtsklassen bzw. gewichtsnahe Gruppen sowie Verlosung/Platzierung) durchzuführen.</p>

    <p>Die mit 🔒 gekennzeichneten Kampfklassen sind von der Administration noch nicht freigegeben worden.</p>

    <p>Die mit 🏁 gekennzeichneten Kampfklassen haben bereits mit Kämpfen begonnen.</p>

    <p>Bei den mit ⚠️ gekennzeichneten Kampfklassen liegen Probleme bzw. Konflikte vor.</p>
</div>

{% endblock body %}