<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TATAMI Listen</title>
    %%css%%
</head>
<body class="tlist">
    <div class="tlist-page">
        <div class="tlist-page-inner">
            <div class="tlist-header">
                <div class="tlist-brand">TATAMI</div>
                <h1>%%listname%%</h1>
                <div class="tlist-mat">%%mat%%</div>
                <div class="tlist-table">
                    <table>
                        <tr>
                            <td colspan="2" class="tlist-table-event">%%event%%</td>
                        </tr>
                        <tr>
                            <td class="tlist-table-class">%%eventclass%%</td>
                            <td class="tlist-table-group">%%group%%</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tlist-table-fights"><!-- TODO --></td>
                        </tr>
                    </table>
                </div>
            </div>

            %%body%%
        </div>
    </div>
</body>
</html>