<section class="tlist-section">
    <table class="tlist-pool-table">
        <thead>
            <tr>
                <th class="tlist-pool-table-placement"></th>
                <th class="tlist-pool-table-participant">Teilnehmende</th>
                <th class="tlist-pool-table-fight">1.</th>
                <th class="tlist-pool-table-fight">2.</th>
                <th class="tlist-pool-table-fight">(3.)</th>
                <th class="tlist-pool-table-points">SP</th>
                <th class="tlist-pool-table-score">WP</th>
                <th class="tlist-pool-table-place">Platz</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="tlist-pool-table-placement">1</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 1}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 1}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match1", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match2", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match3", "for": "white"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 1}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 1}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 1}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">2</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 2}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 1}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match1", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match2", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "match3", "for": "blue"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 2}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 2}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 2}%%</td>
            </tr>
        </tbody>
    </table>

    <div class="tlist-match-hint">1-2 | 1-2 | (1-2)</div>
</section>