<section class="tlist-section">
    <h2>Pool A</h2>
    <table class="tlist-pool-table">
        <thead>
            <tr>
                <th class="tlist-pool-table-placement"></th>
                <th class="tlist-pool-table-participant">Teilnehmende</th>
                <th class="tlist-pool-table-fight">1.</th>
                <th class="tlist-pool-table-fight">2.</th>
                <th class="tlist-pool-table-fight">5.</th>
                <th class="tlist-pool-table-fight">6.</th>
                <th class="tlist-pool-table-fight">9.</th>
                <th class="tlist-pool-table-fight">10.</th>
                <th class="tlist-pool-table-points">SP</th>
                <th class="tlist-pool-table-score">WP</th>
                <th class="tlist-pool-table-place">Platz</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="tlist-pool-table-placement">1</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 1}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 1}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A13", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A15", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A17", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 1, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 1, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 1, "scope": "poolA"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">3</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 3}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 3}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A13", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A37", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A35", "for": "white"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 3, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 3, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 3, "scope": "poolA"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">5</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 5}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 5}%%</div>
                </td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A57", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A15", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A35", "for": "blue"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 5, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 5, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 5, "scope": "poolA"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">7</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 7}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 7}%%</div>
                </td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A57", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A37", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "A17", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 7, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 7, "scope": "poolA"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 7, "scope": "poolA"}%%</td>
            </tr>
        </tbody>
    </table>

    <h2>Pool B</h2>
    <table class="tlist-pool-table">
        <thead>
            <tr>
                <th class="tlist-pool-table-placement"></th>
                <th class="tlist-pool-table-participant">Teilnehmende</th>
                <th class="tlist-pool-table-fight">3.</th>
                <th class="tlist-pool-table-fight">4.</th>
                <th class="tlist-pool-table-fight">7.</th>
                <th class="tlist-pool-table-fight">8.</th>
                <th class="tlist-pool-table-fight">11.</th>
                <th class="tlist-pool-table-fight">12.</th>
                <th class="tlist-pool-table-points">SP</th>
                <th class="tlist-pool-table-score">WP</th>
                <th class="tlist-pool-table-place">Platz</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="tlist-pool-table-placement">2</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 2}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 2}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B24", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B26", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B28", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 2, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 2, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 2, "scope": "poolB"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">4</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 4}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 4}%%</div>
                </td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B24", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B48", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B46", "for": "white"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 4, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 4, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 4, "scope": "poolB"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">6</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 6}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 6}%%</div>
                </td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B68", "for": "white"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B26", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B46", "for": "blue"}%%</td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 6, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 6, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 6, "scope": "poolB"}%%</td>
            </tr>
            <tr>
                <td class="tlist-pool-table-placement">8</td>
                <td class="tlist-pool-table-participant">
                    <div class="tlist-participant-name">%%fname:{"fighter": 8}%%</div>
                    <div class="tlist-participant-assoc">%%fassoc:{"fighter": 8}%%</div>
                </td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B68", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B48", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight">%%mscore:{"match": "B28", "for": "blue"}%%</td>
                <td class="tlist-pool-table-fight tlist-pool-table-fight-blank"></td>
                <td class="tlist-pool-table-points">%%fpoints:{"fighter": 8, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-score">%%fscore:{"fighter": 8, "scope": "poolB"}%%</td>
                <td class="tlist-pool-table-place">%%fplacement:{"fighter": 8, "scope": "poolB"}%%</td>
            </tr>
        </tbody>
    </table>

    <div class="tlist-match-hint">1-3, 5-7, 2-4, 6-8 | 1-5, 3-7, 2-6, 4-8 | 1-7, 3-5, 2-8, 4-6</div>
</section>

<section class="tlist-section">
    <h2>Finalrunde</h2>

    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-pool-table-placement">A1</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"placed": 1, "among": "poolA"}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"placed": 1, "among": "poolA"}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">13.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "F1"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">B2</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"placed": 2, "among": "poolB"}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"placed": 2, "among": "poolB"}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">15.</td>
                    <td class="tlist-ko-line tlist-ko-line-winner">%%fname:{"winner": "FF"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">A2</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"placed": 2, "among": "poolA"}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"placed": 2, "among": "poolA"}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">14.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "F2"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">B1</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"placed": 1, "among": "poolB"}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"placed": 1, "among": "poolB"}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>