<section class="tlist-section">
    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-pool-table-placement">1</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 1}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 1}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">1.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m1"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">9</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 2}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 2}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">9.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m9"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">5</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 3}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 3}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">2.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m2"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">21.</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">13</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 4}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 4}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m21"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">3</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 5}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 5}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">3.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m3"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="8">27.</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">11</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 6}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 6}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">10.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m10"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">7</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 7}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 7}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">4.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m4"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">15</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 8}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 8}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner">%%fname:{"winner": "m27"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">2</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 9}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 9}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">5.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m5"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">10</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 10}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 10}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">11.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m11"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">6</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 11}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 11}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">6.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m6"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">22.</td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">14</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 12}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 12}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m22"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">4</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 13}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 13}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">7.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m7"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">12</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 14}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 14}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">12.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m12"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">8</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 15}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 15}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">8.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m8"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">16</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 16}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 16}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="tlist-section">
    <h2>Trostrunde</h2>

    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-ko-loser">1</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m1"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">13.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m13"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">2</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m2"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">17.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m17"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="7">23.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">12</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m12"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">3</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m3"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m23"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">14.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m14"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="7">25.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">4</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m4"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">18.</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m18"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="3">%%fname:{"winner": "m25"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">11</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m11"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">22</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m22"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">5</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m5"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">15.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m15"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">6</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m6"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">19.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m19"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="7">24.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">10</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m10"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">7</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m7"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m24"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">16.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m16"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="7">26.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">8</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m8"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">20.</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line">%%fname:{"winner": "m20"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="3">%%fname:{"winner": "m26"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">9</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m9"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">21</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "m21"}%%</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>