<section class="tlist-section">
    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-pool-table-placement">1</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 1}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 1}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">1.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "AvB"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">5</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 2}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 2}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">5.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "ABvCD"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">3</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 3}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 3}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">2.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "CvD"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">11.</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">7</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 4}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 4}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner">%%fname:{"winner": "ABCDvEFGH"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">2</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 5}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 5}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">3.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "EvF"}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">6</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 6}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 6}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">6.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "EFvGH"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">4</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 7}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 7}%%</div>
                    </td>
                    <td class="tlist-ko-matchno" rowspan="2">4.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "GvH"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">8</td>
                    <td class="tlist-pool-table-participant">
                        <div class="tlist-participant-name">%%fname:{"fighter": 8}%%</div>
                        <div class="tlist-participant-assoc">%%fassoc:{"fighter": 8}%%</div>
                    </td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="tlist-section">
    <h2>Trostrunde</h2>

    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-ko-loser">1</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "AvB"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">7.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "rabvcd"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">2</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "CvD"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">9.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="3">%%fname:{"winner": "rRABCDvefgh"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">6</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "EFvGH"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">3</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "EvF"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">8.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "refvgh"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-loser">4</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "GvH"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">10.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="3">%%fname:{"winner": "rREFGHvabcd"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-loser">5</td>
                    <td class="tlist-ko-line">%%fname:{"loser": "ABvCD"}%%</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>