<section class="tlist-section">
    <h2>Stichkämpfe (UP)</h2>
    <p class="tlist-application-hint">(nach neuer Auslosung)</p>

    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-pool-table-placement">A</td>
                    <td class="tlist-ko-line">%%fname:{"fighter": 1, "playoff": "e123up"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">i.</td>
                    <td class="tlist-ko-line">%%fname:{"winner": "upXvY"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">B</td>
                    <td class="tlist-ko-line">%%fname:{"fighter": 2, "playoff": "e123up"}%%</td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="4">ii.</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="1">%%fname:{"winner": "upXYvZ"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-pool-table-placement">C</td>
                    <td class="tlist-ko-line">%%fname:{"fighter": 3, "playoff": "e123up"}%%</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>