<section class="tlist-section">
    <h2>Kampf um Platz 3</h2>

    <div class="tlist-ko">
        <table class="tlist-pool-table">
            <tbody>
                <tr>
                    <td class="tlist-pool-table-placement">3a</td>
                    <td class="tlist-ko-line">%%fname:{"final_placed": "third", "index": 0}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
                <tr>
                    <td class="tlist-ko-matchno-skip"></td>
                    <td class="tlist-ko-line-skip"></td>
                    <td class="tlist-ko-matchno" rowspan="2">i.</td>
                    <td class="tlist-ko-line tlist-ko-line-winner" data-placement="3">%%fname:{"winner": "resolve_3"}%%</td>
                </tr>
                <tr>
                    <td class="tlist-pool-table-placement">3b</td>
                    <td class="tlist-ko-line">%%fname:{"final_placed": "third", "index": 1}%%</td>
                    <td class="tlist-ko-matchno-skip"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>