{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}

{% set event_page="registrations" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}
{% block body %}
<h1>TN importieren</h1>

<p>Sie können Teilnehmende aus einer Tabellendatei importieren.</p>

<p>Für den Import muss die Tabellendatei in das Format CSV überführt werden.</p>

<p>Alle üblichen Tabellenkalkulationsprogramme bieten die Möglichkeit, eine Tabellendatei im Format .CSV abzuspeichern. Sie können die Warnungen, dass einige Funktionen ggf. nicht übertragen werden, für die Zwecke des Imports ignorieren.</p>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.Label(for_id='csvfile', text='CSV-Datei') }}
    {{ form.Input(id='csvfile', name='csvfile', type='file') }}

    {{ buttons.PrimaryButton(type='submit', text='Weiter »') }}
</form>


{% endblock body %}