{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/datasets.html" as datasets -%}


{% set event_page="registrations" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}

{% block body %}
<h1>TN importieren</h1>

<p>Es wurde eine CSV-Datei mit dem folgenden Inhalt eingelesen:</p>

{% call datasets.Dataset(size='medium') %}
    {% call datasets.Table() %}
        {% call datasets.TableHead() %}
            {{ datasets.TableHeadEmptyColumn() }}
            {% for col in range(colcount) %}
                {{ datasets.TableHeadColumn(text='Spalte ' ~ loop.index) }}
            {% endfor %}
        {% endcall %}
        {% call datasets.TableBody() %}
            {% for row in data %}
                {% call datasets.TableRow() %}
                    {{ datasets.TableHeadColumn(text='Zeile ' ~ loop.index) }}
                    {% for col in row %}
                        {{ datasets.TableColumn(text=col or '-') }}
                    {% endfor %}
                {% endcall %}
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endcall %}

<p>Damit TATAMI diese Datei richtig einlesen kann, müssen Sie die folgenden Angaben ausfüllen:</p>

<form action="" method="post">

    {{ form.Label(for_id='start-row', text='Erste Zeile mit TN-Daten') }}
    {% call form.Select(id='start-row', name='start-row') %}
        {% for row in range(rowcount) %}
            {{ form.SelectOption(value=row, text='Zeile ' ~ loop.index) }}
        {% endfor %}
    {% endcall %}
    {{ form.FormNotice('Wählen Sie die erste Zeile aus, in der TN-Daten sind (d. h. keine Überschriften oder Leerstellen)') }}

    {{ col_chooser(colcount, 'first_name', 'Vorname') }}
    {{ col_chooser(colcount, 'last_name', 'Nachname') }}
    {{ col_chooser(colcount, 'contact_details', 'Kontaktinformationen', optional=True) }}
    {{ col_chooser(colcount, 'club', 'Verein', optional=True) }}
    {{ col_chooser(colcount, 'association', 'Verband', optional=True) }}
    {{ col_chooser(colcount, 'event_class', 'Kampfklasse') }}
    {{ col_chooser(colcount, 'external_id', 'Externe ID', optional=True) }}
    {{ col_chooser(colcount, 'suggested_group', 'Vorgeschlagene Einteilung', optional=True) }}

    {{ form.Label(for_id='confirm_all', text='Voranmeldung für importierte TN bestätigen') }}
    {% call form.Select(id='confirm_all', name='confirm_all') %}
        {{ form.SelectOption(value='yes', text='Ja, alle bestätigen') }}
        {{ form.SelectOption(value='no', text='Nein, nicht bestätigen') }}
        {% for col in range(colcount) %}
            {{ form.SelectOption(value=col, text='Bestätigen, wenn Spalte ' ~ loop.index ~ ' nicht leer') }}
        {% endfor %}
    {% endcall %}

    {{ buttons.PrimaryButton(type='submit', text='TN importieren')}}
</form>
{% endblock body %}


{% macro col_chooser(colcount, form_column, form_label, optional=False) %}
{% call layout.Grid() %}
    {% call layout.GridColumn(large_span=3) %}
        {{ form.Label(for_id=form_column, text=form_label ~ ' ist in:') }}
    {% endcall %}
    {% call layout.GridColumn(large_span=9) %}
        {% call form.Select(id=form_column, name=form_column) %}
            {% if optional %}
                {{ form.SelectOption(value='null', text='(ggf. auswählen -- optional)') }}
            {% else %}
                {{ form.SelectDefaultOption(value='null', text='(bitte auswählen)') }}
            {% endif %}
            {% for col in range(colcount) %}
                {{ form.SelectOption(value=col, text='Spalte ' ~ loop.index) }}
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endcall %}
{% endmacro %}