{% set event_page="registrations" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}

{% block body %}
{% set ROW_LIMIT = 15 %}
<h1>TN importieren</h1>

<p>Es wurde eine CSV-Datei mit dem folgenden Inhalt eingelesen:</p>

<table class="csv-table">
    <thead>
        <tr class="csv-table-firstrow">
            <th class="csv-table-firstcol"></th>
            {% for col in range(colcount) %}
            <th>Spalte {{ loop.index }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in data[:ROW_LIMIT] %}
    <tr>
        <th class="csv-table-firstcol">Zeile {{ loop.index }}</th>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% if rowcount > ROW_LIMIT %}
    <tr>
        <td colspan="{{ colcount + 1 }}" class="csv-table-abbreviated">&hellip; und {{ rowcount - ROW_LIMIT }} weitere Zeilen</td>
    </tr>
    {% endif %}
</table>

<p>Damit TATAMI diese Datei richtig einlesen kann, müssen Sie die folgenden Angaben ausfüllen:</p>

<form action="" method="post">
    <div class="mb-3">
        <label for="start-row" class="form-label">Erste Zeile mit TN-Daten</label>
        <select name="start-row" id="start-row" class="form-select">
            {% for row in range(rowcount) %}
            <option value="{{ row }}">Zeile {{ loop.index }}</option>
            {% endfor %}
        </select>
        <div class="form-text">Wählen Sie die erste Zeile aus, in der TN-Daten sind (d. h. keine Überschriften oder Leerstellen)</div>
    </div>

    {{ col_chooser(colcount, 'first_name', 'Vorname') }}
    {{ col_chooser(colcount, 'last_name', 'Nachname') }}
    {{ col_chooser(colcount, 'contact_details', 'Kontaktinformationen', optional=True) }}
    {{ col_chooser(colcount, 'club', 'Verein', optional=True) }}
    {{ col_chooser(colcount, 'association', 'Verband', optional=True) }}
    {{ col_chooser(colcount, 'event_class', 'Kampfklasse') }}
    {% if g.event.team_mode %}
    {{ col_chooser(colcount, 'team', 'Team-Zuweisung', optional=True) }}
    {% endif %}
    {{ col_chooser(colcount, 'suggested_group', 'Vorgeschlagene Einteilung', optional=True) }}

    <div class="mt-3 mb-3">
        <label for="confirm_all" class="form-label">Voranmeldung für importierte TN bestätigen</label>
        <select name="confirm_all" id="confirm_all" class="form-select">
            <option value="yes">Ja</option>
            <option value="no">Nein</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">TN importieren</button>
</form>
{% endblock body %}


{% macro col_chooser(colcount, form_column, form_label, optional=False) %}
<div class="mb-1 d-flex align-items-center">
    <label for="{{ form_column }}" class="form-label w-25 mb-0">{{ form_label }} ist in:</label>
    <select name="{{ form_column }}" id="{{ form_column }}" class="form-select w-75">
        {% if optional %}
        <option value="null">(ggf. auswählen &ndash; optional)</option>
        {% else %}
        <option value="null" selected disabled>(bitte auswählen)</option>
        {% endif %}
        {% for col in range(colcount) %}
        <option value="{{ col }}">Spalte {{ loop.index }}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}