{%- macro Badge(text="", style="", class="", href=None) -%}
{% if href != None %}
<a href="{{ href }}" class="badge {{ 'text-bg-' ~  style if style != 'inactive' else 'badge-inactive' }} {{ class }}">{{ text or caller() }}</a>
{% else %}
<span class="badge {{ 'text-bg-' ~  style if style != 'inactive' else 'badge-inactive' }} {{ class }}">{{ text or caller() }}</span>
{% endif %}
{%- endmacro -%}

{%- macro BadgeControl() -%}
<div class="badge-control">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro BadgeList() -%}
<div class="badge-list">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro BadgeIcon(icon="", label="") -%}
{%- if label or caller is defined -%}
<i class="iconoir-{{ icon }} badge-icon"></i>
<span class="button-icon-label">{{ label or caller() }}</span>
{% else %}
<i class="iconoir-{{ icon }} badge-icon"></i>
{%- endif -%}
{%- endmacro -%}
