{%- macro Card(title=None, class="") -%}
<div class="card {{ class }}">
    {%- if title -%}
    <div class="card-header">{{ title }}</div>
    {%- endif -%}
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro CardHeader(text="", class="", actionable=False, attr=None) -%}
<div class="card-header {{ class }} {{ 'actionable' if actionable }}" {{ attr|safe if attr }}>
    {{ text or (caller() if caller is defined) }}
</div>
{%- endmacro -%}

{%- macro CardBody(class="", id="") -%}
<div class="card-body {{ class }}" id="{{ id }}">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro CardFooter(class="") -%}
<div class="card-footer {{ class }}">
    {{ caller() }}
</div>
{%- endmacro -%}