{%- macro Base(title=None) -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title -%} TATAMI | {{ title }} {%- else -%} TATAMI {%- endif -%}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tatami/tatami.css') }}">
</head>
<body>
    {{ caller() }}
</body>
</html>
{%- endmacro -%}

{%- macro Container(width="normal") -%}
<div class="container width-{{ width }}">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro Grid(class="") -%}
<div class="grid {{ class }}">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro GridColumn(span=12, large_span=None, class="") -%}
<div class="col col-{{ span }} {{ 'col-lg-' + large_span if large_span }} {{ class }}">
    {{ caller() }}
</div>
{%- endmacro -%}