{%- macro List() -%}
<div class="list">{{ caller() }}</div>
{%- endmacro -%}

{%- macro ListItem(text="", href="", active=False) -%}
{%- if href -%}
<a href="{{ href }}" class="list-item {{ 'active' if active }}">{{ text or (caller() if caller is defined) }}</a>
{%- else -%}
<div class="list-item {{ 'active' if active }}">{{ text or (caller() if caller is defined) }}</div>
{%- endif -%}
{%- endmacro -%}

{%- macro ListItemBody(href="") -%}
{%- if href -%}
<a href="{{ href }}" class="list-item-body">{{ caller() }}</a>
{%- else -%}
<div class="list-item-body">{{ caller() }}</div>
{%- endif -%}
{%- endmacro -%}

{%- macro ListItemBodyHeader(text="") -%}
<div class="list-item-header">{{ text or (caller() if caller is defined else '-') }}</div>
{%- endmacro -%}

{%- macro ListItemBodyDetail(text="") -%}
<div class="list-item-detail">{{ text or (caller() if caller is defined else '-') }}</div>
{%- endmacro -%}

{%- macro ListItemMenu() -%}
<div class="list-item-menu">{{ caller() }}</div>
{%- endmacro -%}

{%- macro ListItemMenuItem(href="", id="", icon="", type="button", active=False, disabled=False, class="", attr="") -%}
{%- if href -%}
<a href="{{ href }}" id="{{ id }}" class="list-item-menu-item {{ class }} {{ 'active' if active }} {{ 'disabled' if disabled }}" {{ attr|safe }}><i class="iconoir-{{ icon }}"></i></a>
{%- else -%}
<button id="{{ id }}" type="{{ type }}" class="list-item-menu-item {{ class }} {{ 'active' if active }} {{ 'disabled' if disabled }}" {{ attr|safe }}><i class="iconoir-{{ icon }}"></i></button>
{%- endif -%}
{%- endmacro -%}
