{%- macro List() -%}
<div class="list">{{ caller() }}</div>
{%- endmacro -%}

{%- macro ListItem(text="", href="", active=False) -%}
{%- if href -%}
<a href="{{ href }}" class="list-item {{ 'active' if active }}">{{ text or caller() }}</a>
{%- else -%}
<div class="list-item {{ 'active' if active }}">{{ text or caller() }}</div>
{%- endif -%}
{%- endmacro -%}

{%- macro ListItemBody() -%}
<div class="list-item-body">{{ caller() }}</div>
{%- endmacro -%}

{%- macro ListItemBodyHeader(text="") -%}
<div class="list-item-header">{{ text or (caller() if caller is defined else '-') }}</div>
{%- endmacro -%}

{%- macro ListItemBodyDetail(text="") -%}
<div class="list-item-detail">{{ text or (caller() if caller is defined else '-') }}</div>
{%- endmacro -%}

{%- macro ListItemMenu() -%}
<div class="list-item-menu">{{ caller() }}</div>
{%- endmacro -%}

{%- macro ListItemMenuItem(href="", id="", icon="") -%}
{%- if href -%}
<a href="{{ href }}" id="{{ id }}" class="list-item-menu-item"><i class="iconoir-{{ icon }}"></i></a>
{%- else -%}
<button id="{{ id }}" class="list-item-menu-item"><i class="iconoir-{{ icon }}"></i></button>
{%- endif -%}
{%- endmacro -%}