{%- macro Switch(style=None) -%}
<div class="switch {{ 'switch-' + style if style }}">
    {{ caller() }}
</div>
{%- endmacro -%}

{%- macro Tab() -%}
{%- set content = caller() -%}
{%- call Switch("tab") -%}{{ content }}{%- endcall -%}
{%- endmacro -%}

{%- macro SwitchItem(href="", label=None, active=False, disabled=False, class="", attr="") -%}
<a href="{{ href }}" class="switch-item {{ 'active' if active }} {{ 'disabled' if disabled }} {{ class }}" {{ 'disabled' if disabled }} {{ attr|safe if attr }}>{{ label or (caller() if caller is defined) }}</a>
{%- endmacro -%}

{% set TabItem = SwitchItem %}