{%- import "components/error.html" as error -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/error.html" %}
{% block body %}

{{ error.ErrorHeading("Server-Fehler") }}
{{ error.ErrorExplanation("Upsi! Irgendwas ist schiefgelaufen. Das hätte nicht passieren dürfen. Bitte versuche es später erneut.") }}

{% call error.ErrorOptions() %}
    {{ buttons.SecondaryButton(href="javascript:history.go(-1)", text="Zurück") }}
    {{ buttons.PrimaryButton(href='', text="Erneut versuchen") }}
{% endcall %}

{% endblock body %}