{%- import "components/error.html" as error -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/error.html" %}
{% block body %}

{{ error.ErrorHeading("Zugriff verweigert") }}
{{ error.ErrorExplanation("Du hast nicht die notwendigen Berechtigungen, um auf diese Seite zuzugreifen. Versuche es ggf. später erneut.") }}

{% call error.ErrorOptions() %}
    {{ buttons.SecondaryButton(href="javascript:history.go(-1)", text="Zurück") }}
    {{ buttons.PrimaryButton(href=url_for('splash'), text="Startseite aufrufen") }}
{% endcall %}

{% endblock body %}