{% extends "layouts/error.html" %}
{% block title %}Seite nicht gefunden.{% endblock %}
{% block body %}
<div class="container">
    <h1>Seite nicht gefunden</h1>
    <p>Die angefragte Seite wurde drei Mal aufgerufen, aber wollte nicht antreten. Sie wurde daher mit Fusen-Gachi disqualifiziert. Upsi.</p>
    <p class="mt-5 text-center">
        <a href="javascript:history.go(-1)" class="btn btn-secondary btn-no3d">Zurück</a>
        <a href="{{ url_for('splash') }}" class="btn btn-primary btn-no3d">Startseite aurufen</a>
    </p>
</div>
{% endblock body %}