{%- import "components/error.html" as error -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/error.html" %}
{% block body %}

{{ error.ErrorHeading("Seite nicht gefunden") }}
{{ error.ErrorExplanation("Die angefragte Seite wurde drei Mal aufgerufen, aber wollte nicht antreten. Sie wurde daher mit Fusen-Gachi disqualifiziert. Upsi.") }}

{% call error.ErrorOptions() %}
    {{ buttons.SecondaryButton(href="javascript:history.go(-1)", text="Zurück") }}
    {{ buttons.PrimaryButton(href=url_for('splash'), text="Startseite aufrufen") }}
{% endcall %}

{% endblock body %}