{%- import "components/cards.html" as cards -%}
{%- import "components/layout.html" as layout -%}
{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}

<form action="" method="POST" class="width-medium mx-0">
    {% call cards.Card() %}
        {% call cards.CardBody(class="pb-0") %}
            {% call layout.Grid() %}
                {% call layout.GridColumn(large_span=8) %}
                    {% call layout.Grid() %}
                        {% call layout.GridColumn(large_span=6) %}
                            {{ form.Label(for_id='first_name', text='Vorname') }}
                            {{ form.Input(id='first_name', name='first_name', value=(registration.first_name or ''), required=True) }}
                        {% endcall %}
                        {% call layout.GridColumn(large_span=6) %}
                            {{ form.Label(for_id='last_name', text='Nachname') }}
                            {{ form.Input(id='last_name', name='last_name', value=(registration.last_name or ''), required=True) }}
                        {% endcall %}
                        {% call layout.GridColumn() %}
                            {{ form.Label(for_id='contact_details', text='Kontaktinformationen') }}
                            {{ form.Textarea(id='contact_details', name='contact_details', value=(registration.Kontaktinformationen or '')) }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
                {% call layout.GridColumn(large_span=4) %}
                    {% call layout.Grid() %}
                        {% call layout.GridColumn(large_span=12) %}
                            {{ form.Label(for_id='club', text='Verein') }}
                            {{ form.Input(id='club', name='club', value=(registration.club or ''), required=True) }}
                        {% endcall %}
                        {% call layout.GridColumn(large_span=12) %}
                            {{ form.Label(for_id='association', text='Verband') }}
                            {% call form.Select(id='association', name='association') %}
                                {{ form.SelectOption(text='-') }}
                                {% for assoc in g.event.associations.order_by("short_name") %}
                                    {{ form.SelectOption(value=assoc.id, text=assoc.name, selected=(assoc.id == registration.association_id)) }}
                                {% endfor %} 
                            {% endcall %}
                        {% endcall %}
                        {% call layout.GridColumn(large_span=12) %}
                            {{ form.Label(for_id='external_id', text='Externe ID (z. B. Pass-ID)') }}
                            {{ form.Input(id='external_id', name='external_id', value=(registration.external_id or '')) }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
                {% call layout.GridColumn(large_span=8) %}
                    {% call layout.Grid() %}
                        {% call layout.GridColumn(large_span=4) %}
                            {{ form.Label(for_id='event_class', text='Kampfklasse') }}
                            {% call form.Select(id='event_class', name='event_class') %}
                                {{ form.SelectDefaultOption() }}
                                {% for cl in g.event.classes.order_by("title") %}
                                    {{ form.SelectOption(value=cl.id, text=cl.title, selected=(cl.id == registration.event_class_id)) }}
                                {% endfor %} 
                            {% endcall %}
                        {% endcall %}
                        {% call layout.GridColumn(large_span=4) %}
                            {{ form.Label(for_id='suggested_group', text='Gemeldet für') }}
                            {{ form.Input(id='suggested_group', name='suggested_group', value=(registration.suggested_group or '')) }}
                        {% endcall %}
                        {% call layout.GridColumn(large_span=4) %}
                            {{ form.Label(for_id='verified_weight', text='Kontr. Gewicht') }}
                            {{ form.InputWithSuffix(id='verified_weight', name='verified_weight', value=(registration.verified_weight / 1000 if registration.verified_weight else ''), type="number", attr=('step="0.01" min="0"'|safe), suffix="kg", required=True) }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
                {% call layout.GridColumn(large_span=4) %}
                    {{ form.FormCheckLabel(text='Status')}}
                    {{ form.FormCheck(name='confirmed', id='status-confirmed', label='Anmeldung bestätigt', class=('text-success' if registration.confirmed else 'fw-bold text-danger'), checked=registration.confirmed) }}
                    {{ form.FormCheck(name='registered', id='status-registered', label='Akkreditiert', class=('text-success' if registration.registered else 'fw-bold text-danger'), checked=registration.registered) }}
                    {{ form.FormCheck(name='weighed_in', id='status-weighed_in', label='Eingewogen', class=('text-success' if registration.weighed_in else 'fw-bold text-danger'), checked=registration.weighed_in) }}
                    {{ form.FormCheck(name='placed', id='status-placed', label='Platziert', checked=registration.placed, disabled=True) }}

                    {% if registration.participants.count() >= 1 %}

                    {{ form.FormCheckLabel(text='Gruppen', class="mt-3")}}

                    <ul class="list-unstyled">
                        {% for p in registration.participants.all() %}
                        <li>{{ p.group.title }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endcall %}
            {% endcall %}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
            {{ buttons.SecondaryButton(href=url_for('event_manager.registrations', event=g.event.slug), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>