<h1 class="mb-5">Anmeldungen</h1>

<div class="nav nav-tabs mb-4">
    <div class="nav-item">
        <a class="nav-link {{ 'active' if curpage == 'registrations' }}"
           {{ 'aria-current="page"' if curpage == 'registrations' }}
           href="{{ url_for('event_manager.registrations', event=g.event.slug) }}">
            Teilnehmende
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link {{ 'active' if curpage == 'associations' }}"
           {{ 'aria-current="page"' if curpage == 'associations' }}
           href="{{ url_for('event_manager.associations', event=g.event.slug) }}">
            Verbände
        </a>
    </div>
</div>