{% set event_page="registrations" %}
{% set curpage = "registrations" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}

{% if filtered_class %}
    {% set query = filtered_class.registrations %}
{% else %}
    {% set query = g.event.registrations %}
{% endif %}

{% block body %}
{% include "event-manager/registrations/_header.html" %}

<h2>Teilnehmende</h2>

<form action="" method="GET" class="row gx-2 mb-4 align-items-center">
    <div class="col-auto">
        <select name="class_filter" id="class_filter" class="form-select">
            <option value="">(alle anzeigen)</option>
            {% for cl in g.event.classes.order_by('title') %}
            <option value="{{ cl.id }}"{{ ' selected' if cl.id == filtered_class.id }}>{{ cl.title }} - {{ cl.registrations.count() }} TN</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-secondary">Filtern</button>
    </div>
    <div class="col-auto">
        <a href="?">Zurücksetzen</a>
    </div>
</form>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Kampfklasse</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Verein</th>
            <th>Verband</th>
            <th>Status</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for reg in query.order_by('last_name', 'first_name', 'club') %}
        <tr>
            <td>{{ reg.event_class.title }}</td>
            <td>{{ reg.last_name }}</td>
            <td>{{ reg.first_name }}</td>
            <td>{{ reg.club }}</td>
            <td>{{ reg.association.short_name if reg.association else "-" }}</td>
            <td>
                {% if reg.weighed_in %}
                Eingewogen auf:<br>
                <strong>{{ reg.verified_weight / 100 }} kg</strong>.
                {% if not reg.registered %}<br><span class="text-danger">TN wurde noch nicht angemeldet.</span>{% endif %}
                {% elif reg.registered %}
                <strong>Angemeldet</strong>.<br>
                Warten auf Wiegedaten.
                {% elif reg.confirmed %}
                Voranmeldung <strong>bestätigt</strong>.
                {% else %}
                Voranmeldung erhalten.
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('event_manager.edit_registration', event=g.event.slug, id=reg.id) }}" class="btn btn-sm btn-primary">Bearbeiten</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('event_manager.create_registration', event=g.event.slug) }}" class="btn btn-primary">TN hinzufügen</a>
<a href="" class="btn btn-secondary">TN importieren</a>
{% endblock body %}