{% import "components/cards.html" as cards %}
{% import "components/form.html" as form %}
{% import "components/buttons.html" as buttons %}

{% extends "layouts/admin.html" %}
{% set curpage = "accts" %}
{% block title %}Administrationsbereich | Rolle {% if action == 'new' %}erstellen{% else %}bearbeiten: {{ role.name }}{% endif %}{% endblock %}
{% block body %}

<h1>Rolle {{ 'erstellen' if action == 'new' else 'bearbeiten' }}</h1>

<form action="" method="POST">
    {% call cards.Card() %}
        {% call cards.CardBody() %}
            <h3>Eigenschaften</h3>

            {{ form.Label(for_id="name", text="Name") }}
            {{ form.Input(id="name", name="name", value=role.name or '') }}

            {{ form.Label(for_id="description", text="Beschreibung") }}
            {{ form.Textarea(id="description", name="description", value=role.description or '', size="small") }}
        {% endcall %}
        {% call cards.CardBody() %}
            <h3>Berechtigungen</h3>
            {% call form.FormCheck(id="perm-is_admin", name="is_admin", checked=role.is_admin, disabled=(not current_user.has_privilege('admin')), class="p-1") %}
                <h4 class="fs-5 fw-bold my-0">Administrator*in</h4>
                <div class="m-0 mt-1">Nutzer*innen mit dieser Rolle haben alle Berechtigungen und volle, uneingeschränkte Kontrolle über die Plattform.<br>ROLLEN MIT DIESER BERECHTIGUNG NUR AN VERTRAUENSWÜRDIGE PERSONEN VERGEBEN!</div>
            {% endcall %}
            
            {% call form.FormCheck(id="perm-is_support", name="is_support", checked=role.is_support, disabled=(not current_user.has_privilege('support')), class="p-1") %}
                <h4 class="fs-5 fw-bold my-0">Support</h4>
                <div class="m-0 mt-1">Nutzer*innen mit dieser Rolle können Hilfe-Tickets einsehen und bearbeiten.</div>
            {% endcall %}
            
            {% call form.FormCheck(id="perm-may_manage_users", name="may_manage_users", checked=role.may_manage_users, disabled=(not current_user.has_privilege('manage_users')), class="p-1") %}
                <h4 class="fs-5 fw-bold my-0">Konten und Rollen verwalten</h4>
                <div class="m-0 mt-1">Nutzer*innen mit dieser Rolle können die Eigenschaften von anderen Benutzerkonten und von Rollen verwalten. Sie können nur solche Rechte vergeben, die sie auch selber haben.</div>
            {% endcall %}
            
            {% call form.FormCheck(id="perm-may_create_tournaments", name="may_create_tournaments", checked=role.may_create_tournaments, disabled=(not current_user.has_privilege('create_tournaments')), class="p-1") %}
                <h4 class="fs-5 fw-bold my-0">Turniere anlegen</h4>
                <div class="m-0 mt-1">Nutzer*innen mit dieser Rolle können neue Turniere erstellen und Nutzer*innen oder Rollen zuweisen.</div>
            {% endcall %}
            
            {% call form.FormCheck(id="perm-may_alter_presets", name="may_alter_presets", checked=role.may_alter_presets, disabled=(not current_user.has_privilege('alter_presets')), class="p-1") %}
                <h4 class="fs-5 fw-bold my-0">Voreinstellungen ändern</h4>
                <div class="m-0 mt-1">Nutzer*innen mit dieser Rolle können Voreinstellungen (z. B. Kampfklassen) erstellen und ändern.</div>
            {% endcall %}
    {% endcall %}
    {% call cards.CardFooter() %}
        {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
        {{ buttons.SecondaryButton(href=url_for('admin.roles'), text="Abbrechen") }}
    {% endcall %}
{% endcall %}
</form>
{% endblock body %}