{% extends "layouts/admin.html" %}
{% set curpage = "accts" %}
{% block title %}Administrationsbereich | Rolle {% if action == 'new' %}erstellen{% else %}bearbeiten: {{ role.name }}{% endif %}{% endblock %}
{% block body %}

<h1>Rolle {{ 'erstellen' if action == 'new' else 'bearbeiten' }}{% if action == 'edit' %}<br><span class="fs-4">{{ role.name }}</span>{% endif %}</h1>

<form action="" method="POST">
    <div class="mb-3 d-flex gap-1">
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a href="{{ url_for('admin.roles') }}" class="btn btn-secondary">Abbrechen</a>
    </div>
    <h3 class="fw-bold mt-4 mb-3">Eigenschaften</h3>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name" id="name" value="{{ role.name }}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Beschreibung</label>
        <textarea name="description" id="description" class="form-control" rows="3">{{ role.description or '' }}</textarea>
    </div>

    <h3 class="fw-bold mt-4 mb-3">Berechtigungen</h3>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="is_admin" id="perm-is_admin" {{ 'checked' if role.is_admin }} {{ 'disabled' if not current_user.has_privilege('admin') }}>
        <label class="form-check-label mb-1" for="perm-is_admin">
            Administrator*in
        </label>
        <div class="form-text mt-0">Nutzer*innen mit dieser Rolle haben alle Berechtigungen und volle, uneingeschränkte Kontrolle über die Plattform.<br>ROLLEN MIT DIESER BERECHTIGUNG NUR AN VERTRAUENSWÜRDIGE PERSONEN VERGEBEN!</div>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="may_manage_users" id="perm-may_manage_users" {{ 'checked' if role.may_manage_users }} {{ 'disabled' if not current_user.has_privilege('manage_users') }}>
        <label class="form-check-label mb-1" for="perm-may_manage_users">
            Konten und Rollen verwalten
        </label>
        <div class="form-text mt-0">Nutzer*innen mit dieser Rolle können die Eigenschaften von anderen Benutzerkonten und von Rollen verwalten. Sie können nur solche Rechte vergeben, die sie auch selber haben.</div>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="may_create_tournaments" id="perm-may_create_tournaments" {{ 'checked' if role.may_create_tournaments }} {{ 'disabled' if not current_user.has_privilege('create_tournaments') }}>
        <label class="form-check-label mb-1" for="perm-may_create_tournaments">
            Turniere anlegen
        </label>
        <div class="form-text mt-0">Nutzer*innen mit dieser Rolle können neue Turniere erstellen und Nutzer*innen oder Rollen zuweisen.</div>
    </div>
</form>
{% endblock body %}