{% import "components/datasets.html" as datasets %}
{% import "components/buttons.html" as buttons %}

{% extends "layouts/admin.html" %}
{% set curpage = "roles" %}
{% block title %}Administrationsbereich | Rollen{% endblock %}
{% block body %}
{% include "admin/user/_header.html" %}

<h2>Rollen</h2>

{% call datasets.Dataset() %}
    {% call datasets.Table() %}
        {% call datasets.TableHead() %}
            {{ datasets.TableHeadColumn(text="ID") }}
            {{ datasets.TableHeadColumn(text="Name") }}
            {{ datasets.TableHeadColumn(text="Beschreibung") }}
            {{ datasets.TableHeadColumn(text="Berechtigungen") }}
            {{ datasets.TableHeadEmptyColumn() }}
        {% endcall %}
        {% call datasets.TableBody() %}
            {% for role in all_roles %}
                {% call datasets.TableRow() %}
                    {{ datasets.TableColumn(text=role.id) }}
                    {{ datasets.TableColumn(text=role.name) }}
                    {{ datasets.TableColumn(text=role.description or '-') }}
                    {% call datasets.TableColumn() %}
                        <ul class="list-unstyled">
                            {% if role.is_admin %}<li class="my-0">alle (Admin-Rechte)</li>{% endif %}
                            {% if role.is_support %}<li class="my-0">Support</li>{% endif %}
                            {% if role.may_create_tournaments %}<li class="my-0">Turniere erstellen</li>{% endif %}
                            {% if role.may_manage_users %}<li class="my-0">Benutzerverwaltung</li>{% endif %}
                            {% if role.may_alter_presets %}<li class="my-0">Voreinstellungen</li>{% endif %}
                        </ul>
                    {% endcall %}
                    {% call datasets.TableButtonsColumn() %}
                        {% call buttons.SubtleButton(href=url_for('admin.edit_role', id=role.id), inline=True) %}
                            {{ buttons.ButtonIcon(icon="edit-pencil") }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endcall %}

{{ buttons.PrimaryButton(href=url_for('admin.new_role'), text="Rolle erstellen") }}

{% endblock body %}