{% import "components/datasets.html" as datasets %}
{% import "components/buttons.html" as buttons %}

{% extends "layouts/admin.html" %}
{% set curpage = "accts" %}
{% block title %}Administrationsbereich | Kontenübersicht{% endblock %}
{% block body %}
{% include "admin/user/_header.html" %}

<h2>Benutzerkonten</h2>

{% call datasets.Dataset() %}
    {% call datasets.Table() %}
        {% call datasets.TableHead() %}
            {{ datasets.TableHeadColumn(text="ID") }}
            {{ datasets.TableHeadColumn(text="Name") }}
            {{ datasets.TableHeadColumn(text="E-Mail") }}
            {{ datasets.TableHeadColumn(text="Rollen") }}
            {{ datasets.TableHeadColumn(text="Status") }}
            {{ datasets.TableHeadEmptyColumn() }}
        {% endcall %}
        {% call datasets.TableBody() %}
            {% for user in all_user %}
                {% call datasets.TableRow() %}
                    {{ datasets.TableColumn(text=user.id) }}
                    {{ datasets.TableColumn(text=user.display_name or '-') }}
                    {{ datasets.TableColumn(text=user.email) }}
                    {% call datasets.TableColumn() %}
                        {% for role in user.roles %}
                            <span class="badge my-0 text-bg-{{ 'secondary' if not role.is_admin else 'primary' }}" title="{{ role.description }}">{{ role.name }}</span>
                        {% endfor %}
                    {% endcall %}
                    {% call datasets.TableColumn() %}
                        {% if user.active %}
                            <span class="fw-bold text-success">Aktiv</span>
                        {% else %}
                            <span class="text-danger">Inaktiv</span>
                        {% endif %}
                    {% endcall %}
                    {% call datasets.TableButtonsColumn() %}
                        {% call buttons.SubtleButton(href=url_for('admin.edit_user', id=user.id), inline=True) %}
                            {{ buttons.ButtonIcon(icon="edit-pencil") }}
                        {% endcall %}
                        {% call buttons.SubtleDangerButton(type="submit", inline=True,
                            attr='form="toggle-active-' ~ user.id ~ '"') %}
                            {{ buttons.ButtonIcon(icon="lock" if user.active else "lock-slash") }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
                <form action="{{ url_for('admin.user_toggle_active', id=user.id) }}" method="POST" class="d-flex" id="toggle-active-{{ user.id }}"></form>
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endcall %}
{% endblock body %}