{% extends "layouts/application.html" %}
{% block title %}Willkommen!{% endblock %}
{% block body %}

<div class="container my-5">
    <h1>Willkommen!</h1>
    <p class="lead mb-0">Sie haben von Ihrer/m Administrator/in die Aufgabe <strong>{{ g.device.event_role.name }}</strong> an {{ g.device.position.title }} zugewiesen bekommen.</p>
    <p class="lead mb-0">Wählen Sie eine der Ihnen zugewiesenen Systemkomponenten aus, um loszulegen.</p>

    <div class="row g-3 mt-3">
        {% if g.device.event_role.may_use_registration %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="{{ url_for('mod_registrations.index', event=g.event.slug) }}" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">📝</div>
                    <h3>Anmeldungen</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_weigh_in %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="{{ url_for('mod_weighin.index', event=g.event.slug) }}" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">⚖️</div>
                    <h3>Waage</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_placement_tool %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="{{ url_for('mod_placement.index', event=g.event.slug) }}" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">🎲</div>
                    <h3>Einteilung</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_global_list %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">📜</div>
                    <h3>Hauptliste</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_assigned_lists %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">🗒️</div>
                    <h3>Listen</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_scoreboard %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="{{ url_for('mod_scoreboard.standalone', event=g.event.slug)}}" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">🖥️</div>
                    <h3>Scoreboard<br>(nur Anzeige)</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_assigned_lists and g.device.event_role.may_use_scoreboard %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">🗒️🖥️</div>
                    <h3>Scoreboard<br>(mit Liste)</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_display %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">📽️</div>
                    <h3>Listenanzeige</h3>
                </div>
            </a>
        </div>
        {% endif %}
        {% if g.device.event_role.may_use_results %}
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="card card-link">
                <div class="card-body p-3">
                    <div class="cll-icon">🏅</div>
                    <h3>Ergebnisse</h3>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock body %}