{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 class="h2 fw-bold mb-4">{{ event_class.title }} &ndash; Gewichtsnahe Gruppen</h1>

    
    <h3 class="h4 fw-bold mb-2">Verbleibende TN zuweisen</h3>
    <form action="" method="POST">
        <div class="card card-semidialog mb-3">
            <div class="card-body">
                <p class="fw-bold">Die Einteilung erfolgt nach gewichtsnahen Gruppen.</p>
                <p>Es wird die folgende Einteilung</p>
                <ul>
                    {% if event_class.proximitiy_uses_percentage_instead_of_absolute %}
                    <li>mit einem Höchstabstand von {{ event_class.default_maximal_proximity }}% und</li>
                    {% else %}
                    <li>mit einem Höchstabstand von {{ event_class.default_maximal_proximity / 1000 }}kg und</li>
                    {% endif %}
                    <li>mit einer Gruppengröße von höchstens {{ event_class.default_maximal_size }} TN</li>
                </ul>
                <p>vorgeschlagen. Die schwarzen Balken zeigen an, wo Gruppengrenzen gezogen werden.</p>
                <p>Durch Klick auf den schwarzen bzw. grauen Balken kann geändert werden, ob an dieser Stelle eine Gruppengrenze gezogen werden soll.</p>
                <ol class="segmentation">
                    {% for reg in registrations.all() %}
                    {% if not loop.first %}
                    <li class="segmentation-control">
                        <input type="checkbox" id="before_{{ reg.id }}" name="before" value="{{ reg.id }}" class="segmentation-checkbox" {{ 'checked' if default_segmentation[reg.id] }}>
                        <label for="before_{{ reg.id }}" class="segmentation-label">Hier abgrenzen</label>
                    </li>
                    {% endif %}
                    <li class="segmentation-item">
                        <strong>{{ reg.verified_weight / 1000 }} kg</strong> &ndash; {% if g.event.setting('proximity_placement.hide_name', False) %}<span class="font-monospace">{{ reg.anon_name() }}</span>{% else %}{{ reg.first_name }} {{ reg.last_name }}{% endif %} ({% if g.event.setting('proximity_placement.hide_club', False) %}<span class="font-monospace">{{ reg.anon_club() }}</span>{% else %}{{ reg.association.name if g.event.setting('use_association_instead_of_club', False) and reg.association else reg.club }}{% endif %})
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Zuweisung vornehmen</button>
                <a href="{{ url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id) }}" class="btn btn-secondary">Abbrechen</a>
            </div>
        </div>
    </form>
</div>

{% endblock body %}