{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/segmentation.html" as segmentation -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1>Kampfklasse {{ event_class.title }}</h1>    
    <h2 class="fs-3">Verbleibende TN zuweisen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p class="fw-bold">Die Einteilung erfolgt nach gewichtsnahen Gruppen.</p>
                <p>Es wird die folgende Einteilung</p>
                <ul>
                    {% if event_class.default_maximal_proximity %}
                    {% if event_class.proximity_uses_percentage_instead_of_absolute %}
                    <li class="my-0">mit einem Höchstabstand von {{ event_class.default_maximal_proximity }}% und</li>
                    {% else %}
                    <li class="my-0">mit einem Höchstabstand von {{ event_class.default_maximal_proximity / 1000 }}kg und</li>
                    {% endif %}
                    {% endif %}
                    <li class="my-0">mit einer Gruppengröße von je höchstens {{ event_class.default_maximal_size }} TN{% if event_class.default_maximal_group_count %} und{% endif %}</li>
                    {% if event_class.default_maximal_group_count %}
                    <li class="my-0">mit höchstens {{ event_class.default_maximal_group_count }} unterschiedlichen Gruppen</li>
                    {% if event_class.proximity_prefer_group_count_over_proximity %}
                    <li class="my-0">wobei bei Widersprüchen die Anzahl der Gruppen Vorrang genießt</li>
                    {% else %}
                    <li class="my-0">wobei bei Widersprüchen die Anzahl der TN je Gruppe Vorrang genießt</li>
                    {% endif %}
                    {% endif %}
                </ul>
                <p>vorgeschlagen. Die schwarzen Balken zeigen an, wo Gruppengrenzen gezogen werden.</p>
                <p>Der Versuch der automatische Einteilung hat eine Einteilung mit {{ group_count }} Gruppen gefunden.</p>
                {% if event_class.proximity_prefer_group_count_over_proximity and group_count > event_class.default_maximal_group_count %}
                <p class="fw-bold text-danger">Wegen des Höchstabstands zwischen zwei TN einer Gruppe kann die Höchstanzahl der Gruppen durch die automatische Einteilung nicht eingehalten werden. Ggf. anpassen oder unten korrigieren.</p>
                {% endif %}
                <p>Durch Klick auf den schwarzen bzw. grauen Balken kann geändert werden, ob an dieser Stelle eine Gruppengrenze gezogen werden soll. Durch einen Klick auf die Eintragung für eine TN, können Sie diese TN aus der Einteilung ausnehmen, z. B. weil diese TN später manuell zugewiesen werden soll.</p>

                {% call segmentation.Segmentation() %}
                    {% for reg in registrations.all() %}
                        {% if not loop.first %}
                            {{ segmentation.SegmentationControl(id='before_'~reg.id, name='before', value=reg.id, checked=default_segmentation[reg.id]) }}
                        {% endif %}
                        {% call segmentation.SegmentationItem(checkbox=True, id="allow_" ~ reg.id, name="allow", value=reg.id, checked=True) %}
                            <strong>{{ reg.verified_weight / 1000 }} kg</strong> &ndash; {% if g.event.setting('proximity_placement.hide_name', False) %}<span class="font-monospace">{{ reg.anon_name() }}</span>{% else %}{{ reg.first_name }} {{ reg.last_name }}{% endif %}
                                ({% if g.event.setting('proximity_placement.hide_club', False) %}<span class="font-monospace">{{ reg.anon_club() }}</span>{% else %}{{ reg.for_club(g.event.setting('show_for_club', 'club')) }}{% endif %})
                        {% endcall %}
                    {% endfor %}
                {% endcall %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Zuweisen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}

{% block custom_header %}
<script src="{{ url_for('static', filename='application/proximity_helper.js') }}" defer></script>
{% endblock custom_header %}