{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1>Kampfklasse {{ event_class.title }}</h1>    
    <h2 class="fs-3">Verbleibende TN zuweisen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p class="fw-bold">Die Einteilung erfolgt in die folgenden Gewichtsklassen:</p>
                <ul>
                    {% for cl in weight_classes %}
                    {% if cl[1][0] and cl[1][1] %}
                    <li class="my-0"><strong>{{ cl[0] }}</strong> (über {{ cl[1][0] }} kg bis {{ cl[1][1] }} kg)</li>
                    {% elif cl[1][0] %}
                    <li class="my-0"><strong>{{ cl[0] }}</strong> (über {{ cl[1][0] }} kg)</li>
                    {% elif cl[1][1] %}
                    <li class="my-0"><strong>{{ cl[0] }}</strong> (bis {{ cl[1][1] }} kg)</li>
                    {% endif %}
                    {% endfor %}
                </ul>

                {{ form.Label(for_id='tolerance', text='mit folgender Toleranz:') }}
                {{ form.InputWithSuffix(id='tolerance', name='tolerance', value=0.1, type="number", attr=('step="0.1" min="0" max="3"'|safe), suffix="kg") }}
            {% endcall %}
            {% call cards.CardBody() %}
                <h4>Fortgeschrittene Einstellungen</h4>

                {{ form.Label(for_id='create_new', text='Neue Gruppen erstellen') }}
                {% call form.Select(id='create_new', name='create_new') %}
                    {{ form.SelectOption(value='yes', text='Für alle Gewichtsklassen neue Gruppen erstellen', selected=defaults_to_all_new_classes) }}
                    {{ form.SelectOption(value='if-required', text='Neue Gruppen erstellen, wenn notwendig', selected=(not defaults_to_all_new_classes)) }}
                    {{ form.SelectOption(value='no', text='Keine neuen Gruppen erstellen') }}
                {% endcall %}
                {{ form.FormNotice(text='Von der Standardeinstellung sollte nur abgewichen werden, wenn bereits adäquate, sämtliche Gewichtsbereiche abdeckende Gruppen erstellt worden sind. Andernfalls kann es zu Überschneidungen und unerwarteten Ergebnissen kommen.') }}

                {{ form.Label(for_id='use_old', text='Manuell erstellte Gruppen verwenden') }}
                {% call form.Select(id='use_old', name='use_old') %}
                    {{ form.SelectOption(value='no', text='Nein', selected=True) }}
                    {{ form.SelectOption(value='yes', text='Ja') }}
                {% endcall %}
                {{ form.FormNotice(text='Hinweis: die Einteilung erfolgt, wenn neue Gruppen erstellt werden, nur zusätzlich in die manuell erstellten Gruppen.') }}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Zuweisen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}