{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1 class="h2 fw-bold mb-4">Kampfklasse {{ event_class.title }}</h1>
    <h2 class="fs-3">TN zuweisen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                {{ form.Label(for_id='group', text='In die Gruppe:') }}
                {% call form.Select(id='group', name='group') %}
                    {{ form.SelectDefaultOption() }}
                    {% for gr in event_class.groups.all() %}
                        {{ form.SelectOption(value=gr.id, selected=(group and group.id == gr.id), text=gr.title) }}
                    {% endfor %}
                {% endcall %}
                {{ form.FormCheckLabel(text='wird zugewiesen…') }}

                {{ form.FormRadio(id='participant-registration', name='participant', value='registration', label='folgende/r angemeldete/r und eingewogene/r TN:', checked=registration, class='p-1')}}

                <div class="ml-4">
                    {{ form.Label(for_id='registration', text='Teilnehmer/in') }}

                    {% call form.Select(id='registration', name='registration') %}
                        {{ form.SelectDefaultOption() }}
                        {% for reg in registrations.all() %}
                            {% call form.SelectOption(value=reg.id, selected=(registration and registration.id == reg.id)) %}
                                {{ reg.last_name }}, {{ reg.first_name }} &ndash; {{ reg.for_club(g.event.setting('show_for_club', 'club')) }} ({{ reg.verified_weight / 1000 }} kg)
                            {% endcall %}
                        {% endfor %}
                    {% endcall %}
                </div>

                {{ form.FormRadio(id='participant-custom', name='participant', value='custom', label='folgende/r neu angelegte/r TN:', checked=not registration, class='p-1')}}

                <div class="ml-4">
                    {{ form.Label(for_id='custom-full_name', text='Vor- und Nachname') }}
                    {{ form.Input(id='custom-full_name', name='custom-full_name', value=request.form.get('custom-full_name', '')) }}

                    {{ form.Label(for_id='custom-association', text='Verein/Verband') }}
                    {{ form.Input(id='custom-association', name='custom-association', value=request.form.get('custom-association', '')) }}
                </div>
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Zuweisen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id, group=(group.id if group else None)), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}