{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1 class="h2 fw-bold mb-4">Kampfklasse {{ event_class.title }}</h1>
    <h2 class="fs-3">TN austragen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p>Wollen Sie {{ participant.full_name }} aus der Gruppe {{ participant.group.title }} austragen?</p>
                {% if registration %}
                {% if registration.participants.count() == 2 %}
                <p>TN verbleibt in einer weiteren Gruppe.</p>
                {% elif registration.participants.count() > 2 %}
                <p>TN verbleibt in {{ registration.participants.count() }} weiteren Gruppen.</p>
                {% else %}
                <p>TN wäre in Folge nicht mehr zugewiesen.</p>
                {% endif %}
                {% endif %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.DangerButton(type='submit', text='Austragen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id, group=participant.group.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}