{% import "components/cards.html" as cards %}
{% import "components/buttons.html" as buttons %}
{% import "components/form.html" as form %}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}

<h1>Scoreboard-Regelwerk {{ 'erstellen' if action == 'new' else 'bearbeiten' }}</h1>

<form action="" method="POST">
    {% call cards.Card(class="width-medium mx-0") %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id="title", text="Bezeichnung") }}
            {{ form.Input(id="title", name="title", value=scoreboard_ruleset.title or '') }}

            {{ form.Label(for_id="rules", text="Regelwerk (JSON)") }}
            {{ form.Textarea(id="rules", name="rules", value=scoreboard_ruleset.rules or '', class="large") }}
            {% call form.FormNotice() %}
                Mehr Infos zur <a href="https://tatami-judo.de/docs/sb-rulesets/" target="_blank">Darstellung des Regelwerks</a>
            {% endcall %}

            {% call form.FormCheck(id="enabled", name="enabled", checked=scoreboard_ruleset.enabled) %}
                Regelwerk ist <strong>aktiviert</strong> und kann gewählt werden
            {% endcall %}

            {% call form.FormCheck(id="is_default", name="is_default", checked=scoreboard_ruleset.is_default) %}
                Regelwerk wird <strong>standardmäßig</strong> für alle Turniere verwendet, die neu angelegt werden oder kein anderes Regelwerk ausgewählt haben
            {% endcall %}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
            {{ buttons.SecondaryButton(href=url_for('admin.presets'), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>
{% endblock body %}