<form action="" method="POST">
    <div class="mt-3 mb-5 d-flex gap-1">
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a href="{{ url_for('event_manager.associations', event=g.event.slug) }}" class="btn btn-secondary">Abbrechen</a>
    </div>

    <div class="mb-3">
        <label for="short_name" class="form-label">Kürzel</label>
        <input name="short_name" id="short_name" value="{{ association.short_name or '' }}" class="form-control">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Bezeichnung</label>
        <input name="name" id="name" value="{{ association.name or '' }}" class="form-control">
    </div>
</form>