{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}

<form action="" method="POST">
    <div class="d-flex mb-3">
        {{ buttons.PrimaryButton(type='submit', text='Speichern') }}
        {{ buttons.SecondaryButton(href=url_for('event_manager.associations', event=g.event.slug), text='Abbrechen') }}
    </div>

    {{ form.Label(for_id='short_name', text='Kürzel') }}
    {{ form.Input(id='short_name', name='short_name', value=(association.short_name or '')) }}

    {{ form.Label(for_id='name', text='Bezeichnung') }}
    {{ form.Input(id='name', name='name', value=(association.name or '')) }}
</form>