{%- import "components/buttons.html" as buttons -%}
{%- import "components/datasets.html" as datasets -%}

{% set event_page="registrations" %}
{% set curpage = "associations" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}
{% block body %}
{% include "event-manager/registrations/_header.html" %}

<h2>Verbände</h2>

{% call datasets.Table() %}
    {% call datasets.TableHead() %}
        {{ datasets.TableHeadColumn(text="Kürzel") }}
        {{ datasets.TableHeadColumn(text="Bezeichnung") }}
        {{ datasets.TableHeadColumn(text="TN") }}
        {{ datasets.TableHeadEmptyColumn() }}
    {% endcall %}
    {% call datasets.TableBody() %}
        {% for assoc in g.event.associations.order_by('short_name') %}
            {% call datasets.TableRow() %}
                {{ datasets.TableColumn(text=assoc.short_name) }}
                {{ datasets.TableColumn(text=assoc.name) }}
                {{ datasets.TableColumn(text=assoc.registrations.count() ~ " TN") }}
                {% call datasets.TableButtonsColumn() %}
                    {% call buttons.SubtleButton(href=url_for('event_manager.edit_association', event=g.event.slug, id=assoc.id), inline=True) %}
                        {{ buttons.ButtonIcon(icon='edit-pencil') }}
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endcall %}

{{ buttons.SecondaryButton(href=url_for('event_manager.create_association', event=g.event.slug), text="Verband hinzufügen") }}

{% endblock body %}