{%- import "components/buttons.html" as buttons -%}
{%- import "components/list.html" as list -%}
{%- import "components/alerts.html" as alerts -%}

{% extends "layouts/splash.html" %}
{% block title %}Willkommen!{% endblock %}
{% block body %}
<div class="text-right">
    {{ buttons.SubtleButton(href=url_for('admin.index'), text="Zum Administrationsbereich") }}
</div>

<h1>Anmeldung</h1>
<p class="lead">Wählen Sie eine Veranstaltung aus, um sich in diese einzuwählen.</p>

{% if avail_events %}

{% call list.List() %}
    {% for event in avail_events %}
        {% call list.ListItem(href=url_for('devices.register', event=event.slug)) %}
            {% call list.ListItemBody() %}
                {{ list.ListItemBodyHeader(event.title) }}
                {{ list.ListItemBodyDetail(event.first_day.strftime("%d.%m.%Y") ~ " – " ~ event.last_day.strftime("%d.%m.%Y")) }}
                {{ list.ListItemBodyDetail(event.slug) }}
            {% endcall %}
        {% endcall %}
    {% endfor %}
{% endcall %}
<p>Fehlt eine Veranstaltung? Administrator/innen können sich im <a href="{{ url_for('admin.index') }}">Administrationsbereich</a> anmelden und dort Turniere zur Anmeldung freischalten.</p>

{% else %}

{% call alerts.WarningAlert() %}
    <p>Kein aktuelles Turnier verfügbar.</p>
    <p>Administrator/innen können sich im <a href="{{ url_for('admin.index') }}">Administrationsbereich</a> anmelden und dort Turniere zur Anmeldung freischalten.</p>
{% endcall %}

{% endif %}
{% endblock body %}