{% extends "layouts/splash.html" %}
{% block title %}Willkommen!{% endblock %}
{% block body %}
<div class="float-end">
    <a href="{{ url_for('admin.index') }}" class="btn btn-dark">Zum Administrationsbereich</a>
</div>
<h1>Anmeldung</h1>
<p class="lead">Wählen Sie eine Veranstaltung aus, um sich in diese einzuwählen.</p>

{% if avail_events %}
<div class="list-group list-group-flush mb-3">
    {% for event in avail_events %}
    <a href="{{ url_for('devices.register', event=event.slug) }}" class="list-group-item list-group-item-action">
        <div>
            <strong>{{ event.title }}</strong>
            ({{ event.first_day.strftime("%d.%m.%Y") }} &ndash; {{ event.last_day.strftime("%d.%m.%Y") }})
        </div>
        <div class="font-monospace small">{{ event.slug }}</div>
    </a>
    {% endfor %}
</div>
<p>Fehlt eine Veranstaltung? Administrator/innen können sich im <a href="{{ url_for('admin.index') }}">Administrationsbereich</a> anmelden und dort Turniere zur Anmeldung freischalten.</p>
{% else %}
<div class="alert alert-warning">
    <p>Kein aktuelles Turnier verfügbar.</p>
    <p>Administrator/innen können sich im <a href="{{ url_for('admin.index') }}">Administrationsbereich</a> anmelden und dort Turniere zur Anmeldung freischalten.</p>
</div>
{% endif %}
{% endblock body %}