<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TATAMI Scoreboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='application/scoreboard/scoreboard.css') }}">
    <script src="{{ url_for('static', filename='application/scoreboard/scoreboard.js') }}" defer></script>
</head>
<body>
    <div class="view view-main view-active" data-sbf-view="main">
        <div class="main-grid">

            <div class="main-row-name row-white">
                <span class="name" data-sbf="tatami-scoreboard:white:name+club">Kämpfer*in Weiß (Verein Weiß)</span>
            </div>
            <div class="main-row-score row-white">
                <div class="score-text" data-sbf="tatami-scoreboard:white:ippon"></div>
                <div class="score-grid">
                    <div class="score-osaekomi">
                        <div class="time-osaekomi" data-sbf="tatami-scoreboard:time:osaekomi:white"></div>
                    </div>
                    <div class="score-wazaari" data-sbf-id="tatami-scoreboard:white:wazaari"><div class="token">W</div></div>
                    <div class="score-shido" data-sbf-id="tatami-scoreboard:white:shido+hansokumake">
                        <div class="card-shido hidden"></div>
                        <div class="card-shido hidden"></div>
                        <div class="card-hansokumake hidden"></div>
                    </div>
                </div>
            </div>

            <div class="main-row-name row-blue">
                <span class="name" data-sbf="tatami-scoreboard:blue:name+club">Kämpfer*in Blau (Verein Blau)</span>
            </div>
            <div class="main-row-score row-blue">
                <div class="score-text" data-sbf="tatami-scoreboard:blue:ippon"></div>
                <div class="score-grid">
                    <div class="score-osaekomi">
                        <div class="time-osaekomi" data-sbf="tatami-scoreboard:time:osaekomi:blue"></div>
                    </div>
                    <div class="score-wazaari" data-sbf-id="tatami-scoreboard:blue:wazaari"><div class="token">W</div></div>
                    <div class="score-shido" data-sbf-id="tatami-scoreboard:blue:shido+hansokumake">
                        <div class="card-shido hidden"></div>
                        <div class="card-shido hidden"></div>
                        <div class="card-hansokumake hidden"></div>
                    </div>
                </div>
            </div>

            <div class="main-row-time" data-sbf-id="tatami-scoreboard:time:flash">
                <div class="time-grid">
                    <div class="time-header" data-sbf="tatami-scoreboard:mat-number">Matte X</div>
                    <div class="time-main" data-sbf-id="tatami-scoreboard:time:running">
                        <div class="time-main-box" data-sbf="tatami-scoreboard:time:main">0:00</div>
                        <div class="time-main-label" data-sbf="tatami-scoreboard:time:golden-score"></div>
                    </div>
                    <div class="time-lower">
                        <div class="time-class" data-sbf="tatami-scoreboard:class">Klasse</div>
                        <div class="time-footer" data-sbf="tatami-scoreboard:progress">Runde</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view view-callup" data-sbf-view="callup">
        <div class="callup-grid">
            <div class="callup-row-meta">
                <div class="meta-matnr" data-sbf="tatami-scoreboard:mat-number">Matte X</div>
                <div class="meta-class" data-sbf="tatami-scoreboard:class">Klasse</div>
                <div class="meta-round" data-sbf="tatami-scoreboard:progress">Runde</div>
            </div>
            <div class="callup-row-fighter fighter-white">
                <div class="fighter-name" data-sbf="tatami-scoreboard:white:name">Kämpfer*in Weiß</div>
                <div class="fighter-club" data-sbf="tatami-scoreboard:white:club">Verein Weiß</div>
            </div>
            <div class="callup-row-fighter fighter-blue">
                <div class="fighter-name" data-sbf="tatami-scoreboard:blue:name">Kämpfer*in Blau</div>
                <div class="fighter-club" data-sbf="tatami-scoreboard:blue:club">Verein Blau</div>
            </div>
            <div class="callup-row-prepare">
                <div class="prepare-group">
                    <div class="prepare-cta">Vorbereiten:</div>
                    <div class="prepare-group" data-sbf="tatami-scoreboard:prepare:class">VKlasse</div>
                </div>
                <div class="prepare-fighter fighter-white">
                    <div class="fighter-color"></div>
                    <div class="fighter-call" data-sbf="tatami-scoreboard:prepare:white:name+club">Vorbereiten Weiß (Verein VWeiß)</div>
                </div>
                <div class="prepare-fighter fighter-blue">
                    <div class="fighter-color"></div>
                    <div class="fighter-call" data-sbf="tatami-scoreboard:prepare:blue:name+club">Vorbereiten Blau (Verein BWeiß)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="view view-break" data-sbf-view="break">
        <div class="break-grid">
            <div class="break-label">Unterbrechung</div>
            <div class="break-matnr" data-sbf="tatami-scoreboard:mat-number">Matte X</div>
        </div>
    </div>
    <div class="view view-winner winner-white" data-sbf-view="winner:white">
        <div class="winner-grid">
            <div class="winner-label" data-sbf="tatami-scoreboard:mat-number">Matte X</div>
            <div class="winner-name" data-sbf="tatami-scoreboard:winner:name">Kämpfer*in Weiß</div>
            <div class="winner-club" data-sbf="tatami-scoreboard:winner:club">Verein Weiß</div>
        </div>
    </div>
    <div class="view view-winner winner-blue" data-sbf-view="winner:blue">
        <div class="winner-grid">
            <div class="winner-label" data-sbf="tatami-scoreboard:mat-number">Matte X</div>
            <div class="winner-name" data-sbf="tatami-scoreboard:winner:name">Kämpfer*in Blau</div>
            <div class="winner-club" data-sbf="tatami-scoreboard:winner:club">Verein Blau</div>
        </div>
    </div>
</body>
</html>