{%- import "components/layout.html" as layout -%}
{%- import "components/badges.html" as badges -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/application.html" %}
{% block title %}Hauptliste | Kampfklassen-Fortschritt{% endblock %}
{% block body %}
{% call layout.Container() %}

<h1>Hauptliste</h1>
<h2>Kampfklassen-Fortschritt</h2>

{% for cl in g.event.classes.order_by('title') %}
    <h3 class="fs-4 my-2">{{ cl.title }}</h3>

    {% call badges.BadgeControl() %}
        {% if not cl.begin_weigh_in %}
            {{ badges.Badge(text='Ausstehend', style='secondary') }}
            {{ badges.Badge(text='In Waage', style='inactive', href=url_for('mod_global_list.class_step_forward', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Einteilung', style='inactive') }}
            {{ badges.Badge(text='Kämpft', style='inactive') }}
            {{ badges.Badge(text='Beendet', style='inactive') }}
        {% elif not cl.begin_placement %}
            {{ badges.Badge(text='Ausstehend', style='inactive', href=url_for('mod_global_list.class_step_back', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='In Waage', style='info') }}
            {{ badges.Badge(text='Einteilung', style='inactive', href=url_for('mod_global_list.class_step_forward', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Kämpft', style='inactive') }}
            {{ badges.Badge(text='Beendet', style='inactive') }}
        {% elif not cl.begin_fighting %}
            {{ badges.Badge(text='Ausstehend', style='inactive') }}
            {{ badges.Badge(text='In Waage', style='inactive', href=url_for('mod_global_list.class_step_back', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Einteilung', style='warning') }}
            {{ badges.Badge(text='Kämpft', style='inactive', href=url_for('mod_global_list.class_step_forward', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Beendet', style='inactive') }}
        {% elif not cl.ended_fighting %}
            {{ badges.Badge(text='Ausstehend', style='inactive') }}
            {{ badges.Badge(text='In Waage', style='inactive') }}
            {{ badges.Badge(text='Einteilung', style='inactive', href=url_for('mod_global_list.class_step_back', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Kämpft', style='danger') }}
            {{ badges.Badge(text='Beendet', style='inactive', href=url_for('mod_global_list.class_step_forward', event=g.event.slug, id=cl.id)) }}
        {% else %}
            {{ badges.Badge(text='Ausstehend', style='inactive') }}
            {{ badges.Badge(text='In Waage', style='inactive') }}
            {{ badges.Badge(text='Einteilung', style='inactive') }}
            {{ badges.Badge(text='Kämpft', style='inactive', href=url_for('mod_global_list.class_step_back', event=g.event.slug, id=cl.id)) }}
            {{ badges.Badge(text='Beendet', style='success') }}
        {% endif %}
    {% endcall %}
{% endfor %}

{{ buttons.SecondaryButton(text="Zurück", href=url_for('mod_global_list.index', event=g.event.slug), class="mt-4") }}

{% endcall %}
{% endblock body %}