{%- import "components/layout.html" as layout -%}
{%- import "components/colboard.html" as colboard -%}
{%- import "components/list.html" as list -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/dropdown.html" as dropdown -%}
{%- import "components/form.html" as form -%}
{%- import "components/pagination.html" as pagination -%}

{%- from "shared/_match_summary.html" import match_summary -%}

{% extends "layouts/application.html" %}
{% set page='index' %}
{% block title %}Hauptliste{% endblock %}

{% block body %}
{% include "mod_global_list/_header.html" %}

{% call colboard.Colboard() %}
    {% call colboard.ColboardColumn() %}
        {% call colboard.ColboardColumnHeader(title="Kampfgruppen") %}
            {%- call buttons.SubtleButton(href=url_for('mod_list.display_all_pdf', event=g.event.slug), download="all_lists_" ~ now.strftime("%Y-%m-%d_%H-%M-%S") ~ ".pdf") -%}
                {{ buttons.ButtonIcon(icon="multiple-pages-empty", label="PDF") }}
            {%- endcall -%}
            {%- call buttons.SubtleButton(href=url_for('mod_list.display_all_zip', event=g.event.slug)) -%}
                {{ buttons.ButtonIcon(icon="compact-disc", label="ZIP") }}
            {%- endcall -%}
        {% endcall %}
        {% call colboard.ColboardColumnBody() %}
            {% call cards.Card() %}
                {% call cards.CardHeader() %}
                    <div class="d-flex align-center justify-space-between">
                        <div>Ausstehende Kampfgruppen</div>
                        {%- call buttons.SecondaryButton(href=url_for('mod_global_list.rotate_all_groups', event=g.event.slug), inline=True) -%}
                            {{ buttons.ButtonIcon(icon="shuffle", label="Verteilen") }}
                        {%- endcall -%}
                    </div>
                {% endcall %}
                {% call list.List() %}
                    {% for group in free_groups
                        if not group.participants.count() == 0 and group.list_system() != None %}
                        {{ group_entry(group) }}
                    {% else %}
                    </div>
                    {% call cards.CardBody() %}
                        <p>Keine Kampfgruppen verbleibend.</p>
                    {% endcall %}
                    <div>
                    {% endfor %}
                {% endcall %}
            {% endcall %}

            {% for mat in mats %}
                {% call cards.Card() %}
                    {% call cards.CardHeader() %}
                        <div class="d-flex align-center justify-space-between">
                            <div>{{ mat.title }}</div>
                            {%- call buttons.SecondaryButton(href=url_for('mod_global_list.mark_all_at_mat_as_ready', event=g.event.slug, id=mat.id), inline=True) -%}
                                {{ buttons.ButtonIcon(icon="running", label="Alle freigeben") }}
                            {%- endcall -%}
                        </div>
                    {% endcall %}
                    {% call list.List() %}
                        {% for group in mat.assigned_groups
                            if not (group.completed and group.event_class.ended_fighting) %}
                            {{ group_entry(group) }}
                        {% else %}
                        </div>
                        {% call cards.CardBody() %}
                            <p>Keine Kampfgruppen zugewiesen.</p>
                        {% endcall %}
                        <div>
                        {% endfor %}
                    {% endcall %}
                {% endcall %}
            {% endfor %}
        {% endcall %}
    {% endcall %}
    
    {% if current_group %}
        {%- call colboard.ColboardColumn(span=3) -%}
            {% call colboard.ColboardColumnHeader(title=current_group.title) %}
                {%- call buttons.SubtleButton(href=url_for('mod_global_list.parameters', event=g.event.slug, id=current_group.id), disabled=not current_group.marked_ready) -%}
                    {{ buttons.ButtonIcon(icon="database-settings", label="Parameter") }}
                {%- endcall -%}
                {%- call buttons.SubtleButton(href=url_for('mod_list.display_pdf', event=g.event.slug, id=current_group.id), target="_blank") -%}
                    {{ buttons.ButtonIcon(icon="binocular", label="PDF anzeigen") }}
                {%- endcall -%}
                {%- call buttons.SubtleButton(href=url_for('mod_list.display_pdf', event=g.event.slug, id=current_group.id), target="_blank") -%}
                    {{ buttons.ButtonIcon(icon="download", label="PDF herunterladen") }}
                {%- endcall -%}
            {% endcall %}
            {%- call colboard.Colboard() -%}
                {% call colboard.ColboardColumn(span=2) %}
                    {{ colboard.ColboardColumnHeader(title="Kämpfe der Gruppe") }}
                    {% call colboard.ColboardColumnBody() %}
                        {% if current_group.marked_ready %}
                            {% if scheduled_matches.count() %}
                                <h3>Angesetzte Kämpfe</h3>
                                {% for match in scheduled_matches %}
                                    {{ match_summary(match, controls=True) }}
                                {% endfor %}
                            {% endif %}

                            {% if not_scheduled_matches.count() %}
                                <h3>Zukünftige Kämpfe</h3>
                                {% for match in not_scheduled_matches %}
                                        {{ match_summary(match, controls=True) }}
                                {% endfor %}
                            {% endif %}

                            {% if completed_matches.count() %}
                                <h3>Erledigte Kämpfe</h3>
                                {% for match in completed_matches %}
                                    {{ match_summary(match, controls=True) }}
                                {% endfor %}
                            {% endif %}

                            {% if obsolete_matches.count() %}
                                {% if 'obsolete' in request.values.keys() %}
                                    <h3>Überholte Kampfdaten</h3>
                                    {% for match in obsolete_matches %}
                                        {{ match_summary(match) }}
                                    {% endfor %}
                                {% else %}
                                    <p class="fs-small">Es gibt Kämpfe aus überholten Daten. <a href="?group={{ current_group.id }}&obsolete=yes">Anzeigen?</a></p>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p>Diese Liste ist noch nicht freigegeben. Die Kämpfe können erst berechnet werden, wenn die Gruppeneinteilung abschließend geprüft und freigegeben wurde.</p>
                        {% endif %}
                    {% endcall %}
                {% endcall %}
                {% call colboard.ColboardColumn(span=3) %}
                    {{ colboard.ColboardColumnHeader(title="Kampfliste") }}
                    {% call colboard.ColboardColumnBody() %}
                        {%- call pagination.Pagination() -%}
                            {% for _ in range(current_group.list_page_count()) %}
                                {{ pagination.PaginationItem(href="?group=" ~ current_group.id ~ "&page=" ~ loop.index, label=loop.index, active=(request.values.get('page', "1") == ""~loop.index)) }}
                            {% endfor %}
                        {%- endcall -%}
                        
                        <img src="{{ url_for('mod_list.display_image', event=g.event.slug, id=current_group.id, page=request.values.get('page')) }}" class="img-spinner" alt="">
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {% endcall %}
    {% else %}
        {{ colboard.ColboardEmptyColumn(span=3, text="Wähle eine Gruppe aus.") }}
    {% endif %}
{% endcall %}
{% endblock body %}

{% macro group_entry(group) %}
    {% call list.ListItem(active=group.id == current_group.id) %}
        {% call list.ListItemBody(href='?group=' ~ group.id) %}
            {{ list.ListItemBodyHeader(text=group.title) }}
            {%- set status = "Nicht freigegeben" if not group.marked_ready else
                             "Ausstehend" if not group.opened else
                             "Kämpft" if not group.completed else
                             "Beendet" -%}
            {%- set status_color = "secondary-dark" if not group.marked_ready else
                                   "warning" if not group.opened else
                                   "danger" if not group.completed else
                                   "success" -%}
            {% call list.ListItemBodyDetail() %}<span class="bg-white text-{{ status_color }} fw-bold">{{ status }}</span> · {{ group.participants.count() }} TN{% endcall %}
            {{ list.ListItemBodyDetail(text=group.estimated_fight_count() ~ (" Kämpfe" if group.estimated_fight_count() != 1 else " Kampf") ~ " (noch ca. " ~ group.estimated_remaining_fight_duration(in_minutes=True) ~ " min)") }}
        {% endcall %}
        {% call list.ListItemMenu() %}
            {% call dropdown.Dropdown(right=True) %}
                {% call dropdown.DropdownButton() %}
                    {{ list.ListItemMenuItem(icon="settings", attr=dropdown.ToggleDropdownAttr(dropdown='#group-dropdown-' ~ group.id)) }}
                {% endcall %}
                {% call dropdown.DropdownDialog(id="group-dropdown-" ~ group.id) %}
                    <form action="{{ url_for('mod_global_list.update_group', event=g.event.slug, id=group.id) }}" method="POST">
                        {{ form.Label(for_id="group-assignment-" ~ group.id, text="Zuweisung") }}
                        {% call form.Select(id="group-assignment-" ~ group.id, name="assignment") %}
                            {{ form.SelectOption(value="none", selected=not group.assigned, text="nicht zuweisen") }}
                            {% for mat in mats %}
                                {{ form.SelectOption(value=mat.id, selected=group.assigned and group.assigned_to_position.id == mat.id, text=mat.title) }}
                            {% endfor %}
                        {% endcall %}

                        <input type="hidden" name="group_list" value="{{ request.values.get('group_list', 'status') }}">
                        
                        {% if not group.marked_ready %}
                            {{ form.FormCheck(id="group-marked_ready-" ~ group.id, name="marked_ready", label="Gruppe zur Eröffnung freigeben", class="fw-bold text-danger") }}
                        {% else %}
                            {{ form.FormCheck(id="group-marked_ready-" ~ group.id, label="Gruppe zur Eröffnung freigegeben", disabled=True, checked=True) }}
                        {% endif %}

                        {% call buttons.ButtonList() %}
                            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
                            {% if group.marked_ready %}
                                {{ buttons.SubtleDangerButton(href=url_for('mod_global_list.reset_group', event=g.event.slug, id=group.id), text="Kämpfe zurücksetzen") }}
                            {% endif %}
                        {% endcall %}        
                    </form>
                {% endcall %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endmacro %}