{%- import "components/layout.html" as layout -%}
{%- import "components/datasets.html" as datasets -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}


{% extends "layouts/application.html" %}
{% block title %}Hauptliste{% endblock %}
{% from "mod_global_list/_match_summary.html" import small_match_summary %}
{% block body %}
{% call layout.Container() %}

    <h1>TN-Parameter für {{ group.title }}</h1>

    {% call datasets.Dataset() %}
        {% call datasets.Table() %}
            {% call datasets.TableHead() %}
                {{ datasets.TableHeadColumn(text="Name") }}
                {{ datasets.TableHeadColumn(text="Verband") }}
                {{ datasets.TableHeadColumn(text="DQ?") }}
                {{ datasets.TableHeadColumn(text="Aus?") }}
                {{ datasets.TableHeadColumn(text="Aus-Grund") }}
                {{ datasets.TableHeadColumn(text="Pause bis") }}
                {{ datasets.TableHeadEmptyColumn() }}
            {% endcall %}
            {% call datasets.TableBody() %}
                {% for part in group.participants.all() %}
                    <form action="" method="POST">
                        <input type="hidden" name="participant_id" value="{{ part.id }}">
                        {% call datasets.TableRow() %}
                            {{ datasets.TableColumn(text=part.full_name) }}
                            {{ datasets.TableColumn(text=part.association_name) }}
                            {% call datasets.TableColumn() %}
                                {{ form.FormCheck(id="dq-" ~ part.id, name="disqualified", checked=part.disqualified, label="DQ") }}
                            {% endcall %}
                            {% call datasets.TableColumn() %}
                                {{ form.FormCheck(id="rem-" ~ part.id, name="removed", checked=part.removed, label="Aus") }}
                            {% endcall %}
                            {% call datasets.TableColumn() %}
                                {{ form.Input(name="removal_cause", value=part.removal_cause) }}
                            {% endcall %}
                            {% call datasets.TableColumn() %}
                                {{ form.Input(name="last_fight_at", value=(part.last_fight_at + diff_delta).isoformat().rsplit(":", 1)[0] if part.last_fight_at, type="datetime-local") }}
                            {% endcall %}
                            {% call datasets.TableButtonsColumn() %}
                                {% if saved_participant == part.id %}
                                    {{ buttons.SubtleButton(type="submit", text="OK", inline=True) }}
                                {% else %}
                                    {{ buttons.SecondaryButton(type="submit", text="Speichern", inline=True) }}
                                {% endif %}
                            {% endcall %}
                        {% endcall %}
                    </form>
                {% endfor %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
    <p class="fs-sm text-secondary-dark text-right">DQ = Disqualifikation, Aus = Ausgeschieden</p>

    {{ buttons.PrimaryButton(href=url_for('mod_global_list.index', event=g.event.slug, group=group.id), text="Zurück zur Hauptliste") }}
    </div>
</div>

{% endcall %}
{% endblock body %}