{% extends "layouts/application.html" %}
{% block title %}Hauptliste{% endblock %}
{% from "mod_global_list/_match_summary.html" import small_match_summary %}
{% block body %}
<div class="container-fluid">
    <h1 class="h2 fw-bold mb-4">Hauptliste</h1>

    
    <h3 class="h4 fw-bold mb-2">TN-Parameter für {{ group.title }}</h3>
    <div class="card mb-2 shadow">
        <div class="card-body">
            <table class="table mb-2">
                <thead>
                    <th>Name</th>
                    <th>Verband</th>
                    <th>DQ?</th>
                    <th>Aus?</th>
                    <th>Aus-Grund</th>
                    <th>Pause Bis</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for part in group.participants.all() %}
                    <form action="" method="POST">
                        <input type="hidden" name="participant_id" value="{{ part.id }}">
                        <tr class="align-middle">
                            <td class="fw-bold fs-5">{{ part.full_name }}</td>
                            <td>{{ part.association_name }}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="disqualified-{{ part.id }}" name="disqualified" {{ 'checked' if part.disqualified}}>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="removed-{{ part.id }}" name="removed" {{ 'checked' if part.removed}}>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" name="removal_cause" value="{{ part.removal_cause or '' }}">
                            </td>

                            <td>
                                <input class="form-control" type="datetime-local" name="last_fight_at" value="{{ (part.last_fight_at + diff_delta).isoformat().rsplit(":", 1)[0] }}">
                            </td>
                            <td>
                                {% if saved_participant == part.id %}
                                <button type="submit" class="btn btn-success btn-3d">OK</button>
                                {% else %}
                                <button type="submit" class="btn btn-secondary">Speichern</button>
                                {% endif %}
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>

            <p class="ms-2 mb-0 fs-small text-secondary text-end">DQ = Disqualifikation, Aus = Ausgeschieden</p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('mod_global_list.index', event=g.event.slug, group=group.id) }}" class="btn btn-primary">Zurück zur Hauptliste</a>
        </div>
    </div>
</div>

{% endblock body %}