{%- import "components/layout.html" as layout -%}

{% extends "layouts/application.html" %}
{% set page='mat-' ~ mat.id %}
{% block title %}Hauptliste{% endblock %}
{% from "shared/_match_summary.html" import match_summary %}
{% block body %}

{% include "mod_global_list/_header.html" %}

{% call layout.Container() %}
    <h1>Kampfvorschau für {{ mat.title }}</h1>

    {% for match in mat.scheduled_matches() %}
        {{ match_summary(match) }}
    {% else %}
    <p>Auf {{ mat.title }} wurden noch keine Kämpfe angesetzt oder alle Kämpfe wurden erledigt.</p>
    {% endfor %}

{% endcall %}

{% endblock body %}