{%- import "components/layout.html" as layout -%}
{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/alerts.html" as alerts -%}

{% extends "layouts/application.html" %}
{% block title %}Hauptliste{% endblock %}
{% block body %}

{% call layout.Container(width="medium") %}

    <h1>Gruppe {{ group.title }} zurücksetzen</h1>
    
    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p>Wollen Sie die Kämpfe der Gruppe {{ group.title }} <strong>vollständig zurücksetzen</strong>?</p>
                <p>Diese Aktion wird protokolliert.</p>

                {% call alerts.DangerAlert() %}
                    <p>Achtung: Dies kann <strong>nicht</strong> rückgängig gemacht werden. Der gesamte Kampffortschritt und alle bereits eingetragenen Ergebnisse werden verloren gehen. Diese Operation sollte nur in Ausnahmefällen und nur bei genügender Sachkunde bzgl. der möglichen Folgen vorgenommen werden.</p>
                    <p>Es wird dringend empfohlen, zuvor die Liste in ihrem aktuellen Stand <a href="{{ url_for('mod_list.display_pdf', event=g.event.slug, id=group.id) }}" download="list.pdf">als PDF herunterzuladen</a>, damit im Zweifel eine Sicherheitskopie vorliegt.</p>
                {% endcall %}
            {% endcall %}
            {% call cards.CardBody() %}
                <p>Bestätigen Sie die Operation durch Betätigung dieser Checkbox:</p>

                {{ form.FormCheck(id="confirm", name="confirm", value="oopsie", label="Ich habe die obenstehenden Informationen gelesen, verstanden und bin damit einverstanden, die persönliche Verantwortung für alle möglichen Folgen zu übernehmen.") }}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.DangerButton(type='submit', text='Kämpfe zurücksetzen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_global_list.index', event=g.event.slug, group=group.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}