{%- import "components/layout.html" as layout -%}
{%- import "components/form.html" as form -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/cards.html" as cards -%}

{% extends "layouts/application.html" %}
{% block title %}Hauptliste{% endblock %}
{% block body %}

{% call layout.Container(width="medium") %}

    <h1>Verbleibende Gruppen verteilen</h1>
    
    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                {% if fight_count != 1 %}
                <p>Die noch nicht zugewiesenen Kampfgruppen mit insgesamt <strong>{{ fight_count }} Kämpfen</strong></p>
                {% else %}
                <p>Die noch nicht zugewiesenen Kampfgruppen mit insgesamt <strong>einem Kampf</strong></p>
                {% endif %}
                <ul>
                    {% for group in free_groups if not group.participants.count() == 0 %}
                    <li>{{ group.title }}</li>
                    {% endfor %}
                </ul>
                <p>werden auf die folgenden Matten verteilt:</p>
                {% for mat in mats %}
                    {{ form.FormCheck(id="to-"~mat.id, name="to", value=mat.id, label=mat.title, checked=True) }}
                {% endfor %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Verteilen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_global_list.index', event=g.event.slug), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}