{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}
<h1>Hallo {{ current_user.qualified_name() }}</h1>

<div class="row mt-4">
    <div class="col-12 col-lg-3 mb-4">
        <div class="card">
            <div class="card-header">Profilübersicht</div>
            <div class="card-body">
                <h6>Deine E-Mail-Adresse</h6>
                {{ current_user.email }}
            </div>
            <div class="card-body border-top">
                <h6>Dein Theme</h6>
                <div>
                    {{ 'hell' if not current_user.prefers_dark_mode else 'dunkel' }}
                    <a href="{{ url_for('admin.toggle_display_mode_preference') }}">(wechseln)</a>
                </div>
            </div>
            <div class="card-body border-top">
                <h6>Deine Rollen</h6>
                {% for role in current_user.roles %}
                    <span class="badge text-bg-{{ 'secondary' if not role.is_admin else 'primary' }}" title="{{ role.description }}">{{ role.name }}</span>
                {% endfor %}
            </div>
            <div class="card-body border-top">
                <a href="{{ url_for('admin.edit_user_me') }}" class="btn btn-secondary btn-sm">Profil bearbeiten</a>
                <a href="" class="btn btn-outline-danger btn-sm">Problem melden</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">Deine Veranstaltungen</div>
            {% if events == [] %}
            <div class="card-body border-bottom">
                <p>Du hast keine aktuellen Veranstaltungen.</p>
            </div>
            {% else %}
            <div class="card-body border-bottom p-1">
                <div class="list-group list-group-flush">
                {% for evt in events %}
                    <a href="" class="list-group-item list-group-item-action">
                        <div>
                            <strong>{{ evt.title }}</strong>
                            ({{ evt.first_day.strftime("%d.%m.%Y") }} &ndash; {{ evt.last_day.strftime("%d.%m.%Y") }})
                        </div>
                        <div class="font-monospace small">{{ evt.slug }}</div>
                    </a>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                <a href="" class="btn btn-primary btn-sm">Alle Veranstaltungen</a>
                {% if current_user.has_privilege('create_tournaments') %}
                <a href="" class="btn btn-secondary btn-sm">Veranstaltung hinzufügen</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 mb-4">
        <div class="card">
            <div class="card-header">Systemnachrichten</div>
            <div class="card-body">
                <p>Hier gibt es zurzeit nichts.</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}