{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/list.html" as list -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}
<h1>Hallo, {{ current_user.qualified_name() }}!</h1>

{% call layout.Grid() %}
    {% call layout.GridColumn(large_span=3) %}
        {% call cards.Card(title="Profilübersicht") %}
            {% call cards.CardBody() %}
                <h6>Deine E-Mail-Adresse</h6>
                <span>{{ current_user.email }}</span>
            {% endcall %}
            {% call cards.CardBody() %}
                <h6 class="mb-0">Deine Rollen</h6>
                {% for role in current_user.roles %}
                    <span class="badge text-bg-{{ 'secondary' if not role.is_admin else 'primary' }}" title="{{ role.description }}">{{ role.name }}</span>
                {% endfor %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.SecondaryButton(href=url_for('admin.edit_user_me'), text="Profil bearbeiten", inline=True) }}
                {{ buttons.SubtleDangerButton(href=url_for('admin.new_support'), text="Problem melden", inline=True) }}
            {% endcall %}
        {% endcall %}
    {% endcall %}
    {% call layout.GridColumn(large_span=6) %}
        {% call cards.Card(title="Deine Veranstaltungen") %}
            {% if events|length == 0 %}
                {% call cards.CardBody() %}
                    <p>Du hast keine aktuellen Veranstaltungen.</p>
                {% endcall %}
            {% else %}
                {% call list.List() %}
                    {% for event in events %}
                        {% call list.ListItem(href=url_for('event_manager.index', event=event.slug)) %}
                            {% call list.ListItemBody() %}
                                {{ list.ListItemBodyHeader(event.title) }}
                                {{ list.ListItemBodyDetail(event.first_day.strftime("%d.%m.%Y") ~ " – " ~ event.last_day.strftime("%d.%m.%Y")) }}
                                {{ list.ListItemBodyDetail(event.slug) }}
                            {% endcall %}
                        {% endcall %}
                    {% endfor %}
                {% endcall %}
            {% endif %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(href=url_for('admin.events'), text='Alle Veranstaltungen', inline=True) }}
                {% if current_user.has_privilege('create_tournaments') %}
                    {{ buttons.SecondaryButton(href=url_for('admin.new_event'), text='Veranstaltung hinzufügen', inline=True) }}
                {% endif %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
    {% call layout.GridColumn(large_span=3) %}
        {% call cards.Card(title="Systemnachrichten") %}
            {% for msg in system_messages %}
                {% call cards.CardBody() %}
                    <p class="fs-sm mb-1 text-secondary-dark">{{ msg.user.display_name if msg.user else 'System' }} am {{ msg.created_at.strftime("%d.%m.%Y") }}:</p>
                    <p class="my-0">{{ msg.description }}</p>
                {% endcall %}
            {% else %}
                {% call cards.CardBody() %}
                    <p>Hier gibt es zurzeit nichts zu sehen.</p>
                {% endcall %}
            {% endfor %}
            {% if current_user.has_privilege('admin') %}
                {% call cards.CardFooter() %}
                    {{ buttons.SecondaryButton(href=url_for('admin.messages'), text='Meldungen bearbeiten', inline=True) }}
                {% endcall %}
            {% endif %}
        {% endcall %}
    {% endcall %}
{% endcall %}

{% if current_user.help_requests_that_are_open_or_recently_resolved().count() > 0 %}
    {% call cards.Card(title="Ihre Support-Anfragen") %}
        {% for request in current_user.help_requests_that_are_open_or_recently_resolved() %}
            {% call cards.CardBody(class="py-1") %}
                <p class="my-0"><strong>Problem:</strong> {{ request.description }}</p>
                {% if request.resolved %}
                <p class="my-0"><strong class="text-success">Behoben</strong> am {{ request.resolved_at.strftime("%d.%m.%Y") }}: {{ request.resolution }}</p>
                {% else %}
                <p class="my-0"><strong class="text-danger">Noch offen</strong></p>
                {% endif %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endif %}
{% endblock body %}