{% import "components/switches.html" as switches %}
{% import "components/list.html" as list %}
{% import "components/buttons.html" as buttons %}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}

<h1>Voreinstellungen</h1>

{% call switches.Tab() %}
    {{ switches.TabItem(label="Kampfklassen", active=True, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-classes", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
    {{ switches.TabItem(label="Scoreboard", active=False, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-scoreboards", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
{% endcall %}

<div class="tj-tab" id="tab-classes">
    <h2>Kampfklassen</h3>

    {% call list.List() %}
        {% for ec in event_classes %}
            {% if ec.event %}
                {% call list.ListItem(href=url_for('event_manager.edit_class', event=ec.event.slug, id=ec.id)) %}
                    {% call list.ListItemBody() %}
                        {{ list.ListItemBodyHeader(text=ec.template_name) }}
                        {{ list.ListItemBodyDetail(text=ec.event.slug) }}
                    {% endcall %}
                {% endcall %}
            {% else %}
                {% call list.ListItem() %}
                    {% call list.ListItemBody() %}
                        {{ list.ListItemBodyHeader(text=ec.template_name) }}
                    {% endcall %}
                {% endcall %}
            {% endif %}
        {% endfor %}
    {% endcall %}
</div>
<div class="tj-tab hidden" id="tab-scoreboards">
    <h2>Scoreboard</h2>

    {% call list.List() %}
        {% for sr in scoreboard_rulesets %}
            {% call list.ListItem(href=url_for('admin.scoreboard_preset', id=sr.id)) %}
                {% call list.ListItemBody() %}
                    {{ list.ListItemBodyHeader(text=sr.title) }}
                    {{ list.ListItemBodyDetail(text="Aktiviert") if sr.enabled }}
                    {{ list.ListItemBodyDetail(text="Standard-Scoreboard") if sr.is_default }}
                {% endcall %}
            {% endcall %}
        {% endfor %}
    {% endcall %}

    {{ buttons.SecondaryButton(href=url_for('admin.new_scoreboard_preset'), text="Scoreboard hinzufügen") }}
</div>
    
{% endblock body %}