<div class="modal" id="callup-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4 fw-bold">Für {{ g.mat.title }} aufrufen</h1>
            </div>
            <div class="modal-body">
                <div class="match-summary match-summary-large-fs">
                    <div class="match-header">
                        <div class="match-group" data-tatami-field="current.group">XXX</div>
                        <div class="match-tag" data-tatami-field="current.progress">Hauptrunde</div>
                    </div>
                    <div class="match-white">
                        <strong data-tatami-field="current.white.name">Name</strong>
                        (<span data-tatami-field="current.white.club">Verein</span>)
                    </div>
                    <div class="match-blue">
                        <strong data-tatami-field="current.blue.name">Name</strong>
                        (<span data-tatami-field="current.blue.club">Verein</span>)
                    </div>
                </div>
            </div>
            <div class="modal-body border-top">
                <h2 class="h6 mb-3">Es bereiten sich vor:</h2>
                <div class="match-summary">
                    <div class="match-header">
                        <div class="match-group" data-tatami-field="waiting.group">XXX</div>
                        <div class="match-tag" data-tatami-field="waiting.progress">Hauptrunde</div>
                    </div>
                    <div class="match-white">
                        <strong data-tatami-field="waiting.white.name">Name</strong>
                        (<span data-tatami-field="waiting.white.club">Verein</span>)
                    </div>
                    <div class="match-blue">
                        <strong data-tatami-field="waiting.blue.name">Name</strong>
                        (<span data-tatami-field="waiting.blue.club">Verein</span>)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100 btn-lg" data-tatami-end-callup>OK</button>
            </div>
        </div>
    </div>
</div>