<div class="row mb-3 p-3 text-bg-dark align-items-center">
    <div class="col-12 col-md-4">
        <div class="btn-group w-100" role="group" aria-label="Ansicht">
            <button type="button" data-control="view.main" class="btn btn-light fs-5">Kampf</button>
            <button type="button" data-control="view.callup" class="btn btn-light fs-5">Aufruf</button>
            <button type="button" data-control="view.break" class="btn active btn-light fs-5">Pause</button>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <h1 class="h3 text-center m-0" data-static="mat-number">{{ g.device.position.title }}</h1>
    </div>
    <div class="col-12 col-md-4 text-end">
        <a href="{{ url_for('scoreboard') }}" target="_new" type="button" class="btn btn-light fs-5">Scoreboard öffnen</a>
    </div>
</div>

<div class="text-center mb-2 fw-bold fs-2" id="current-screen">Kampf</div>

<div class="row mt-3">
    <div class="col-12 offset-lg-3 col-lg-6">
        <div class="card">
            <div class="card-body p-2">
                <div class="global-time text-center fw-bold" id="global-time">4:00</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success fs-3 fw-bold btn-lg w-100" data-control="time.main.start">Starten</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-outline-secondary fs-3 fw-bold btn-lg w-100" disabled data-control="time.main.stop">Stoppen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 px-3 px-xl-5">
    <div class="col-12 col-xl-5 col-xl-5">
        <div class="card card-of-white">
            <div class="card-header">
                Weiß
            </div>
            <div class="card-body border-bottom p-2">
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-3 fw-bold text-uppercase">
                        OSAE-KOMI
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="osaekomi.white.stop" disabled class="btn btn-outline-secondary fw-bold w-100">Stopp</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="osaekomi-white">---</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="osaekomi.white.start" class="btn btn-secondary fw-bold w-100">Start</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-4 fw-bold text-uppercase">
                        Ippon
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="ippon.white.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="ippon-white">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="ippon.white.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 fs-4 fw-bold text-uppercase">
                        Waza-Ari
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="wazaari.white.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="wazaari-white">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="wazaari.white.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 fs-4 fw-bold text-uppercase text-danger">
                        Shido
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="shido.white.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="shido-white">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="shido.white.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-4 fw-bold text-uppercase text-danger">
                        Hansoku-make
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="hansokumake.white.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">-</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="hansokumake-white">-</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="hansokumake.white.expand" class="btn btn-secondary fw-bold w-100">H</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-2">
        <div class="card card-of-none">
            <div class="card-body border-bottom p-2">
                <button type="button" data-control="osaekomi.toggle" disabled class="btn btn-outline-secondary fw-bold w-100">&laquo; Tauschen &raquo;</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-5">
        <div class="card card-of-blue">
            <div class="card-header">
                Blau
            </div>
            <div class="card-body border-bottom p-2">
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-3 fw-bold text-uppercase">
                        OSAE-KOMI
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="osaekomi.blue.stop" disabled class="btn btn-outline-secondary fw-bold w-100">Stopp</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="osaekomi-blue">---</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="osaekomi.blue.start" class="btn btn-secondary fw-bold w-100">Start</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-4 fw-bold text-uppercase">
                        Ippon
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="ippon.blue.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="ippon-blue">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="ippon.blue.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 fs-4 fw-bold text-uppercase">
                        Waza-Ari
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="wazaari.blue.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="wazaari-blue">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="wazaari.blue.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 fs-4 fw-bold text-uppercase text-danger">
                        Shido
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="shido.blue.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">0</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="shido-blue">0</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="shido.blue.expand" class="btn btn-secondary fw-bold w-100">1</button>
                    </div>
                </div>
                <div class="row my-2 align-items-center">
                    <div class="col-6 fs-4 fw-bold text-uppercase text-danger">
                        Hansoku-make
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="hansokumake.blue.reduce" disabled class="btn btn-outline-secondary fw-bold w-100">-</button>
                    </div>
                    <div class="col-2 p-0 d-flex align-items-center text-center">
                        <div class="fs-4 fw-bold w-100" id="hansokumake-blue">-</div>
                    </div>
                    <div class="col-2 p-0">
                        <button type="button" data-control="hansokumake.blue.expand" class="btn btn-secondary fw-bold w-100">H</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-2 offset-xl-5 pt-5">
        <button type="button" data-control="flash.medical" class="btn btn-danger fw-bold w-100">Arzt rufen</button>
    </div>
</div>