{%- import "components/scoreboard.html" as scoreboard -%}
{% set SBRULES = g.event.sb_rules() %}

{% call scoreboard.Scoreboard() %}
    {{ scoreboard.ScoreboardHeader(
        mat=g.device.position.title,
        sb_href=url_for('scoreboard', ruleset=g.event.sb_ruleset().id)
    ) }}

    {{ scoreboard.ScoreboardTimer(time='4:00') }}

    {% call scoreboard.ScoreboardRowWhite() %}
        {% for c in SBRULES.controls %}
            {% if c == 'osaekomi' %}
                {{ scoreboard.ScoreboardButtonPairItem(small_control='osaekomi.white.stop', large_control='osaekomi.white.start', small_label='Toketa', large_label='Osae-komi', medium_rather_than_large=True, order='white') }}
                {{ scoreboard.ScoreboardOsaekomiItem(color="white") }}
            {% else %}
                {{ scoreboard.ScoreboardButtonPairItem(large_control='white.expand', small_control='white.reduce', score=c, order='white', penalty=SBRULES.scores[c].penalty) }}
            {% endif %}
        {% endfor %}
    {% endcall %}
    {% call scoreboard.ScoreboardRowLabels() %}
        {% for c in SBRULES.controls %}
            {% if c == 'osaekomi' %}
                {{ scoreboard.ScoreboardSingleButtonItem(label="Tauschen", control="osaekomi.toggle") }}
                {{ scoreboard.ScoreboardEmptyItem() }}
            {% else %}
                {{ scoreboard.ScoreboardLabelItem(text=SBRULES.scores[c].name) }}
            {% endif %}
        {% endfor %}
    {% endcall %}
    {% call scoreboard.ScoreboardRowBlue() %}
        {% for c in SBRULES.controls %}
            {% if c == 'osaekomi' %}
                {{ scoreboard.ScoreboardButtonPairItem(small_control='osaekomi.blue.stop', large_control='osaekomi.blue.start', small_label='Toketa', large_label='Osae-komi', medium_rather_than_large=True, order='blue') }}
                {{ scoreboard.ScoreboardOsaekomiItem(color="blue") }}
            {% else %}
                {{ scoreboard.ScoreboardButtonPairItem(large_control='blue.expand', small_control='blue.reduce', score=c, order='blue', penalty=SBRULES.scores[c].penalty) }}
            {% endif %}
        {% endfor %}
    {% endcall %}
{% endcall %}