<div class="clearfix mb-3">
    <button type="button" class="btn btn-light float-end" data-bs-toggle="modal" data-bs-target="#results-modal" data-control="enter-results" disabled>Ergebnis eintragen</button>
    <button type="button" class="btn me-1 btn-dark float-end" data-control="callup-again" title="ACHTUNG! Dies löscht den gesamten Kampffortschritt.">Kampf aufrufen</button>
</div>

<div data-scheduled-area>
    {% include "mod_scoreboard/_schedule.html" %}
</div>

{% include "mod_scoreboard/_results_modal.html" %}
{% include "mod_scoreboard/_callup_modal.html" %}
{% include "mod_scoreboard/_winner_shown_modal.html" %}
{% include "mod_scoreboard/_offline_modal.html" %}