{% import "components/buttons.html" as buttons %}

<div class="d-flex justify-end">
    {{ buttons.SecondaryButton(text='Kampf aufrufen', attr='data-control="callup-again"') }}
    {{ buttons.SecondaryButton(text='Ergebnis eintragen', attr='data-control="enter-results"', disabled=True) }}
</div>

<div data-scheduled-area>
    {% include "mod_scoreboard/_schedule.html" %}
</div>

{% include "mod_scoreboard/_results_modal.html" %}
{% include "mod_scoreboard/_callup_modal.html" %}
{% include "mod_scoreboard/_winner_shown_modal.html" %}
{% include "mod_scoreboard/_offline_modal.html" %}