{%- import "components/modals.html" as modals -%}
{%- import "components/buttons.html" as buttons -%}

{% set SBRULES = g.event.sb_rules() %}

{% call modals.Modal(id="offline-modal", centered=True) %}
    {% call modals.ModalContainer(width="normal") %}
        {{ modals.ModalHeader(text="Ein Fehler ist aufgetreten!") }}

        {% call modals.ModalBody() %}
            <p>Es konnte keine Verbindung zu TATAMI aufgebaut werden oder ein schwerwiegender technischer Fehler ist aufgetreten. <strong>Das Kampfergebnis wurde noch nicht gespeichert!</strong></p>
            <p>Informieren Sie die Wettkampfleitung.</p>
            <p>Fehlermeldung:</p>
            <pre><code id="offline-error-message">unbekannt</code></pre>
        {% endcall %}

        {% call modals.ModalBody() %}
            <p>Zur Vermeidung von Datenverlusten wird hier das aktuelle Ergebnis angezeigt:</p>
            <table class="table-scoreboard mb-3">
                <tr class="row-fighters">
                    <th colspan="{{ SBRULES.small_display|length }}" class="col-white" data-tatami-field="current.white.name">xxx</th>
                    <th colspan="{{ SBRULES.small_display|length }}" class="col-blue" data-tatami-field="current.blue.name">xxx</th>
                </tr>
                <tr class="row-labels">
                    {% for c in SBRULES.small_display %}
                    <th class="col-white {{ 'col-penalty' if SBRULES.scores[c].penalty else 'col-score' }}">
                        <label for="sb-white-{{ c }}">{{ SBRULES.scores[c].short_name }}</label>
                    </th>
                    {% endfor %}
                    {% for c in SBRULES.small_display %}
                    <th class="col-blue {{ 'col-penalty' if SBRULES.scores[c].penalty else 'col-score' }}">
                        <label for="sb-blue-{{ c }}">{{ SBRULES.scores[c].short_name }}</label>
                    </th>
                    {% endfor %}
                </tr>
        
                <tr class="row-inputs">
                    {% for c in SBRULES.small_display %}
                    <td class="col-white {{ 'col-penalty' if SBRULES.scores[c].penalty else 'col-score' }}">
                        <output data-tatami-field="results.white" data-tatami-score="{{ c }}">0</output>
                    </td>
                    {% endfor %}
                    {% for c in SBRULES.small_display %}
                    <td class="col-blue {{ 'col-penalty' if SBRULES.scores[c].penalty else 'col-score' }}">
                        <output data-tatami-field="results.blue" data-tatami-score="{{ c }}">0</output>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        
            <div class="d-flex mb-3 align-items-center">
                <label class="fw-bold me-3">Kampfzeit:</label>
                <output data-tatami-field="results.full_time">0min 0s</output>
            </div>
        {% endcall %}

        {% call modals.ModalFooter() %}
            {{ buttons.DangerButton(text="Erneut versuchen", class="w-100", attr='data-tatami-enter-results')}}
        {% endcall %}
    {% endcall %}
{% endcall %}