{% from "shared/_match_summary.html" import match_summary %}
{% from "components/buttons.html" import buttons %}

<h3 class="fs-4">Laufender Kampf</h3>

{% set current_match = g.mat.current_match() %}
{% if current_match %}
{{ match_summary(current_match) }}

<input type="hidden" data-tatami-source="current_match.any" value="1">
<input type="hidden" data-tatami-source="current_match.results_link" value="{{ url_for('mod_list.write_match_result', event=g.event.slug, id=current_match.group.id, match_id=current_match.id) }}">
<input type="hidden" data-tatami-source="current_match.group" value="{{ current_match.group.title }}">
<input type="hidden" data-tatami-source="current_match.white.name" value="{{ current_match.white.full_name }}">
<input type="hidden" data-tatami-source="current_match.white.association" value="{{ current_match.white.association_name }}">
<input type="hidden" data-tatami-source="current_match.blue.name" value="{{ current_match.blue.full_name }}">
<input type="hidden" data-tatami-source="current_match.blue.association" value="{{ current_match.blue.association_name }}">

<input type="hidden" data-tatami-source="current_match.fighting_time" value="{{ current_match.group.event_class.fighting_time }}">
<input type="hidden" data-tatami-source="current_match.golden_score_time" value="{{ current_match.group.event_class.golden_score_time }}">

{% set list_tags = current_match.list_tags.split(",") %}
{% if 'final' in list_tags %}
<input type="hidden" data-tatami-source="current_match.progress" value="Finale">
{% elif 'semifinal' in list_tags %}
<input type="hidden" data-tatami-source="current_match.progress" value="Halbfinale">
{% elif 'thirdplace' in list_tags %}
<input type="hidden" data-tatami-source="current_match.progress" value="Kampf um Platz 3">
{% elif 'repechage' in list_tags %}
<input type="hidden" data-tatami-source="current_match.progress" value="Trostrunde">
{% else %}
<input type="hidden" data-tatami-source="current_match.progress" value="Hauptrunde">
{% endif %}
{% else %}
<p class="mb-3">Zurzeit findet kein Kampf statt.</p>

{% if g.event.setting('scheduling.use', True) %}
<p>Die Listen werden auf dieser Matte automatisch geführt. Folglich sind entweder noch keine Listen freigegeben, alle Kämpf erledigt oder es muss zurzeit eine Pause stattfinden.</p>

{{ buttons.SecondaryButton(href='?', text='Seite aktualisieren') }}

{% else %}
<p>Unten können ggf. Kämpfe ausgewählt werden, die jetzt stattfinden können.</p>
{% endif %}

<input type="hidden" data-tatami-source="current_match.any" value="0">
{% endif %}

<h3 class="fs-4">Nächster Kampf</h3>

{% set waiting_match = g.mat.waiting_match() %}
{% if waiting_match %}
{{ match_summary(waiting_match) }}

<input type="hidden" data-tatami-source="waiting_match.any" value="1">
<input type="hidden" data-tatami-source="waiting_match.group" value="{{ waiting_match.group.title }}">
<input type="hidden" data-tatami-source="waiting_match.white.name" value="{{ waiting_match.white.full_name }}">
<input type="hidden" data-tatami-source="waiting_match.white.association" value="{{ waiting_match.white.association_name }}">
<input type="hidden" data-tatami-source="waiting_match.blue.name" value="{{ waiting_match.blue.full_name }}">
<input type="hidden" data-tatami-source="waiting_match.blue.association" value="{{ waiting_match.blue.association_name }}">
{% set list_tags = waiting_match.list_tags.split(",") %}
{% if 'final' in list_tags %}
<input type="hidden" data-tatami-source="waiting_match.progress" value="Finale">
{% elif 'semifinal' in list_tags %}
<input type="hidden" data-tatami-source="waiting_match.progress" value="Halbfinale">
{% elif 'thirdplace' in list_tags %}
<input type="hidden" data-tatami-source="waiting_match.progress" value="Kampf um Platz 3">
{% elif 'repechage' in list_tags %}
<input type="hidden" data-tatami-source="waiting_match.progress" value="Trostrunde">
{% else %}
<input type="hidden" data-tatami-source="waiting_match.progress" value="Hauptrunde">
{% endif %}
{% else %}
<p class="mb-3">Zurzeit wurde kein nächster Kampf aufgerufen.</p>
<input type="hidden" data-tatami-source="waiting_match.any" value="0">
{% endif %}

<h3 class="fs-4">Angesetzte Kämpfe</h3>

{% for match in g.mat.scheduled_matches(include_called_up=False) %}
    {{ match_summary(match) }}
{% else %}
    <p>Zurzeit wurde keine (weiteren) Kämpfe angesetzt.</p>
{% endfor %}

{% for list in assigned_lists if not list.completed %}
<h3 class="fs-4">{{ list.title }}</h3>
{% for match in list.matches.filter_by(scheduled=False, completed=False) if not match.obsolete %}
    {{ match_summary(match) }}
    {% if not match.schedulable() %}
    <p class="mb-0 fs-small text-danger">Auszeit notwendig &ndash; Kampf kann zurzeit nicht stattfinden.</p>
    {% elif not g.event.setting('scheduling.use', True) %}
    <div class="mt-1">
        <button type="button" class="btn btn-sm btn-dark" data-schedule-match="{{ match.id }}">Ansetzen</button>
    </div>
    {% endif %}
{% else %}
    <p>In dieser Gruppe stehen keine Kämpfe mehr aus.</p>
{% endfor %}
<p><a href="{{ url_for('mod_list.display', event=g.event.slug, shown_list=list.id, show_only_one_list='yes') }}" data-show-list>Liste anzeigen</a></p>
{% endfor %}