{% import "components/buttons.html" as buttons %}
{% import "components/cards.html" as cards %}
{% import "components/form.html" as form %}
{% import "components/layout.html" as layout %}

<div class="d-flex justify-end">
    {{ buttons.SecondaryButton(text='Folgender Kampf', attr='data-control="prepare.goto"') }}
</div>

{% call cards.Card() %}
    {{ cards.CardHeader(text="Aktueller Kampf", class="tj-staprop-btn active", actionable=True, attr='data-tj-oneof=\'{"common": ".tj-staprop-element", "unique": "#current-fight", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-staprop-btn"}\'') }}
    {% call cards.CardBody(class="tj-staprop-element", id="current-fight") %}
        {% call layout.Grid() %}
            {% call layout.GridColumn(span=6) %}
                {{ form.Label(for_id="class", text="Kampfklasse") }}
                {{ form.Input(id="class", attr='data-control="class"') }}
            {% endcall %}
            {% call layout.GridColumn(span=6) %}
                {{ form.Label(for_id="progress", text="Fortschritt") }}
                {% call form.Select(id="progress", attr='data-control="progress"') %}
                    {{ form.SelectOption(text="", value="") }}
                    {{ form.SelectOption(text="Hauptrunde") }}
                    {{ form.SelectOption(text="Halbfinale") }}
                    {{ form.SelectOption(text="Finale") }}
                    {{ form.SelectOption(text="Trostrunde") }}
                    {{ form.SelectOption(text="Kampf um Platz 3") }}
                {% endcall %}
            {% endcall %}
        {% endcall %}

        {% call cards.Card() %}
            {{ cards.CardHeader(text="Weiß") }}
            {% call cards.CardBody() %}
                {{ form.InputWithPrefix(id="white-name", prefix="Name", attr='data-control="white.name"') }}
                {{ form.InputWithPrefix(id="white-club", prefix="Verein", attr='data-control="white.club"') }}
            {% endcall %}
        {% endcall %}

        {% call cards.Card() %}
            {{ cards.CardHeader(text="Blau") }}
            {% call cards.CardBody() %}
                {{ form.InputWithPrefix(id="blue-name", prefix="Name", attr='data-control="blue.name"') }}
                {{ form.InputWithPrefix(id="blue-club", prefix="Verein", attr='data-control="blue.club"') }}
            {% endcall %}
        {% endcall %}
    {% endcall %}

    {{ cards.CardHeader(text="Folgender Kampf", class="tj-staprop-btn", actionable=True, attr='data-tj-oneof=\'{"common": ".tj-staprop-element", "unique": "#next-fight", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-staprop-btn"}\'') }}
    {% call cards.CardBody(class="tj-staprop-element hidden", id="next-fight") %}
        {% call layout.Grid() %}
            {% call layout.GridColumn(span=6) %}
                {{ form.Label(for_id="prepare-class", text="Kampfklasse") }}
                {{ form.Input(id="prepare-class", attr='data-control="prepare.class"') }}
            {% endcall %}
            {% call layout.GridColumn(span=6) %}
                {{ form.Label(for_id="prepare-progress", text="Fortschritt") }}
                {% call form.Select(id="prepare-progress", attr='data-control="prepare.progress"') %}
                    {{ form.SelectOption(text="", value="") }}
                    {{ form.SelectOption(text="Hauptrunde") }}
                    {{ form.SelectOption(text="Halbfinale") }}
                    {{ form.SelectOption(text="Finale") }}
                    {{ form.SelectOption(text="Trostrunde") }}
                    {{ form.SelectOption(text="Kampf um Platz 3") }}
                {% endcall %}
            {% endcall %}
        {% endcall %}

        {% call cards.Card() %}
            {{ cards.CardHeader(text="Weiß") }}
            {% call cards.CardBody() %}
                {{ form.InputWithPrefix(id="prepare-white-name", prefix="Name", attr='data-control="prepare.white.name"') }}
                {{ form.InputWithPrefix(id="prepare-white-club", prefix="Verein", attr='data-control="prepare.white.club"') }}
            {% endcall %}
        {% endcall %}

        {% call cards.Card() %}
            {{ cards.CardHeader(text="Blau") }}
            {% call cards.CardBody() %}
                {{ form.InputWithPrefix(id="prepare-blue-name", prefix="Name", attr='data-control="prepare.blue.name"') }}
                {{ form.InputWithPrefix(id="prepare-blue-club", prefix="Verein", attr='data-control="prepare.blue.club"') }}
            {% endcall %}
        {% endcall %}
    {% endcall %}

    {{ cards.CardHeader(text="Einstellungen", class="tj-staprop-btn", actionable=True, attr='data-tj-oneof=\'{"common": ".tj-staprop-element", "unique": "#staprop-config", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-staprop-btn"}\'') }}
    {% call cards.CardBody(class="tj-staprop-element hidden", id="staprop-config") %}
        <p>Änderungen an diesen Einstellungen werden erst nach einem Klick auf <span class="text-black">Folgender Kampf</span> wirksam.</p>

        {{ form.Label(for_id="fighting_time", text="Kampfzeit") }}
        {{ form.InputWithSuffix(id="fighting_time", suffix="Sekunden", attr='data-control="config.fighting_time"', value=240, type='number') }}

        {% call form.FormPresets() %}
            {{ buttons.SubtleButton(inline=True, text='2 min', attr='onclick="fighting_time.value=120;"') }}
            {{ buttons.SubtleButton(inline=True, text='3 min', attr='onclick="fighting_time.value=180;"') }}
            {{ buttons.SubtleButton(inline=True, text='4 min', attr='onclick="fighting_time.value=240;"') }}
        {% endcall %}

        {{ form.Label(for_id="golden_score_time", text="Golden Score-Zeit") }}
        {{ form.InputWithSuffix(id="golden_score_time", suffix="Sekunden", attr='data-control="config.golden_score_time"', value=0, type='number') }}

        {% call form.FormPresets() %}
            {{ buttons.SubtleButton(inline=True, text='ohne', attr='onclick="golden_score_time.value=0;"') }}
            {{ buttons.SubtleButton(inline=True, text='2 min', attr='onclick="golden_score_time.value=120;"') }}
            {{ buttons.SubtleButton(inline=True, text='3 min', attr='onclick="golden_score_time.value=180;"') }}
            {{ buttons.SubtleButton(inline=True, text='4 min', attr='onclick="golden_score_time.value=240;"') }}
            {{ buttons.SubtleButton(inline=True, text='unbegrenzt', attr='onclick="golden_score_time.value=-1;"') }}
        {% endcall %}

        {{ form.Label(for_id="goto_goes_to", text="Nächster Kampf geht zu...") }}
        {% call form.Select(id="goto_goes_to", attr='data-control="prepare.goto.where"') %}
            {{ form.SelectOption(text="Kampf", value="main") }}
            {{ form.SelectOption(text="Aufruf", value="callup") }}
            {{ form.SelectOption(text="Pause", value="break") }}
        {% endcall %}
    {% endcall %}
{% endcall %}