<div class="clearfix mb-3">
    <button type="button" class="btn btn-dark float-end" data-control="prepare.goto">Folgenden Kampf aufrufen</button>
</div>

<div class="accordion" id="standalonePropsFightersAccordion">
    <div class="accordion-item">
        <h4 class="accordion-header">
            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#standalonePropsFightersAccordion-current" aria-expanded="true" aria-control="standalonePropsFightersAccordion-current">Aktueller Kampf</button>
        </h4>
        <div id="standalonePropsFightersAccordion-current" class="accordion-collapse collapse show" data-bs-parent="#standalonePropsFightersAccordion">
            <div class="accordion-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="class" class="mb-1">Kampfklasse</label>
                        <input type="text" id="class" class="form-control" data-control="class">
                    </div>
                    <div class="col-6">
                        <label for="progress" class="mb-1">Fortschritt</label>
                        <select id="progress" data-control="progress" class="form-select">
                            <option>Hauptrunde</option>
                            <option>Halbfinale</option>
                            <option>Finale</option>
                            <option>Trostrunde</option>
                            <option>Kampf um Platz 3</option>
                        </select>
                    </div>
                </div>
                
                <div class="card card-light mb-3">
                    <div class="card-header">Weiß</div>
                    <div class="card-body">
                        <div class="mb-1 input-group">
                            <label for="white-name" class="input-group-text w-25">Name</label>
                            <input type="text" id="white-name" class="form-control" data-control="white.name">
                        </div>
                        <div class="input-group">
                            <label for="white-club" class="input-group-text w-25">Verein</label>
                            <input type="text" id="white-club" class="form-control" data-control="white.club">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Blau</div>
                    <div class="card-body">
                        <div class="mb-1 input-group">
                            <label for="blue-name" class="input-group-text w-25">Name</label>
                            <input type="text" id="blue-name" class="form-control" data-control="blue.name">
                        </div>
                        <div class="input-group">
                            <label for="blue-club" class="input-group-text w-25">Verein</label>
                            <input type="text" id="blue-club" class="form-control" data-control="blue.club">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h4 class="accordion-header">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#standalonePropsFightersAccordion-next" aria-expanded="false" aria-control="standalonePropsFightersAccordion-next">Folgender Kampf</button>
        </h4>
        <div id="standalonePropsFightersAccordion-next" class="accordion-collapse collapse" data-bs-parent="#standalonePropsFightersAccordion">
            <div class="accordion-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="class" class="mb-1">Kampfklasse</label>
                        <input type="text" id="class" class="form-control" data-control="prepare.class">
                    </div>
                    <div class="col-6">
                        <label for="progress" class="mb-1">Fortschritt</label>
                        <select id="progress" data-control="prepare.progress" class="form-select">
                            <option>Hauptrunde</option>
                            <option>Halbfinale</option>
                            <option>Finale</option>
                            <option>Trostrunde</option>
                            <option>Kampf um Platz 3</option>
                        </select>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">Weiß</div>
                    <div class="card-body">
                        <div class="mb-1 input-group">
                            <label for="white-name" class="input-group-text w-25">Name</label>
                            <input type="text" id="white-name" class="form-control" data-control="prepare.white.name">
                        </div>
                        <div class="input-group">
                            <label for="white-club" class="input-group-text w-25">Verein</label>
                            <input type="text" id="white-club" class="form-control" data-control="prepare.white.club">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Blau</div>
                    <div class="card-body">
                        <div class="mb-1 input-group">
                            <label for="blue-name" class="input-group-text w-25">Name</label>
                            <input type="text" id="blue-name" class="form-control" data-control="prepare.blue.name">
                        </div>
                        <div class="input-group">
                            <label for="blue-club" class="input-group-text w-25">Verein</label>
                            <input type="text" id="blue-club" class="form-control" data-control="prepare.blue.club">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h4 class="accordion-header">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#standalonePropsFightersAccordion-config" aria-expanded="false" aria-control="standalonePropsFightersAccordion-config">Einstellungen</button>
        </h4>
        <div id="standalonePropsFightersAccordion-config" class="accordion-collapse collapse" data-bs-parent="#standalonePropsFightersAccordion">
            <div class="accordion-body">
                <p class="mb-3 text-secondary">Änderungen an diesen Einstellungen werden erst nach einem Klick auf <span class="text-black">Folgenden Kampf aufrufen</span> wirksam.</p>

                <div class="mb-3">
                    <label for="fighting_time" class="mb-1">Kampfzeit (in Sekunden)</label>
                    <input type="number" id="fighting_time" class="form-control" data-control="config.fighting_time" value="240">
                    <button class="btn btn-sm btn-link" type="button" onclick="fighting_time.value=120;">2 min</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="fighting_time.value=180;">3 min</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="fighting_time.value=240;">4 min</button>
                </div>

                <div class="mb-3">
                    <label for="golden_score_time" class="mb-1">Golden Score-Zeit (in Sekunden)</label>
                    <input type="number" id="golden_score_time" class="form-control" data-control="config.golden_score_time" value="0">
                    <button class="btn btn-sm btn-link" type="button" onclick="golden_score_time.value=0;">ohne</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="golden_score_time.value=120;">2 min</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="golden_score_time.value=180;">3 min</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="golden_score_time.value=240;">4 min</button>
                    <button class="btn btn-sm btn-link" type="button" onclick="golden_score_time.value=-1;">unbegrenzt</button>
                </div>
            </div>
        </div>
    </div>
</div>