<div class="modal" id="winner-shown-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4 fw-bold">Ergebnis letzter Kampf</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Dialog schließen"></button>
            </div>
            <div class="modal-body">
                <p>Den letzten Kampf auf {{ g.mat.title }} hat gewonnen:</p>
                <p><strong data-tatami-field="winner.name">Name</strong>
                (<span data-tatami-field="winner.club">Verein</span>)</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100 btn-lg" data-control="callup">Nächsten Kampf aufrufen</button>
            </div>
        </div>
    </div>
</div>