{%- import "components/modals.html" as modals -%}
{%- import "components/buttons.html" as buttons -%}

{% call modals.Modal(id="winner-shown-modal", centered=True) %}
    {% call modals.ModalContainer(width="small") %}
        {{ modals.ModalHeader(text="Ergebnis letzter Kampf", close_btn=True, modal="#winner-shown-modal") }}

        {% call modals.ModalBody() %}
            <p>Den letzten Kampf auf {{ g.mat.title }} hat gewonnen:</p>
            <p><strong data-tatami-field="winner.name">Name</strong>
            (<span data-tatami-field="winner.club">Verein</span>)</p>
        {% endcall %}

        {% call modals.ModalFooter() %}
            {{ buttons.PrimaryButton(text="Nächsten Kampf aufrufen", class="w-100", attr='data-control="callup"')}}
        {% endcall %}
    {% endcall %}
{% endcall %}