{%- import "components/layout.html" as layout -%}

{% extends "layouts/application.html" %}
{% block title %}Scoreboard (mit Liste){% endblock %}

{% block body %}
{% call layout.Grid(class="h-full-with-navbar mh-full-with-navbar") %}
    {% call layout.GridColumn(large_span=3, scrollable=True, class="p-2") %}
        {% include "mod_scoreboard/_lists_manager.html" %}
    {% endcall %}
    {% call layout.GridColumn(large_span=9) %}
        {% include "mod_scoreboard/_controller.html" %}
    {% endcall %}

{% endcall %}
{% endblock body %}

{% block custom_header %}
<script src="{{ url_for('static', filename='application/scoreboard/controller_action.js') }}" defer></script>
<script src="{{ url_for('static', filename='application/scoreboard/controller_state.js') }}" defer></script>
<script src="{{ url_for('static', filename='application/scoreboard/controller_view.js') }}" defer></script>
<script src="{{ url_for('static', filename='application/scoreboard/controller_keyboard.js') }}" defer></script>

<script src="{{ url_for('static', filename='application/match_schedule_view.js') }}" defer></script>

<script>var SBRULES = {{ g.event.sb_rules()|tojson }}</script>
{% endblock custom_header %}