html {
    --primary: #8A9B68;
    --secondary: #868587aa;
    --blue: #136090;
    --white: #ffffff;
}
html, body {
    margin: 0;
    padding: 0;
}




.btn {
    border-radius: 0.25em;
}
.btn[href], .btn[href]:hover { color: white; }
.btn[href].btn-light, .btn[href].btn-light:hover { color: black; }
.btn.btn-sm {
    padding: 0.125rem 0.35rem;
}
.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-dark {
    box-shadow: 0 3px 0 -1px #fff4 inset,
                0 -3px 0 -1px #0004 inset;
}
.btn.btn-primary:active,
.btn.btn-secondary:active,
.btn.btn-dark:active,
.btn.btn-danger:active,
.btn.btn-outline-danger:active,
.btn.btn-primary.active,
.btn.btn-secondary.active,
.btn.btn-dark.active,
.btn.btn-danger.active,
.btn.btn-outline-danger.active {
    box-shadow: 0 0 10px -6px #0008 inset;
}
.btn.btn-primary:focus,
.btn.btn-secondary:focus,
.btn.btn-dark:focus,
.btn.btn-outline-danger:focus,
.btn.btn-light:focus {
    outline: 1px solid var(--secondary);
}

.btn.btn-secondary {
    background-color: #ddd;
    color: #000;
    border-color: #aaa;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    background-color: #ccc;
    color: #000;
}
.btn.btn-secondary:active,
.btn.btn-secondary.active {
    background-color: #bbb;
    color: #000;
    border-color: #999;
}

.btn.btn-primary {
    background-color: #798a57;
    color: #fff;
    border-color: #465724;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #687946;
    color: #fff;
}
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: #576835;
    color: #fff;
    border-color: #465724;
}

.btn.btn-outline-danger {
    background-color: transparent;
    color: #a00;
    border-color: transparent;
}
.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus {
    color: #a00;
    border-color: #a00;
}
.btn.btn-outline-danger:active,
.btn.btn-outline-danger.active {
    background-color: #a00;
    color: #fff;
    border-color: #600;
}

.card {
    box-shadow: 0.25em 0.25em 2em -1em #0003;
    border-color: #aaa;
}
.card .card-header {
    font-weight: bold;
    border-bottom-color: #aaa;
}


.navbar-admin {
    background-color: var(--primary);
    padding: 0.125rem;
    position: fixed;
    left: 0; right: 0;
    top: 0;
}
.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar .navbar-brand img {
    height: 1.5em;
    width: 1.5em;
    margin-top: 0.05rem;
    margin-bottom: -0.05rem;
    margin-right: 0.15em;
}
.navbar-admin .navbar-brand,
.navbar-admin .navbar-brand:hover {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 1em;
    font-size: 1.125rem;
    color: white;
}
.navbar-admin .navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-admin .nav-link {
    color: #ffffff;
    padding: 0.125rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}
.navbar-admin .nav-link:hover {
    color: #000000;
    background-color: #ffffff;
}

.navbar-admin + * {
    margin-top: 2.55rem;
}

/** ** Splash page (/) ** */
body.splash, body.admin {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    min-height: 100vh;
    background-color: var(--secondary);
}
body.splash {
    padding: 3rem;
    display: flex;
}
body.admin {
    padding-top: 2rem;
}
body.splash::before, body.admin::before {
    content: '';
    background-image: url(/static/brand/fighting.png);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: saturate(0.5) brightness(0.5);
}
.splash .container, body.admin .main-container {
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(rgba(255, 255, 255, 0.75),  rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.6));
    border-radius: 0.25rem;
    flex-grow: 1;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.5);
}
body.admin .main-container {
    margin-bottom: 2rem;
    background-image: radial-gradient(rgba(255, 255, 255, 0.95),  rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.8));
}
.splash .splash-container {
    width: 512px;
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    flex-grow: 0;
}
.splash-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: var(--primary);
    color: white;
    padding: 0.0625rem 0.35rem;
    border-radius: 0.125rem;
    text-decoration: none;
}
.splash .splash-logo {
    font-size: 3rem;
    padding: 0.125rem 0.65rem;
    border-radius: 0.125rem;
}

.splash h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.splash p.lead {
    font-size: 1.35em;
    font-weight: 400;
}

label[for]:not(.form-check-label) {
    font-weight: bold;
    cursor: pointer;

}

body.application {
    background-color: #e5e9de;
}

.event-container .row>.col {    
    min-height: calc(100vh - 2.55rem);
}

.event-sidebar {
    background-color: #c0c9ae;
    max-width: 400px;
    padding: 3rem 1rem;
    position: fixed;
    top: 2.55rem;
    z-index: 100;
}

.event-sidebar + .col {
    margin-left: 400px;
}

.event-sidebar h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.event-sidebar .nav, .event-sidebar .nav .nav-item {
    margin: 0;
    padding: 0;
}
.event-sidebar .nav .nav-item .nav-link {
    padding: 1.15rem;
    background: #fffd;
    color: black;
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.15rem;
    border-radius: 0.25rem;
    border-left: 0.5rem solid transparent;
    transition: all .3s ease;
}
.event-sidebar .nav .nav-item .nav-link:hover,
.event-sidebar .nav .nav-item .nav-link:focus {
    background-color: white;
    box-shadow: 0 .25rem 2rem -1.2rem #000a;
}
.event-sidebar .nav .nav-item .nav-link:focus {
    outline: 1px solid var(--secondary);
}
.event-sidebar .nav .nav-item .nav-link.active {
    border-left-color: var(--primary);
    background-color: white;
}


[data-bs-theme="dark"] .event-sidebar {
    background-color: #3d443a;
}
[data-bs-theme="dark"] .event-sidebar .nav .nav-item .nav-link {
    background-color: #111;
    color: white;
}
[data-bs-theme="dark"] .event-sidebar .nav .nav-item .nav-link:hover,
[data-bs-theme="dark"] .event-sidebar .nav .nav-item .nav-link:focus {
    background-color: #222;
}
[data-bs-theme="dark"] .event-sidebar .nav .nav-item .nav-link.active {
    background-color: #222;
}
[data-bs-theme="dark"] .btn.btn-outline-danger:not(:active):not(.active) {
    background-color: #fff;
}

.alert {
    background-color: #fafafa;
    color: #000;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left-width: 0.5rem;
    border-radius: 0;
    padding: 1.5rem 1rem;
}
.alert.alert-warning {
    background-color: #fafafa;
    border-left-color: #fc6;
}
.alert.alert-danger {
    background-color: #fafafa;
    border-left-color: #f66;
}
.alert.alert-info {
    background-color: #fafafa;
    border-left-color: #6af;
}
.alert.alert-success {
    background-color: #fafafa;
    border-left-color: #6a6;
}

.alert .btn-close {
    color: #222 !important;
    filter: none;
}

.alert p:last-child {
    margin-bottom: 0;
}

.nav.nav-tabs {
    border-bottom: 3px solid;
    margin: 0 -0.25rem;
    margin-bottom: 1rem;
}
.nav.nav-tabs .nav-item {
    border: none;
    margin: 0 0.25rem;
}
.nav.nav-tabs .nav-item .nav-link {
    border: 1px solid transparent;
    border-bottom: none;
    margin: 0;
    padding: 0.5rem 1rem;
    color: inherit;
    font-weight: bold;
    border-radius: 0;
}
.nav.nav-tabs .nav-item .nav-link:hover,
.nav.nav-tabs .nav-item .nav-link.active {
    background-color: #fff8;
}
.nav.nav-tabs .nav-item .nav-link.active {
    border-color: #0008;
}

[data-bs-theme="dark"] body.admin::before {
    filter: saturate(0.5) brightness(0.15);
}

[data-bs-theme="dark"] .alert {
    background-color: #333;
    color: white;
}

[data-bs-theme="dark"] body.admin .main-container {
    margin-bottom: 2rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4));
}

[data-bs-theme="dark"] .nav.nav-tabs .nav-item .nav-link:hover,
[data-bs-theme="dark"] .nav.nav-tabs .nav-item .nav-link.active {
    background-color: #000d;
}
[data-bs-theme="dark"] .nav.nav-tabs .nav-item .nav-link.active {
    border-color: #fff6;
}

.fs-small {
    font-size: 0.9rem;
}

.fs-smaller {
    font-size: 0.8rem;
}

.dropdown-menu.dropdown-wide {
    width: 350px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
    min-height: 200px;
}
.card-link:hover,
.card-link:focus {
    background-color: #f0f0f0;
}
.card-link:focus {
    outline: 1px solid var(--secondary);
}
.card-link:active {
    background-color: #e0e0e0;
    box-shadow: 0 0 10px -6px #0008 inset;
}

.card-link .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-link .cll-icon {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.card-link h3 {
    font-size: 1.75rem;
    text-align: center;
}

textarea.form-control {
    min-height: 150px;
}

.application .h-full {
    margin-top: -1rem;
    height: calc(100vh - 3.45rem);
}

.application .application-header {
    z-index: 150;
    position: relative;
}

.global-time {
    font-size: 6rem;
}

.card.card-of-blue,
.card.card-of-white {
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.card.card-of-white .card-header {
    background-color: var(--white);
    padding: 1rem;
    border: none;
    border-radius: 0;
    font-size: 0;
}
.card.card-of-blue .card-header {
    background-color: var(--blue);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0;
    font-size: 0;
}