{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1>Kampfklasse {{ event_class.title }}</h1>    
    <h2 class="fs-3">TN setzen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p class="mb-1">In der Gruppe</p>
                <p class="my-1 fw-bold">{{ group.title }}</p>
                <p class="my-1">wird</p>
                <p class="my-1 fw-bold">{{ participant.full_name }} ({{ participant.association_name }})</p>
                <p class="mt-1">auf die folgende Position gesetzt:</p>

                {% for prei in range(list_system.mandatory_maximum) %}
                    {% set i = list_system.list_class().meta._allocation_order[prei] - 1 %}
                    {% set participant = group.participants.filter_by(placement_index=i).first() %}
                    {% call form.FormRadio(id='position'~i, name='position', value=i, disabled=participant) %}
                    {% if participant %}
                        Pos. Nr. {{ i + 1 }} &ndash; besetzt mit: {{ participant.full_name }} ({{ participant.association_name }})</label>
                    {% else %}
                        Pos. Nr. {{ i + 1 }}
                    {% endif %}
                    {% endcall %}
                {% endfor %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Setzen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id, group=group.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}