{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 class="h2 fw-bold mb-4">{{ event_class.title }} &ndash; {{ 'Gewichtsklassen' if not proximity else 'Gewichtsnahe Gruppen' }}</h1>

    
    <h3 class="h4 fw-bold mb-2">Alle Gruppen losen</h3>
    <form action="" method="POST">
        <div class="card card-semidialog">
            <div class="card-body pb-0">
                <p>Wollen Sie die folgenden Gruppen losen?</p>
                <ul>
                    {% for group in groups %}
                    <li>{{ group.title }} ({{ group.participants.count() }} TN)</li>
                    {% endfor %}
                </ul>
                <p>Bereits manuell gesetzte Personen bleiben unberührt.</p>
                <p>Diese Aktion wird für alle Gruppen das verwendete Listensystem festsetzen, wenn noch kein Listensystem bestimmt ist. Die Festsetzung kann in den Gruppeneinstellungen bearbeitet werden.</p>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" autofocus="true">Alle losen</button>
                <a href="{{ url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id) }}" class="btn btn-secondary">Abbrechen</a>
            </div>
        </div>
    </form>
</div>

{% endblock body %}