{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}

    <h1>Kampfklasse {{ event_class.title }}</h1>    
    <h2 class="fs-3">Alle Gruppen losen</h2>

    <form action="" method="POST">
        {% call cards.Card() %}
            {% call cards.CardBody() %}
                <p>Wollen Sie die folgenden Gruppen losen?</p>
                <ul>
                    {% for group in groups %}
                    <li class="my-0">{{ group.title }} ({{ group.participants.count() }} TN)</li>
                    {% endfor %}
                </ul>
                <p>Bereits manuell gesetzte Personen bleiben unberührt.</p>
                <p>Diese Aktion wird für alle Gruppen das verwendete Listensystem festsetzen, wenn noch kein Listensystem bestimmt ist. Die Festsetzung kann in den Gruppeneinstellungen bearbeitet werden.</p>

                {{ form.Label(for_id='method', text='Losverfahren') }}
                {% call form.Select(id='method', name='method') %}
                    {{ form.SelectOption(value='random', text='Zufällig', selected=True) }}
                    {{ form.SelectOption(value='smallest_weight', text='Nach Gewicht (niedrigstes zuerst)') }}
                    {{ form.SelectOption(value='largest_weight', text='Nach Gewicht (höchstes zuerst)') }}
                {% endcall %}
                {{ form.FormNotice(text='Erfolgt die Losung nach Gewicht, werden TN, für die kein Gewicht eingetragen ist, nicht gelost.') }}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.PrimaryButton(type='submit', text='Alle losen') }}
                {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id), text='Abbrechen') }}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}