{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}

<h1 class="mb-4">Support-Anfragen</h1>

{% for ticket in support_tickets %}

<form action="{{ url_for('admin.resolve_ticket', id=ticket.id) }}" method="POST">
    <div class="card card-semidialog mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <p><strong>Problembeschreibung:</strong></p>
                    <p>{{ ticket.description }}</p>
                    <p>von {{ ticket.user.display_name }}</p>
                </div>
                <div class="col-6">
                    <label for="resolution" class="form-label">Antwort</label>
                    <textarea name="resolution" id="resolution" class="form-control mb-3"></textarea>
                    <button type="submit" class="btn btn-primary">Ticket schließen</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% else %}

<p>Gerade gibt es keine offenen Tickets &mdash; Yippie!</p>

{% endfor %}

{% endblock body %}