{% import "components/cards.html" as cards %}
{% import "components/form.html" as form %}
{% import "components/buttons.html" as buttons %}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}

<h1>Support-Anfragen</h1>

{% for ticket in support_tickets %}
    {% call cards.Card(class="width-medium mx-0") %}
        {% call cards.CardBody() %}
            {% call layout.Grid() %}
                {% call layout.GridColumn(span=6) %}
                    <p class="my-1"><strong>Problembeschreibung:</strong></p>
                    <p class="my-1">{{ ticket.description }}</p>
                    <p class="my-1">von <a href="{{ url_for('admin.edit_user', id=ticket.user.id) }}">{{ ticket.user.display_name }}</a></p>
                {% endcall %}
                {% call layout.GridColumn(span=6) %}
                    <form action="{{ url_for('admin.resolve_ticket', id=ticket.id) }}" method="POST" id="resolve-{{ ticket.id }}">
                        {{ form.Label(for_id="resolution-" ~ ticket.id, text="Antwort") }}
                        {{ form.Textarea(name="resolution", id="resolution-" ~ ticket.id) }}
                    </form>
                {% endcall %}
            {% endcall %}
        {% endcall %}
        {% call cards.CardFooter() %}
            {% call layout.Grid(class="align-center") %}
                {% call layout.GridColumn(span=6) %}
                    {% if not ticket.escalated %}
                    <form action="{{ url_for('admin.escalate_ticket', id=ticket.id) }}" method="POST">
                        {{ buttons.SubtleDangerButton(text="An Administrator*in eskalieren", type="submit") }}
                    </form>
                    {% else %}
                    <p class="my-0 text-bg-danger fw-bold text-center">An Administrator*in eskaliert!</p>
                    {% endif %}
                {% endcall %}
                {% call layout.GridColumn(span=6) %}
                    {{ buttons.PrimaryButton(text="Tickets schließen", type="submit", attr='form="resolve-' ~ ticket.id ~ '"') }}
                {% endcall %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% else %}
    <p>Gerade gibt es keine offenen Tickets &mdash; Yippie!</p>
{% endfor %}

{% endblock body %}