{% set event_page="devices" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }} | Geräte- und Hallenplan{% endblock %}
{% block body %}
<h1>Geräte- und Hallenplan</h1>

<h3 class="mt-3">Matten</h3>

<div class="row">
    {% for mat in mat_pos %}
    <div class="col-12 col-xl-4 p-2">
        {{ position(mat, device_roles, device_positions) }}
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('event_manager.device_position_create', event=g.event.slug, mat=1) }}" class="btn btn-secondary btn-sm">Neue Position</a>

<h3 class="mt-5">Verwaltung</h3>

<div class="row">
    {% for admin in admin_pos %}
    <div class="col-12 col-xl-4 p-2">
        {{ position(admin, device_roles, device_positions) }}
    </div>
    {% endfor %}
</div>

<a href="{{ url_for('event_manager.device_position_create', event=g.event.slug) }}" class="btn btn-secondary btn-sm">Neue Position</a>

<h3 class="mt-5">Geräteanmeldungen</h3>

<div class="row">
    <div class="col-12 p-2">
        <div class="card">
            {% if requests %}
            <div class="card-header">Offene Anfragen</div>
            <div class="card-body border-bottom">
                <div class="list-group">
                    {% for dev in requests %}
                        {{ device(dev, device_roles, device_positions)}}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                <form action="{{ url_for('event_manager.devices_allow_register', event=g.event.slug) }}" method="POST">
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="allow-registrations" name="allow" {{ 'checked' if g.event.allow_device_registration }}>
                            <label class="form-check-label" for="allow-registrations">Neue Geräte dürfen sich registrieren</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Speichern</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


{% macro position(pos, roles, positions) %}
<div class="card">
    <div class="card-header p-1">
        <div class="dropdown">
            <button
                class="btn btn-light dropdown-toggle border-none py-0 px-1 fw-bold"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-auto-close="outside">
                {{ pos.title }}
            </button>

            <div class="dropdown-menu dropdown-wide">
                <form action="{{ url_for('event_manager.device_position_update', event=g.event.slug, id=pos.id) }}" method="POST" class="px-3 py-2">

                    <div class="mb-3">
                        <label for="pos-{{ pos.id }}-name" class="mb-1">Bezeichnung</label>
                        <input name="name" id="pos-{{ pos.id }}-name" class="form-control" value="{{ pos.title }}">
                    </div>

                    <div class="mb-3">
                        <label for="pos-{{ pos.id }}-role" class="mb-1">Kategorie</label>
                        <select name="is_mat" id="pos-{{ pos.id }}-role" class="form-select">
                            <option value="1" {{ 'selected' if pos.is_mat }}>Matten</option>
                            <option value="0" {{ 'selected' if not pos.is_mat }}>Verwaltung</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">Speichern</button>
                </form>
                <div><hr class="dropdown-divider"></div>
                <div><a class="dropdown-item" href="{{ url_for('event_manager.device_position_delete', event=g.event.slug, id=pos.id) }}">Position entfernen</a></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group">
            {% for dev in pos.devices %}
                {{ device(dev, device_roles, device_positions)}}
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}


{% macro device(dev, roles, positions) %}
<div class="list-group-item">
    <div class="dropdown float-end">
        <button
            class="btn btn-light btn-sm fw-bold"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside">
            ⋮
        </button>

        <div class="dropdown-menu dropdown-wide">
            <form action="{{ url_for('event_manager.device_update', event=g.event.slug, id=dev.id) }}" method="POST" class="px-3 py-2">
                <div class="mb-3">
                    <label for="dev-{{ dev.id }}-role" class="mb-1">Aufgabe</label>
                    <select name="role" id="dev-{{ dev.id }}-role" class="form-select">
                        <option disabled {{ 'selected' if dev.event_role == None }}></option>
                        {% for role in roles %}
                        <option value="{{ role.id }}" {{ 'selected' if role.id == dev.event_role.id }}>{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="dev-{{ dev.id }}-pos" class="mb-1">Position</label>
                    <select name="position" id="dev-{{ dev.id }}-pos" class="form-select">
                        <option disabled {{ 'selected' if dev.position == None }}></option>
                        {% for pos in positions %}
                        <option value="{{ pos.id }}" {{ 'selected' if pos.id == dev.position.id }}>{{ pos.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="dev-{{ dev.id }}-name" class="mb-1">Bezeichnung</label>
                    <input name="name" id="dev-{{ dev.id }}-name" class="form-control" value="{{ dev.title }}">
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Speichern</button>
            </form>
            <div><hr class="dropdown-divider"></div>
            <div><a class="dropdown-item" href="{{ url_for('event_manager.device_delete', event=g.event.slug, id=dev.id) }}">Gerät entfernen</a></div>
        </div>
    </div>

    <div>{{ dev.title }}</div>
    <div class="fs-small fst-italic">{{ dev.event_role.name }}</div>

</div>
{% endmacro %}