{%- import "components/form.html" as form -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/dropdown.html" as dropdown -%}
{%- import "components/layout.html" as layout -%}
{%- import "components/list.html" as list -%}
{%- import "components/alerts.html" as alerts -%}

{% set event_page="devices" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }} | Geräte- und Hallenplan{% endblock %}
{% block body %}
<h1>Geräte- und Hallenplan</h1>

<h3>Matten</h3>

{% call layout.Grid() %}
    {% for mat in mat_pos %}
        {% call layout.GridColumn(large_span=4) %}
            {{ position(mat, device_roles, device_positions) }}
        {% endcall %}
    {% endfor %}
{% endcall %}

{{ buttons.SecondaryButton(href=url_for('event_manager.device_position_create', event=g.event.slug, mat=1), text="Neue Position") }}

<h3>Verwaltung</h3>

{% call layout.Grid() %}
    {% for admin in admin_pos %}
        {% call layout.GridColumn(large_span=4) %}
            {{ position(admin, device_roles, device_positions) }}
        {% endcall %}
    {% endfor %}
{% endcall %}

{{ buttons.SecondaryButton(href=url_for('event_manager.device_position_create', event=g.event.slug), text="Neue Position") }}

<h3>Geräteanmeldungen</h3>

{% call cards.Card() %}
    {% if requests %}
        {{ cards.CardHeader(text="Offene Anfragen") }}
        {% call cards.CardBody() %}
            {% call list.List() %}
                {% for dev in requests %}
                    {{ device(dev, device_roles, device_positions)}}
                {% endfor %}
            {% endcall %}
        {% endcall %}
    {% endif %}
    {% call cards.CardBody() %}
        <form action="{{ url_for('event_manager.devices_allow_register', event=g.event.slug) }}" method="POST">
            {{ form.FormCheck(id="allow-registrations", name="allow", label="Neue Geräte dürfen sich registrieren", checked=g.event.allow_device_registration) }}

            {{ buttons.SecondaryButton(text="Speichern", type="submit") }}
        </form>
    {% endcall %}
{% endcall %}

<h3>Offline-Scoreboard</h3>

<p>Sie können ein Offline-Scoreboard für diese Veranstaltung erzeugen und herunterladen. Das Offline-Scoreboard kann dann auch ohne Anmeldung oder Netzwerk-Verbindung verwendet werden.</p>

<p>Ggf. müssen Sie Sicherheitsfunktionen deaktivieren, um das Offline-Scoreboard nutzen zu können. In Firefox müssen Sie bspw. in <a href="about:config">about:config</a> die Einstellung <code>security.fileuri.strict_origin_policy</code> deaktivieren, damit zwischen dem Controller und dem Scoreboard Daten übertragen werden können. Alternativ können Sie einen HTTP-Server verwenden, um das Offline-Scoreboard auf localhost bereitzustellen.</p>

{% call alerts.WarningAlert() %}
    <p>Diese Funktion ist bislang noch experimentell und sollte nur eingeschränkt verwendet werden.</p>
{% endcall %}

{{ buttons.SecondaryButton(href=url_for('event_manager.offline_board', event=g.event.slug), text="Scoreboard herunterladen") }}

{% endblock body %}

{% macro position(pos, roles, positions) %}
    {% call cards.Card() %}
        {% call cards.CardHeader() %}
            {% call dropdown.Dropdown() %}
                {% call dropdown.DropdownButton() %}
                    {{ buttons.SecondaryButton(text=pos.title, attr=dropdown.ToggleDropdownAttr(dropdown='#position-' ~ pos.id), inline=True) }}
                {% endcall %}
                {% call dropdown.DropdownDialog(id="position-" ~ pos.id) %}
                    <form action="{{ url_for('event_manager.device_position_update', event=g.event.slug, id=pos.id) }}" method="POST">
                        {{ form.Label(for_id="pos-" ~ pos.id ~ "-name", text="Bezeichnung") }}
                        {{ form.Input(name="name", id="pos-" ~ pos.id ~ "-name", value=pos.title) }}

                        {{ form.Label(for_id="pos-" ~ pos.id ~ "-role", text="Kategorie") }}
                        {% call form.Select(name="is_mat", id="pos-" ~ pos.id ~ "-role") %}
                            {{ form.SelectOption(value="1", text="Matten", selected=pos.is_mat) }}
                            {{ form.SelectOption(value="0", text="Verwaltung", selected=not pos.is_mat) }}
                        {% endcall %}

                        {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
                        {{ buttons.SubtleDangerButton(href=url_for('event_manager.device_position_delete', event=g.event.slug, id=pos.id), text="Position entfernen") }}
                    </form>
                {% endcall %}
            {% endcall %}
        {% endcall %}
        {% call cards.CardBody() %}
            {% call list.List() %}
                {% for dev in pos.devices %}
                    {{ device(dev, device_roles, device_positions)}}
                {% endfor %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endmacro %}


{% macro device(dev, roles, positions) %}
    {% call list.ListItem() %}
        {% call list.ListItemBody() %}
            {{ list.ListItemBodyHeader(text=dev.title ) }}
            {% if dev.confirmed %}
            {{ list.ListItemBodyDetail(text=dev.event_role.name) }}
            {% else %}
            {{ list.ListItemBodyDetail(text="(Ausstehende Registrierung)") }}
            {% endif %}
        {% endcall %}
        {% call list.ListItemMenu() %}
            {% call dropdown.Dropdown(right=True) %}
                {% call dropdown.DropdownButton() %}
                    {{ list.ListItemMenuItem(icon="more-vert", attr=dropdown.ToggleDropdownAttr(dropdown='#dev-dropown-' ~ dev.id)) }}
                {% endcall %}
                {% call dropdown.DropdownDialog(id="dev-dropown-" ~ dev.id) %}
                    <form action="{{ url_for('event_manager.device_update', event=g.event.slug, id=dev.id) }}" method="POST">
                        {{ form.Label(for_id="dev-" ~ dev.id ~ "-role", text="Aufgabe") }}
                        {% call form.Select(name="role", id="dev-" ~ dev.id ~ "-role") %}
                            {{ form.SelectDefaultOption() }}
                            {% for role in roles %}
                                {{ form.SelectOption(value=role.id, text=role.name, selected=(role.id == dev.event_role_id)) }}
                            {% endfor %}
                        {% endcall %}

                        {{ form.Label(for_id="dev-" ~ dev.id ~ "-position", text="Position") }}
                        {% call form.Select(name="position", id="dev-" ~ dev.id ~ "-position") %}
                            {{ form.SelectDefaultOption() }}
                            {% for pos in positions %}
                                {{ form.SelectOption(value=pos.id, text=pos.title, selected=(pos.id == dev.position_id)) }}
                            {% endfor %}
                        {% endcall %}

                        {{ form.Label(for_id="dev-" ~ dev.id ~ "-name", text="Bezeichnung") }}
                        {{ form.Input(name="name", id="dev-" ~ dev.id ~ "-name", value=dev.title) }}

                        {% call buttons.ButtonList() %}
                            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
                            {{ buttons.SecondaryButton(href=url_for('event_manager.device_inspect', event=g.event.slug, id=dev.id), text="Sitzung beitreten") }}
                            {{ buttons.SubtleDangerButton(href=url_for('event_manager.device_delete', event=g.event.slug, id=dev.id), text="Gerät entfernen") }}
                        {% endcall %}
                    </form>
                {% endcall %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endmacro %}