{% set event_page="dashboard" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }}{% endblock %}
{% block body %}
<h1 class="mb-5">Übersicht</h1>

<h2>Vorbereitung</h2>
<div class="row mt-3 mb-5">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center">
                    <strong>{{ g.event.first_day.strftime("%d.%m.%Y") }}</strong>
                    &ndash;
                    <strong>{{ g.event.last_day.strftime("%d.%m.%Y") }}</strong>
                </div>
                <div class="text-center fw-bold">Zeitraum der Veranstaltung</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">{{ stat.classes }}</div>
                <div class="text-center fw-bold">{{ 'Klassen' if stat.classes != 1 else 'Klasse' }}</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">0</div>
                <div class="text-center fw-bold">Anmeldungen</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">{{ stat.mats }}</div>
                <div class="text-center fw-bold">{{ 'Matten' if stat.mats != 1 else 'Matte' }}</div>
            </div>
        </div>
    </div>
</div>

<h2>Durchführung</h2>
<div class="row mt-3 mb-3">
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">0</div>
                <div class="text-center fw-bold">Angefangene Klassen</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">0%</div>
                <div class="text-center fw-bold">Angemeldet</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">0%</div>
                <div class="text-center fw-bold">Eingewogen</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">0%</div>
                <div class="text-center fw-bold">Eingeteilt</div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">&ndash;</div>
                <div class="text-center fw-bold">Offene Kämpfe</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">&ndash;</div>
                <div class="text-center fw-bold">Eingeplante Kämpfe</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">&ndash;</div>
                <div class="text-center fw-bold">Erledigte Kämpfe</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="fs-1 text-center fw-bold">&ndash;</div>
                <div class="text-center fw-bold">Voraussichtliches Ende (Angefangene Klassen)</div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}