{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}
{%- import "components/datasets.html" as datasets -%}

{% extends "layouts/application.html" %}
{% block title %}Waage{% endblock %}
{% block body %}

{% call layout.Container(width="small") %}
    <h1>Waage</h1>

    <form action="" method="POST">
        {% call cards.Card(class="mb-5") %}
            {% call cards.CardHeader() %}
                <div class="fs-3 fw-bold m-0">{{ registration.first_name }} {{ registration.last_name }}</div>
            {% endcall %}
            {% call cards.CardBody(class="pb-0") %}
                {{ form.Label(for_id="association", text="Verband") }}
                {{ form.Input(id="association", value=(registration.association.name if registration.association else '-'), readonly=True) }}

                {{ form.Label(for_id="club", text="Verein") }}
                {{ form.Input(id="club", value=registration.club, readonly=True) }}

                {% if registration.external_id %}

                {{ form.Label(for_id="external_id", text="Ext. ID") }}
                {{ form.Input(id="external_id", value=registration.external_id, readonly=True) }}

                {% endif %}

                {% call layout.Grid() %}
                    {% call layout.GridColumn(span="3") %}
                        {{ form.Label(for_id="event_class", text="Kampfklasse") }}
                        {{ form.Input(id="event_class", value=registration.event_class.title, readonly=True) }}
                    {% endcall %}
                    {% call layout.GridColumn(span="3") %}
                        {{ form.Label(for_id="suggested_group", text="Gemeldet für") }}
                        {{ form.Input(id="suggested_group", value=registration.suggested_group, readonly=True) }}
                    {% endcall %}
                    {% call layout.GridColumn(span="6") %}
                        {{ form.Label(for_id="verified_weight", text="Kontr. Gewicht") }}
                        {{ form.InputWithSuffix(id='verified_weight', name='verified_weight', type="number", attr=('step="0.01" min="0" autofocus'|safe), suffix="kg", value=(registration.verified_weight / 1000 if registration.verified_weight else '')) }}
                    {% endcall %}
                {% endcall %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {% call layout.Grid() %}
                    {% call layout.GridColumn(span="") %}
                        {{ buttons.PrimaryButton(type='submit', class='w-100', text='Einwiegen') }}
                    {% endcall %}
                    {% call layout.GridColumn(span="auto") %}
                        {{ buttons.SecondaryButton(href=url_for('mod_weighin.index', event=g.event.slug, query=request.values.get('query', None)), text='Abbrechen') }}
                    {% endcall %}

                {% endcall %}
            {% endcall %}
        {% endcall %}
    </form>
{% endcall %}
{% endblock body %}