{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}
{%- import "components/datasets.html" as datasets -%}

{% extends "layouts/application.html" %}
{% block title %}Waage{% endblock %}
{% block body %}

{% call layout.Container() %}
    <h1>Waage</h1>

    {% call cards.Card(class="mb-5") %}
        {% call cards.CardBody(class="pb-0") %}
            <form class="" target="" method="GET">
                {% call layout.Grid() %}
                    {% call layout.GridColumn(span="") %}
                        {{ form.Input(value=(quarg or ''), class='fs-2', attr='autofocus', name='query', placeholder='Nachname, Externe ID oder Verein eingeben...') }}
                    {% endcall %}
                    {% call layout.GridColumn(span="auto") %}
                        {% call buttons.PrimaryButton(type="submit") %}
                            {{ buttons.ButtonIcon(icon="search", label="Suchen") }}
                        {% endcall %}
                    {% endcall %}
                    {% call layout.GridColumn(span="auto") %}
                        {{ buttons.SecondaryButton(href="?", text="Zurücksetzen") }}
                    {% endcall %}
                {% endcall %}
            </form>
        {% endcall %}
    {% endcall %}

    {% if the_one_registration %}
        {% call cards.Card() %}
            {% call cards.CardBody(class="py-1") %}
                {% call layout.Grid(class="align-center") %}
                    {% call layout.GridColumn(span="") %}Es wurde folgender/n TN mit einem exakten Treffer gefunden: <strong>{{ the_one_registration.first_name }} {{ the_one_registration.last_name }}</strong>{% endcall %}
                    {% call layout.GridColumn(span="auto") %}
                        {% if not the_one_registration.weighed_in %}
                            {{ buttons.SecondaryButton(text="Einwiegen", href=url_for('mod_weighin.for_participant', event=g.event.slug, id=the_one_registration.id)) }}
                        {% else %}
                            {{ buttons.DangerButton(text="Zurücknehmen", href=url_for('mod_weighin.correct_for_participant', event=g.event.slug, id=the_one_registration.id, query=quarg)) }}
                        {% endif %}
                    {% endcall %}
                {% endcall %}
            {% endcall %}
        {% endcall %}
    {% endif %}

    {% call datasets.Dataset(size="medium") %}
        {% call datasets.Table() %}
            {% call datasets.TableHead() %}
                {{ datasets.TableHeadColumn(text="Nachname") }}
                {{ datasets.TableHeadColumn(text="Vorname") }}
                {{ datasets.TableHeadColumn(text="Ext. ID") }}
                {{ datasets.TableHeadColumn(text="Verein") }}
                {{ datasets.TableHeadColumn(text="Verband") }}
                {{ datasets.TableHeadColumn(text="Kampfklasse") }}
                {{ datasets.TableHeadColumn(text="Status") }}
                {{ datasets.TableHeadEmptyColumn() }}
            {% endcall %}
            {% call datasets.TableBody() %}
                {% for reg in query %}
                    {% call datasets.TableRow() %}
                        {{ datasets.TableColumn(text=reg.last_name) }}
                        {{ datasets.TableColumn(text=reg.first_name) }}
                        {{ datasets.TableColumn(text=reg.external_id or '-') }}
                        {{ datasets.TableColumn(text=reg.club or '-') }}
                        {{ datasets.TableColumn(text=reg.association.name if reg.association else '-') }}
                        {{ datasets.TableColumn(text=reg.event_class.title) }}
                        {% call datasets.TableColumn(check_id=check_id) %}
                            {% if reg.weighed_in %}
                            <span class="text-success">Eingewogen</span>
                            {% else %}
                            <span class="text-danger fw-bold">Ausstehend</span>
                            {% endif %}
                        {% endcall %}
                        {% call datasets.TableButtonsColumn() %}
                            {% if not reg.weighed_in %}
                                {{ buttons.SecondaryButton(text="Einwiegen", href=url_for('mod_weighin.for_participant', event=g.event.slug, id=reg.id, query=quarg), inline=True) }}
                            {% else %}
                                {{ buttons.SubtleButton(text="Zurücknehmen", href=url_for('mod_weighin.correct_for_participant', event=g.event.slug, id=reg.id, query=quarg), inline=True) }}
                            {% endif %}
                        {% endcall %}
                    {% endcall %}
                {% endfor %}
            {% endcall %}
        {% endcall %}
    {% endcall %}
{% endcall %}
{% endblock body %}