{% import "components/cards.html" as cards %}
{% import "components/buttons.html" as buttons %}
{% import "components/form.html" as form %}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich{% endblock %}
{% block body %}

<h1>Systemnachricht {{ 'erstellen' if action == 'new' else 'bearbeiten' }}</h1>

<form action="" method="POST">
    {% call cards.Card(class="width-medium mx-0") %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id="description", text="Inhalt") }}
            {{ form.Textarea(id="description", name="description", value=message.description or '', size="large") }}

            {{ form.Label(for_id="user_id", text="Autor*in") }}
            {% call form.Select(id="user_id", name="user_id") %}
                {{ form.SelectOption(value='', text='(System)') }}
                {% for user in users %}
                    {{ form.SelectOption(value=user.id, text=user.qualified_name(), selected=user == message.user) }}
                {% endfor %}
            {% endcall %}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
            {{ buttons.SecondaryButton(href=url_for('admin.messages'), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>
{% endblock body %}