{%- import "components/list.html" as list -%}
{%- import "components/buttons.html" as buttons -%}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich | Veranstaltungen{% endblock %}
{% block body %}
<h1>Veranstaltungen</h1>

{% if current_user.has_privilege('create_tournaments') %}
    {{ buttons.PrimaryButton(href=url_for('admin.new_event'), text='Veranstaltung hinzufügen') }}
{% endif %}

{% if events|length == 0 %}
<p>Du hast keine Veranstaltungen.</p>
{% else %}

{% call list.List() %}
    {% for event in events %}
        {% call list.ListItem(href=url_for('event_manager.index', event=event.slug)) %}
            {% call list.ListItemBody() %}
                {{ list.ListItemBodyHeader(event.title) }}
                {{ list.ListItemBodyDetail(event.first_day.strftime("%d.%m.%Y") ~ " – " ~ event.last_day.strftime("%d.%m.%Y")) }}
                {{ list.ListItemBodyDetail(event.slug) }}
                {% if current_user.has_privilege('admin') and event in current_user_events %}
                    <div class="fs-xs mt-1"><span class="badge text-bg-secondary">Meine Veranstaltung</span></div>
                {% endif %}
            {% endcall %}
        {% endcall %}
    {% endfor %}
{% endcall %}
{% endif %}

{% endblock body %}