{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich | Neue Veranstaltung{% endblock %}
{% block body %}

<h1>Neue Veranstaltung</h1>

<form action="" method="POST">
    <div class="mb-3 d-flex gap-1">
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a href="{{ url_for('admin.events') }}" class="btn btn-secondary">Abbrechen</a>
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Veranstaltungsname</label>
        <input name="title" id="title" class="form-control">
    </div>

    <div class="mb-3">
        <label for="slug_part" class="form-label">Event-ID (innerhalb der zuständigen Rolle)</label>
        <input name="slug_part" id="slug_part" class="form-control" pattern="[a-zA-Z0-9.-]+">
        <div class="form-text">Es können Buchstaben, Ziffern, Bindestriche und den Punkt "." verwendet werden. Die Event-ID kann später nicht mehr geändert werden!</div>
    </div>

    <div class="mb-3">
        <label for="supervising_role" class="form-label">Zuständige Rolle</label>
        <select id="supervising_role" name="supervising_role" class="form-select">
            {% for role in roles %}
            <option value="{{ role.id }}" title="{{ role.description }}">{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="supervising_user" class="form-label">Ansprechperson</label>
        <select id="supervising_user" name="supervising_user" class="form-select">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.qualified_name() }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="event_day" class="form-label">Veranstaltungstag</label>
        <input name="event_day" id="event_day" class="form-control" type="date">
        <div class="form-text">Wenn die Veranstaltung über mehrere Tage geht, trage hier zunächst den ersten Tag ein. Dies kann später geändert werden.</div>
    </div>
</form>
{% endblock body %}