{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}
{%- import "components/cards.html" as cards -%}

{% extends "layouts/admin.html" %}
{% block title %}Administrationsbereich | Neue Veranstaltung{% endblock %}
{% block body %}

<h1>Neue Veranstaltung</h1>

<form action="" method="POST">
    {% call cards.Card(class="width-medium mx-0") %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id="title", text="Veranstaltungsname") }}
            {{ form.Input(id="title", name="title") }}

            {{ form.Label(for_id="slug_part", text="Event-ID (innerhalb der zuständigen Rolle)") }}
            {{ form.Input(id="slug_part", name="slug_part") }}
            {{ form.FormNotice(text='Es können Buchstaben, Ziffern, Bindestriche und den Punkt "." verwendet werden. Die Event-ID kann später nicht mehr geändert werden!') }}

            {{ form.Label(for_id="supervising_role", text="Zuständige Rolle") }}
            {% call form.Select(id="supervising_role", name="supervising_role") %}
                {{ form.SelectDefaultOption() }}
                {% for role in roles %}
                    {{ form.SelectOption(value=role.id, text=role.name) }}
                {% endfor %}
            {% endcall %}

            {{ form.Label(for_id="supervising_user", text="Ansprechperson") }}
            {% call form.Select(id="supervising_user", name="supervising_user") %}
                {{ form.SelectDefaultOption() }}
                {% for user in users %}
                    {{ form.SelectOption(value=user.id, text=user.qualified_name()) }}
                {% endfor %}
            {% endcall %}

            {{ form.Label(for_id="event_day", text="Veranstaltungstag") }}
            {{ form.Input(id="event_day", name="event_day", type="date") }}
            {{ form.FormNotice(text='Wenn die Veranstaltung über mehrere Tage geht, trage hier zunächst den ersten Tag ein. Dies kann später geändert werden.') }}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
            {{ buttons.SecondaryButton(href=url_for('admin.events'), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>
{% endblock body %}