<h2 class="h4 mb-3 fw-bold">Kampflisten</h2>
{% if assigned_lists %}
<div class="nav nav-tabs tabs-sm w-100">
    <div class="nav-item">
        <a class="nav-link" role="tab" href="?" title="Ansicht zurücksetzen (aktuelle Liste anzeigen)">&boxbox;</a>
    </div>
    {% for list in assigned_lists %}
    <div class="nav-item">
        <a class="nav-link {{ 'active' if list.id == shown_list.id }}" role="tab" href="?shown_list={{ list.id }}">{{ list.title }}</a>
    </div>
    {% endfor %}
</div>
<ul class="pagination pagination-sm m-0 p-1">
    {% for _ in range(shown_list.list_system().display_page_count) %}
    {% if request.values.get('page', "1") == ""~loop.index %}
    <li class="page-item active" aria-current="page"><span class="page-link">{{ loop.index }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?shown_list={{ shown_list.id }}&page={{ loop.index }}">{{ loop.index }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<div class="p-1">
    <img src="{{ url_for('mod_list.display_image', event=g.event.slug, id=shown_list.id, page=request.values.get('page')) }}" alt="">
</div>
{% else %}
<p>Dieser Matte wurden noch keine Listen zugewiesen, die Listen wurden noch nicht freigegeben oder alle Kämpfe sind beendet.</p>
{% endif %}