{%- import "components/cards.html" as cards -%}
{% from "shared/_match_summary.html" import match_summary %}

<h2>Kämpfe auf {{ g.mat.title }}</h2>

<h3>Laufender Kampf</h3>

{% set current_match = g.mat.current_match() %}
{% if current_match %}
    {{ match_summary(current_match, controls=True) }}
{% else %}
    <p>Zurzeit findet kein Kampf statt.</p>
{% endif %}

<h3>Nächster Kampf</h3>

{% set waiting_match = g.mat.waiting_match() %}
{% if waiting_match %}
    {{ match_summary(waiting_match, controls=True) }}
{% else %}
    <p>Zurzeit wurde kein nächster Kampf aufgerufen.</p>
{% endif %}

<h3>Angesetze Kämpfe</h3>

{% for match in g.mat.scheduled_matches(include_called_up=False) %}
    {{ match_summary(match, controls=True) }}
{% else %}
    <p>Zurzeit wurde keine (weiteren) Kämpfe angesetzt.</p>
{% endfor %}

<h3>Weitere Kämpfe</h3>

{% if assigned_lists|length %}
    {% call cards.Card() %}
        {% for list in assigned_lists if not list.completed %}
            {{ cards.CardHeader(text=list.title, class="tj-schedgrp-btn", actionable=True, attr='data-tj-oneof=\'{"common": ".tj-schedgrp-element", "unique": "#group-' ~ list.id ~ '", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-schedgrp-btn"}\'') }}
            {% call cards.CardBody(class="tj-schedgrp-element hidden", id="group-" ~ list.id) %}
                {% for match in list.matches.filter_by(scheduled=False, completed=False) if not match.obsolete %}
                    {{ match_summary(match, controls=True, schedule=False) }}
                {% else %}
                    <p>In dieser Gruppe stehen keine Kämpfe mehr aus.</p>
                {% endfor %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% else %}
    <p>Es stehen keine (weiteren) Kämpfe zur Verfügung.</p>
{% endif %}