{%- import "components/layout.html" as layout -%}

{% extends "layouts/application.html" %}
{% block title %}Listen {{ g.device.position.title }}{% endblock %}
{% block body %}
{% call layout.Grid(class="h-full-with-navbar") %}
    {% call layout.GridColumn(large_span=3, class="p-2") %}
        {% include "mod_list/_schedule.html" %}
    {% endcall %}
    {% call layout.GridColumn(large_span=4, class="p-2") %}
        {% include "mod_list/_results.html" %}
    {% endcall %}
    {% call layout.GridColumn(large_span=5, class="p-2") %}
        {% include "mod_list/_lists.html" %}
    {% endcall %}
{% endcall %}
{% endblock body %}