{%- import "components/navbar.html" as navbar -%}
{%- import "components/switches.html" as switches -%}

{% set has_current_user = current_user.is_authenticated and (g.event.is_supervisor(current_user) or current_user.has_privilege('admin')) %}

{%- call navbar.Navbar() -%}
    {% if mode == 'evmgr' %}
    {{ navbar.NavbarBrand(name=config.BRAND_NAME, href=url_for('event_manager.index', event=g.event.slug)) }}
    {% else %}
    {{ navbar.NavbarBrand(name=config.BRAND_NAME, href=url_for('devices.index', event=g.event.slug)) }}
    {% endif %}

    {% if has_current_user %}
    {% call switches.Switch() %}
        {{ switches.SwitchItem(href=url_for('event_manager.index', event=g.event.slug),
            label="Vorbereitung", active=(mode == 'evmgr')) }}
        {{ switches.SwitchItem(href=url_for('devices.index', event=g.event.slug),
            label="Durchführung", active=(mode == 'app')) }}
    {% endcall %}
    {% endif %}

    {{ navbar.NavbarCenteredText(g.event.title) }}

    {% call navbar.NavbarNav() %}
        {% if has_current_user %}
        {{ navbar.NavbarNavItem(href=url_for('admin.index'), icon="arrow-up-left-square", label="Ansicht schließen") }}
        {{ navbar.NavbarNavItem(href=url_for('security.logout'), icon="log-out", label="Abmelden") }}
        {% else %}
        {{ navbar.NavbarNavItem(href=url_for('devices.exit', event=g.event.slug), icon="log-out", label="Abmelden") }}
        {% endif %}
    {% endcall %}
{%- endcall -%}