{%- import "components/layout.html" as layout -%}
{%- import "components/navbar.html" as navbar -%}
{%- import "components/badges.html" as badges -%}

<!DOCTYPE html>
<html lang="de">
    <head>
        {% include "layouts/_shared-header.html" %}
        <title>TATAMI | {% block title %}{% endblock title %}</title>
        {% block custom_header %}{% endblock custom_header %}
    </head>
    <body class="admin">
        {%- call navbar.Navbar() -%}
            {{ navbar.NavbarBrand(name=config.BRAND_NAME, label="Administration", href=url_for('admin.index')) }}

            {% call navbar.NavbarNav() %}
                {{ navbar.NavbarNavItem(href=url_for('admin.index'), label="Übersicht") }}
                {{ navbar.NavbarNavItem(href=url_for('admin.events'), label="Veranstaltungen") }}
                {{ navbar.NavbarNavItem(href=url_for('admin.user'), label="Konten und Rollen")
                    if current_user.has_privilege('manage_users') }}
                {{ navbar.NavbarNavItem(href=url_for('admin.presets'), label="Voreinstellungen")
                    if current_user.has_privilege('alter_presets') }}
                {% if current_user.has_privilege('support') %}
                    {% if open_support_tickets > 0 %}
                        {% call navbar.NavbarNavItem(href=url_for('admin.support_tickets')) %}
                            Support {{ badges.Badge(text=open_support_tickets, style="danger") }}
                        {% endcall %}
                    {% else %}
                        {{ navbar.NavbarNavItem(href=url_for('admin.support_tickets'), label="Support") }}
                    {% endif %}
                {% endif %}
            {% endcall %}

            {{ navbar.NavbarFiller() }}

            {% call navbar.NavbarNav() %}
                {{ navbar.NavbarNavItem(href=url_for('security.logout'), icon="log-out", label="Abmelden") }}
            {% endcall %}
        {%- endcall -%}

        {% call layout.Container() %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <div class="container pt-3 mb-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category or 'light' }} alert-dismissible fade show" role="alert">
                        {% if ":" in message %}
                        <p class="mb-0"><strong>{{ message.split(":", 1)[0] }}:</strong> {{ message.split(":", 1)[1] }}</p>
                        {% else %}
                        <p class="mb-0">{{ message }}</p>
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
                    </div>
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="container main-container">
                {% block body %}{% endblock body %}
            </div>
        {% endcall %}
    </body>
</html>