<!DOCTYPE html>
<html lang="de" {{ 'data-bs-theme="dark"'|safe if current_user.prefers_dark_mode }}>
<head>
    {% include "layouts/_header.html" %}
    <title>TATAMI | {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-admin navbar-expand-lg navbar-dark mb-2">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">
                <img src="{{ url_for('static', filename='brand/logo_white.png') }}" alt="TATAMI">
                <span>Administration</span>
            </a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#adminMainNav"
                aria-controls="adminMainNav" aria-expanded="false"
                aria-label="Navigation ein-/ausblenden">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="adminMainNav">
                <div class="d-flex justify-content-between w-100">
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.index') }}">Übersicht</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.events') }}">Veranstaltungen</a>
                        </div>
                        {% if current_user.has_privilege('manage_users') %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.user') }}">Konten und Rollen</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <a class="btn btn-dark btn-sm" href="{{ url_for('security.logout') }}">Abmelden</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="container mt-2 mb-3">
    {% for category, message in messages %}
        <div class="alert alert-{{ category or 'light' }} alert-dismissible fade show" role="alert">
            {% if ":" in message %}
            <p class="mb-0"><strong>{{ message.split(":", 1)[0] }}:</strong> {{ message.split(":", 1)[1] }}</p>
            {% else %}
            <p class="mb-0">{{ message }}</p>
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container mt-4">
        {% block body %}{% endblock body %}
    </div>
</body>
</html>