<!DOCTYPE html>
<html lang="de" {{ 'data-bs-theme="dark"'|safe if current_user.prefers_dark_mode }}>
<head>
    {% include "layouts/_header.html" %}
    <title>TATAMI | {% block title %}{% endblock title %}</title>
</head>
<body class="admin">
    <nav class="navbar navbar-admin navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">
                <img src="{{ url_for('static', filename='brand/logo_white.png') }}" alt="TATAMI">
                <span>Administration</span>
            </a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#adminMainNav"
                aria-controls="adminMainNav" aria-expanded="false"
                aria-label="Navigation ein-/ausblenden">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="adminMainNav">
                <div class="d-flex justify-content-end w-100">
                    <div class="navbar-nav">
                        <div class="nav-item me-2">
                            <a class="btn btn-dark btn-sm" href="{{ url_for('admin.index') }}">Ansicht schließen</a>
                        </div>
                        <div class="nav-item">
                            <a class="btn btn-dark btn-sm" href="{{ url_for('security.logout') }}">Abmelden</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid event-container">
        <div class="row">
            <div class="col event-sidebar">
                <h3>{{ g.event.title }}</h3>
                <div class="nav flex-column">
                    <div class="nav-item">
                        <a class="nav-link {{ 'active' if event_page=='dashboard' }}" href="{{ url_for('event_manager.index', event=g.event.slug) }}">📊 Übersicht</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link {{ 'active' if event_page=='settings' }}" href="">⚙️ Einstellungen</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link {{ 'active' if event_page=='classes' }}" href="{{ url_for('event_manager.classes', event=g.event.slug) }}">👪 Kampfklassen</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link{{ 'active' if event_page=='registrations' }}" href="">📝 Anmeldungen</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link{{ 'active' if event_page=='lists' }}" href="">📜 Hauptliste</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link {{ 'active' if event_page=='devices' }}" href="{{ url_for('event_manager.devices', event=g.event.slug) }}">💻 Geräte- und Hallenplan</a>
                    </div>
                </div>
            </div>
            <div class="col p-4 pt-4">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <div class="container mt-2 mb-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category or 'light' }} alert-dismissible fade show" role="alert">
                        {% if ":" in message %}
                        <p class="mb-0"><strong>{{ message.split(":", 1)[0] }}:</strong> {{ message.split(":", 1)[1] }}</p>
                        {% else %}
                        <p class="mb-0">{{ message }}</p>
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <div class="container mt-4 main-container">
                    {% block body %}{% endblock body %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>