<!DOCTYPE html>
<html lang="de">
<head>
    {% include "layouts/_header.html" %}
    <title>TATAMI</title>
    {% block custom_header %}{% endblock custom_header %}
</head>
<body class="splash">
    <div class="splash-container">
        <a href="{{ url_for('splash') }}" class="splash-logo">{{ config.BRAND_NAME }}</a>
    </div>
    <div class="container">
        {% block pre_messages %}{% endblock pre_messages %}
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            {% set category = 'danger' if category == 'error' else category %}
            <div class="alert alert-{{ category or 'dark' }} alert-dismissible fade show" role="alert">
                {% if ":" in message %}
                <p class="mb-0"><strong>{{ message.split(":", 1)[0] }}:</strong> {{ message.split(":", 1)[1] }}</p>
                {% else %}
                <p class="mb-0">{{ message }}</p>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock body %}
    </div>
</body>
</html>