.alert {
    background-color: white;
    border-left: .5rem solid;
    padding: calc(2 * var(--tatami-base-spacing));
    margin: var(--tatami-base-spacing) 0;
}

.alert p:first-child { margin-top: 0; }
.alert p:last-child { margin-bottom: 0; }

.alert.alert-success { border-left-color: var(--tatami-color-success) }
.alert.alert-info { border-left-color: var(--tatami-color-info) }
.alert.alert-danger { border-left-color: var(--tatami-color-danger) }
.alert.alert-warning { border-left-color: var(--tatami-color-warning) }