* { box-sizing: border-box; }

html {
    background-color: var(--tatami-application-background);
    color: var(--tatami-application-color)
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: calc(1 * var(--tatami-base-spacing));
}


.width-full,
.width-normal,
.width-small {
    width: 100%;
    margin: 0 auto;
}

.width-full { max-width: 100%; }
.width-normal { max-width: 1332px; }
.width-small { max-width: 666px; }

.debug {
    outline: 2px solid red;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    outline: 2px solid red;
}