.brand {
    display: flex;
    width: max-content;
    user-select: none;
    margin: var(--tatami-base-spacing) 0;
    text-decoration: none;
    line-height: 1.0;
}

.brand :first-child {
    border-top-left-radius: calc(var(--tatami-brand-rounding) * var(--tatami-base-rounding));
    border-bottom-left-radius: calc(var(--tatami-brand-rounding) * var(--tatami-base-rounding))0.5rem;
}

.brand :last-child {
    border-top-right-radius: calc(var(--tatami-brand-rounding) * var(--tatami-base-rounding));
    border-bottom-right-radius: calc(var(--tatami-brand-rounding) * var(--tatami-base-rounding));
}

.brand .brand-name,
.brand .brand-label {
    border: 0.15rem solid var(--tatami-color-primary);
    text-align: center;
    display: inline-block;
}

.brand .brand-name {
    padding: calc(0.65 * var(--tatami-base-spacing)) calc(0.85 * var(--tatami-base-spacing));
    background-color: var(--tatami-color-primary);
    color: #ffffff;
    font-weight: 900;
}
.brand .brand-label {
    padding: calc((0.65 * var(--tatami-base-spacing)) + 0.125em) calc(0.85 * var(--tatami-base-spacing));
    background-color: #ffffff;
    color: var(--tatami-color-primary);
    font-weight: 600;
    font-size: 0.8em;
}

.brand.brand-large {
    font-size: 1.25rem;
}
.brand.brand-large .brand-name {
    padding: calc(0.75 * var(--tatami-base-spacing)) calc(1 * var(--tatami-base-spacing));
}

.brand.brand-large .brand-label {
    padding: calc(0.75 * var(--tatami-base-spacing) + 0.125em) calc(1 * var(--tatami-base-spacing));
}

.brand.brand-small {
    font-size: 0.85rem;
}
.brand.brand-small .brand-name {
    padding: calc(0.5 * var(--tatami-base-spacing)) calc(0.65 * var(--tatami-base-spacing));
}

.brand.brand-small .brand-label {
    padding: calc(0.5 * var(--tatami-base-spacing) + 0.125em) calc(0.65 * var(--tatami-base-spacing));
}

.brand.brand-icon {
    font-size: 0.9em;
}
.brand.brand-icon .brand-name {
    height: 1.3em;
    width: 1.3em;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.05em;
}