.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tatami-color-secondary);
    border-radius: calc(1.5 * var(--tatami-base-rounding));
    margin: var(--tatami-base-spacing) 0;
    box-shadow: var(--tatami-card-shadow);
}

.card>:first-child {
    border-top-left-radius: calc(1.5 * var(--tatami-base-rounding));
    border-top-right-radius: calc(1.5 * var(--tatami-base-rounding));
}

.card>:last-child {
    border-bottom-left-radius: calc(1.5 * var(--tatami-base-rounding));
    border-bottom-right-radius: calc(1.5 * var(--tatami-base-rounding));
}

.card .card-header {
    background-color: var(--tatami-color-secondary-subtle);
    padding: calc(1.25 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing));
    user-select: none;
    font-weight: 500;
}

.card .card-footer {
    background-color: var(--tatami-color-secondary-subtle);
    padding: calc(1.25 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing));
    border-top: 1px solid var(--tatami-color-secondary);
    user-select: none;
}

.card .card-body {
    background-color: white;
    padding: calc(2 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing));
    border-top: 1px solid var(--tatami-color-secondary);
}
.card .card-body:first-child {
    border-top: none;
}

.card .card-body>:first-child,
.card .card-body>.grid:first-child>.col :first-child { margin-top: 0 }
.card .card-body>:last-child { margin-bottom: 0 }