.colboard {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-grow: 1;
}
.navbar + .colboard,
.toolbar + .colboard {
    margin-top: calc(-1 * var(--tatami-base-spacing));
}
.colboard .colboard {
    overflow: unset;
}

.colboard .colboard-column {
    width: 0;
    flex-grow: 1;
    border-right: 1px solid var(--tatami-color-secondary-subtle);
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.colboard .colboard-column:last-child {
    border-right: none;
}

.colboard .colboard-column.span-2 { flex-grow: 2; }
.colboard .colboard-column.span-3 { flex-grow: 3; }
.colboard .colboard-column.span-4 { flex-grow: 4; }
.colboard .colboard-column.span-5 { flex-grow: 5; }

.colboard .colboard-column-header {
    background-color: #f7f7f7;
    padding: 0 calc(1.5 * var(--tatami-base-spacing));
    min-height: 2.75rem;
    border-bottom: 1px solid var(--tatami-color-secondary-subtle);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.colboard .colboard .colboard-column-header {
    min-height: 2rem;
    background-color: #f4f4f4;
}

.colboard .colboard-column-header .colboard-column-title {
    user-select: none;
    flex-grow: 1;
    font-size: 1.15em;
    font-weight: 500;
}

.colboard .colboard .colboard-column-header .colboard-column-title {
    font-size: 1em;
}

.colboard .colboard-column-body {
    padding: calc(1.5 * var(--tatami-base-spacing));
}

.colboard .colboard-column-body :first-child {
    margin-top: 0;
}

.colboard .colboard-column.empty {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colboard .colboard-column.empty .colboard-empty-column-text {
    color: var(--tatami-color-secondary-dark);
    user-select: none;
}