.dataset {
    margin: calc(2 * var(--tatami-base-spacing)) 0;
    padding: var(--tatami-base-spacing);
    background-color: white;
    border: 1px solid var(--tatami-color-secondary);
    overflow: auto;
}

.dataset.small {
    max-height: 300px;
}
.dataset.medium {
    max-height: 500px;
}
.dataset.large {
    max-height: 700px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    margin: var(--tatami-base-spacing) 0;
}
.dataset .table {
    width: auto;
    margin: 0;
}
.table td,
.table th {
    padding: calc(0.5 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing));
    border: 1px solid var(--tatami-color-secondary);
    user-select: none;
    white-space: nowrap;
}
.table td.table-check-container {
    padding: calc(0.5 * var(--tatami-base-spacing));
}

.table thead {
    background-color: var(--tatami-color-secondary-subtle);
}
.table thead th {
    font-weight: 500;
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table thead th a,
.table tbody td label {
    display: inline-block;
    margin: calc(-0.5 * var(--tatami-base-spacing)) calc(-1.5 * var(--tatami-base-spacing));
    padding: calc(0.5 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing));
    color: inherit;
    text-decoration: none;
}
.table tbody tr label {
    cursor: pointer;
}
.table tbody tr:hover td {
    background-color: #0000000a;
}
.table tbody td.table-buttons {
    padding: calc(0.5 * var(--tatami-base-spacing));
}