.switch {
    display: flex;
    width: max-content;
    border: 0.125rem solid var(--tatami-color-secondary-subtle);
    padding: calc(0.35 * var(--tatami-base-spacing));
    margin: var(--tatami-base-spacing) 0;
}

.switch .switch-item {
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: calc(0.35 * var(--tatami-base-spacing)) calc(0.75 * var(--tatami-base-spacing));
    margin-right: calc(0.5 * var(--tatami-base-spacing));
    transition: background-color var(--tatami-base-transition);
    border-radius: calc(0.5 * var(--tatami-base-rounding));
    user-select: none;
}
.switch .switch-item:last-child {
    margin-right: 0;
}

.switch .switch-item.active,
.switch .switch-item:hover {
    background-color: var(--tatami-color-secondary-subtle);
}


.switch .switch-item[disabled],
.switch .switch-item.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.switch.switch-tab {
    border: none;
    width: 100%;
    border-bottom: 0.125rem solid var(--tatami-color-secondary-subtle);
}
.switch.switch-tab .switch-item {
    font-size: 1.125rem;
    font-weight: 500;
    padding: calc(0.5 * var(--tatami-base-spacing)) calc(1.5 * var(--tatami-base-spacing))
}
.switch.switch-tab .switch-item.active {
    background-color: var(--tatami-color-secondary-dark);
    color: #ffffff;
}