.toolbar {
    padding: calc(2 * var(--tatami-base-spacing)) 0;
    margin-bottom: var(--tatami-base-spacing);
    background-color: var(--tatami-toolbar-background);
    border: var(--tatami-toolbar-border);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar + .toolbar {
    border: none;
    border-bottom: var(--tatami-toolbar-border);
    margin-top: calc(-1 * var(--tatami-base-spacing));
}

.toolbar .toolbar-header {
    padding: 0 var(--tatami-base-spacing);
    margin-bottom: calc(2 * var(--tatami-base-spacing));
}
.toolbar .toolbar-header .toolbar-header-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.toolbar .toolbar-header:last-child {
    margin-bottom: 0;
}

.toolbar .toolbar-menu {
    display: flex;
    padding: 0 var(--tatami-base-spacing);
    margin: calc(-0.5 * var(--tatami-base-spacing));
    margin-bottom: calc(-1 * var(--tatami-base-spacing));
    flex-wrap: wrap;
}
.toolbar .toolbar-body:first-child:last-child .toolbar-menu {
    margin-top: calc(-1 * var(--tatami-base-spacing));
}

.toolbar .toolbar-menu .toolbar-menu-item {
    padding: var(--tatami-base-spacing);
    margin: calc(0.5 * var(--tatami-base-spacing));
    color: var(--tatami-color-secondary-dark);
    text-decoration: none;
    border-radius: var(--tatami-base-rounding);
    transition: all var(--tatami-base-transition);
    user-select: none;
}
.toolbar .toolbar-menu .toolbar-menu-item:hover {
    background-color: var(--tatami-color-secondary-subtle);
    color: #000000;
}
.toolbar .toolbar-menu .toolbar-menu-item.active {
    background-color: var(--tatami-color-secondary-dark);
    color: #ffffff;
}
.toolbar .toolbar-menu .toolbar-menu-item.disabled,
.toolbar .toolbar-menu .toolbar-menu-item[disabled] {
    pointer-events: none;
    opacity: 0.4;
}

.toolbar .toolbar-menu .toolbar-menu-item.toolbar-menu-item-with-icon {
    display: flex;
    align-items: center;
}
.toolbar .toolbar-menu .toolbar-menu-item.toolbar-menu-item-with-icon i {
    font-size: 1.3em;
    margin: -0.15rem 0;
    margin-right: var(--tatami-base-spacing);
}
.toolbar .toolbar-menu .toolbar-menu-item.toolbar-menu-item-with-icon i:first-child:last-child {
    margin: -0.15rem 0;
}
.toolbar .toolbar-menu .toolbar-menu-item.toolbar-menu-item-with-icon .toolbar-menu-item-icon-label {
    font-size: 0.9em;
}