html {
    font-family: var(--tatami-base-font);
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin: 0;
    margin-top: calc(3 * var(--tatami-base-spacing));
    margin-bottom: calc(2 * var(--tatami-base-spacing));
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6667rem; }
h3 { font-size: 1.3333rem; }
h4 { font-size: 1.1500rem; }

p {
    margin: 0;
    line-height: var(--tatami-line-height);
    margin-top: calc(2 * var(--tatami-base-spacing));
    margin-bottom: calc(2 * var(--tatami-base-spacing));
}

li {
    line-height: var(--tatami-line-height);
    margin-top: calc(2 * var(--tatami-base-spacing));
    margin-bottom: calc(2 * var(--tatami-base-spacing));
}

p a[href],
li a[href] {
    color: var(--tatami-color-primary);
    text-decoration: underline;
    transition: color var(--tatami-base-transition);
}

p a:hover,
li a:hover {
    color: var(--tatami-color-primary-dark);
}