:root {
    --tatami-base-font: Inter, Arial, Helvetica, sans-serif;
    --tatami-base-spacing: 0.5rem;
    --tatami-base-rounding: 0.25rem;
    --tatami-base-transition: .2s ease-in-out;
    
    --tatami-breakpoint: 1248px;
    
    --tatami-application-background: #f0f0f0;
    --tatami-application-color: #111111;
    --tatami-line-height: 1.5;

    --tatami-color-primary: #8A9B68;
    --tatami-color-primary-subtle: #C6CEB6;
    --tatami-color-primary-dark: #4C5639;

    --tatami-color-secondary: #B8B8B8;
    --tatami-color-secondary-subtle: #E0E0E0;
    --tatami-color-secondary-dark: #474747;

    --tatami-color-info: #4E74BC;
    --tatami-color-info-subtle: #C4D1E9;
    --tatami-color-info-dark: #223559;

    --tatami-color-danger: #D7263D;
    --tatami-color-danger-subtle: #ED97A2;
    --tatami-color-danger-dark: #450C14;

    --tatami-color-success: #57B25C;
    --tatami-color-success-subtle: #ABD8AD;
    --tatami-color-success-dark: #275429;

    --tatami-color-warning: #EEB902;
    --tatami-color-warning-subtle: #FEEDAE;
    --tatami-color-warning-dark: #654F01;

    --tatami-color-dark: #333333;
    --tatami-color-dark-accent: #111111;
    --tatami-color-white: #ffffff;

    --tatami-color-judowhite: #ffffff;
    --tatami-color-judowhite-accent: #cccccc;
    --tatami-color-judoblue: #3133f0;
    --tatami-color-judoblue-accent: #1313a0;

    --tatami-button-font-weight: 600;
    --tatami-button-cta-shadow: 0.125rem 0.125rem 1rem -0.5rem #000000;
    --tatami-button-hover-shadow: 0 0 0 100vmax #00000022 inset;
    --tatami-button-active-shadow: 0 0 .5rem #00000055 inset;

    --tatami-brand-rounding: 1;

    --tatami-navbar-background: #ffffff;
    --tatami-navbar-shadow: 0 0.25rem 1rem -0.5rem #00000022;
    --tatami-navbar-border: 1px solid #dddddd;
    --tatami-navbar-item-color: #888888;
    --tatami-navbar-hover-color: #444444;

    --tatami-toolbar-background: #fafafa;
    --tatami-toolbar-border: 1px solid #e8e8e8;

    --tatami-cover-shadow: 0rem 0.125rem 1rem -0.5rem #00000066;

    --tatami-card-shadow: 0.125rem 0.125rem 1rem -0.5rem #00000044;
}