{%- import "components/buttons.html" as buttons -%}
{%- import "components/switches.html" as switches -%}
{%- import "components/badges.html" as badges -%}
{%- import "components/form.html" as form -%}
{%- import "components/cards.html" as cards -%}

<form action="" method="POST">
    {% call buttons.ButtonList(class="mb-3") %}
        {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
        {{ buttons.SecondaryButton(href=url_for('event_manager.classes', event=g.event.slug), text="Abbrechen") }}
    {% endcall %}

    {% call switches.Tab() %}
        {{ switches.TabItem(label="Eigenschaften", active=True, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-props", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
        {{ switches.TabItem(label="Gruppen", active=False, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-groups", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
        {{ switches.TabItem(label="Verhalten", active=False, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-behavior", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
        {% if not new %}
            {{ switches.TabItem(label="Fortschritt", active=False, class="tj-tab-button", attr='data-tj-oneof=\'{"common": ".tj-tab", "unique": "#tab-progress", "class": "hidden", "classWhen": "off", "ownClass": "active", "ownCommon": ".tj-tab-button"}\'') }}
            {{ switches.TabItem(label="Merge", href=url_for('event_manager.merge_into_class', event=g.event.slug, id=event_class.id)) }}
        {% endif %}
    {% endcall %}

    <div class="tj-tab" id="tab-props">
        <h3>Eigenschaften</h3>

        {{ form.Label(for_id="name", text="Bezeichnung") }}
        {{ form.Input(id="name", name="name", value=event_class.title or '') }}

        {{ form.Label(for_id="short_name", text="Kurzbezeichnung") }}
        {{ form.Input(id="short_name", name="short_name", value=event_class.short_title or '') }}
        {{ form.FormNotice(text="Diese Kurzbezeichnung wird u. a. für die Benennung der einzelnen Kampfgruppen verwendet und sollte nur wenige Zeichen lang sein, z. B. U13m für die Kampfklasse der männlichen U13.") }}

        <h3>Voreinstellungen</h3>

        {% call cards.Card(class="mt-2") %}
            {% call cards.CardBody() %}
                {{ form.Label(for_id="name", text="Vorlage auswählen") }}
                {% call form.Select(name="template", id="template", attr="data-event_class-template") %}
                    {{ form.SelectDefaultOption() }}
                    {% for tpl in templates %}
                        {{ form.SelectOption(value=tpl.id, text=tpl.template_name) }}
                    {% endfor %}
                {% endcall %}
            {% endcall %}
            {% call cards.CardFooter() %}
                {{ buttons.Button(text="Anwenden", attr="data-event_class-call") }}
            {% endcall %}
        {% endcall %}


        {% if current_user.has_privilege('alter_presets') %}
            {% call cards.Card(class="mt-2") %}
                {{ cards.CardHeader(text="Als Vorlage bereitstellen") }}
                {% call cards.CardBody() %}
                    {{ form.FormCheck(id="is_template", name="is_template", label="Diese Kampfklasse ist unter dem folgenden Namen als Vorlage verfügbar:", checked=event_class.is_template) }}
                    {{ form.Input(id="template_name", name="template_name", value=event_class.template_name or '') }}
                {% endcall %}
            {% endcall %}
        {% endif %}
    </div>
    <div class="tj-tab hidden" id="tab-groups">
        <h3>Gruppen</h3>

        <p>Die Gruppen werden eingeteilt &hellip;</p>

        {{ form.FormRadio(id="weight_mode-predefined", value="predefined", name="weight_mode", label="in die folgenden Gewichtsklassen", checked=not event_class.use_proximity_weight_mode) }}

        <div class="ml-4 mb-3">
            {{ form.Textarea(name="weight_generator", id="weight_generator", value=event_class.weight_generator or '') }}
            {{ form.FormNotice(text='Jeweils eine Gewichtsklasse pro Zeile; Bezeichner können mit "-" beginnen, Plusklasse muss mit "+" beginnen') }}
        </div>

        {{ form.FormRadio(id="weight_mode-proximity", value="proximity", name="weight_mode", label="nach gewichtsnahen Gruppen", checked=event_class.use_proximity_weight_mode) }}

        <div class="ml-4">

            {{ form.Label(for_id="default_maximal_proximity", text="mit einem Höchstabstand von") }}

            <div class="form-component">
                {{ form.Input(id="default_maximal_proximity", name="default_maximal_proximity", value=event_class.default_maximal_proximity or '') }}
                {% call form.Select(id="proximity_unit", name="proximity_unit") %}
                    {{ form.SelectOption(value="absolute", text="Gramm", selected=not event_class.proximity_uses_percentage_instead_of_absolute) }}
                    {{ form.SelectOption(value="relative", text="Prozent", selected=event_class.proximity_uses_percentage_instead_of_absolute) }}
                {% endcall %}
            </div>

            {% call form.FormPresets() %}
                {{ buttons.SubtleButton(inline=True, text="2 kg", attr="onclick=\"default_maximal_proximity.value=2000; proximity_unit.value='absolute';\"")}}
                {{ buttons.SubtleButton(inline=True, text="3 kg", attr="onclick=\"default_maximal_proximity.value=3000; proximity_unit.value='absolute';\"")}}
                {{ buttons.SubtleButton(inline=True, text="4 kg", attr="onclick=\"default_maximal_proximity.value=4000; proximity_unit.value='absolute';\"")}}
                {{ buttons.SubtleButton(inline=True, text="5 kg", attr="onclick=\"default_maximal_proximity.value=5000; proximity_unit.value='absolute';\"")}}
                {{ buttons.SubtleButton(inline=True, text="5 %", attr="onclick=\"default_maximal_proximity.value=5; proximity_unit.value='relative';\"")}}
                {{ buttons.SubtleButton(inline=True, text="10 %", attr="onclick=\"default_maximal_proximity.value=10; proximity_unit.value='relative';\"")}}
            {% endcall %}

            {{ form.Label(for_id="default_maximal_size", text="sowie mit je höchstens") }}
            {{ form.InputWithSuffix(suffix="Kämpfer*innen", id="default_maximal_size", name="default_maximal_size", value=event_class.default_maximal_size or '') }}

            {{ form.Label(for_id="default_maximal_group_count", text="sowie mit insgesamt höchstens") }}
            {{ form.InputWithSuffix(suffix="Gruppen", id="default_maximal_group_count", name="default_maximal_group_count", value=event_class.default_maximal_group_count or '') }}

            {{ form.FormCheckLabel(text="Führen diese Kriterien dazu, dass eine Einteilung nicht möglich ist, setzt sich durch:") }}

            {{ form.FormRadio(id="prefer_grpc-no", name="prefer_group_count", value="no", checked=not event_class.proximity_prefer_group_count_over_proximity, label="Höchstanzahl von Kämpfer*innen")}}
            {{ form.FormRadio(id="prefer_grpc-yes", name="prefer_group_count", value="yes", checked=event_class.proximity_prefer_group_count_over_proximity, label="Höchstanzahl von Gruppen")}}
        </div>
    </div>
    <div class="tj-tab hidden" id="tab-behavior">
        <h3>Zeitrahmen</h3>

        {{ form.Label(for_id="fighting_time", text="Kampfdauer") }}
        {{ form.InputWithSuffix(name="fighting_time", id="fighting_time", suffix="Sekunden", value=event_class.fighting_time, type="number")}}
        {% call form.FormPresets() %}
            {{ buttons.SubtleButton(inline=True, text="2 min", attr="onclick=\"fighting_time.value=120;\"")}}
            {{ buttons.SubtleButton(inline=True, text="3 min", attr="onclick=\"fighting_time.value=180;\"")}}
            {{ buttons.SubtleButton(inline=True, text="4 min", attr="onclick=\"fighting_time.value=240;\"")}}
        {% endcall %}

        {{ form.Label(for_id="golden_score_time", text="Golden Score-Dauer") }}
        {{ form.InputWithSuffix(name="golden_score_time", id="golden_score_time", suffix="Sekunden", value=event_class.golden_score_time, type="number")}}
        {% call form.FormPresets() %}
            {{ buttons.SubtleButton(inline=True, text="ohne", attr="onclick=\"golden_score_time.value=0;\"")}}
            {{ buttons.SubtleButton(inline=True, text="2 min", attr="onclick=\"golden_score_time.value=120;\"")}}
            {{ buttons.SubtleButton(inline=True, text="3 min", attr="onclick=\"golden_score_time.value=180;\"")}}
            {{ buttons.SubtleButton(inline=True, text="4 min", attr="onclick=\"golden_score_time.value=240;\"")}}
            {{ buttons.SubtleButton(inline=True, text="unbegrenzt", attr="onclick=\"golden_score_time.value=-1;\"")}}
        {% endcall %}

        {{ form.Label(for_id="between_fights_time", text="Pausendauer") }}
        {{ form.InputWithSuffix(name="between_fights_time", id="between_fights_time", suffix="Sekunden", value=event_class.between_fights_time, type="number")}}
        {% call form.FormPresets() %}
            {{ buttons.SubtleButton(inline=True, text="6 min", attr="onclick=\"between_fights_time.value=360;\"")}}
            {{ buttons.SubtleButton(inline=True, text="10 min", attr="onclick=\"between_fights_time.value=600;\"")}}
        {% endcall %}    
    </div>

    {% if not new %}
    <div class="tj-tab hidden" id="tab-progress">
        <h3>Fortschritt</h3>

        <div class="alert alert-warning">
            <p>Die folgenden Optionen führen dazu, dass die aktuelle Seite neu geladen wird. Nicht gespeicherte Änderungen können daher verloren gehen.</p>
        </div>

        <p>Die Kampfklasse ist in folgendem Zustand:</p>
        
        {% call badges.BadgeControl() %}
            {% if not event_class.begin_weigh_in %}
                {{ badges.Badge(text='Ausstehend', style='secondary') }}
                {{ badges.Badge(text='In Waage', style='inactive', href=url_for('event_manager.class_step_forward', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Einteilung', style='inactive') }}
                {{ badges.Badge(text='Kämpft', style='inactive') }}
                {{ badges.Badge(text='Beendet', style='inactive') }}
            {% elif not event_class.begin_placement %}
                {{ badges.Badge(text='Ausstehend', style='inactive', href=url_for('event_manager.class_step_back', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='In Waage', style='info') }}
                {{ badges.Badge(text='Einteilung', style='inactive', href=url_for('event_manager.class_step_forward', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Kämpft', style='inactive') }}
                {{ badges.Badge(text='Beendet', style='inactive') }}
            {% elif not event_class.begin_fighting %}
                {{ badges.Badge(text='Ausstehend', style='inactive') }}
                {{ badges.Badge(text='In Waage', style='inactive', href=url_for('event_manager.class_step_back', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Einteilung', style='warning') }}
                {{ badges.Badge(text='Kämpft', style='inactive', href=url_for('event_manager.class_step_forward', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Beendet', style='inactive') }}
            {% elif not event_class.ended_fighting %}
                {{ badges.Badge(text='Ausstehend', style='inactive') }}
                {{ badges.Badge(text='In Waage', style='inactive') }}
                {{ badges.Badge(text='Einteilung', style='inactive', href=url_for('event_manager.class_step_back', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Kämpft', style='danger') }}
                {{ badges.Badge(text='Beendet', style='inactive', href=url_for('event_manager.class_step_forward', event=g.event.slug, id=event_class.id)) }}
            {% else %}
                {{ badges.Badge(text='Ausstehend', style='inactive') }}
                {{ badges.Badge(text='In Waage', style='inactive') }}
                {{ badges.Badge(text='Einteilung', style='inactive') }}
                {{ badges.Badge(text='Kämpft', style='inactive', href=url_for('event_manager.class_step_back', event=g.event.slug, id=event_class.id)) }}
                {{ badges.Badge(text='Beendet', style='success') }}
            {% endif %}
        {% endcall %}
    </div>
    {% endif %}
</form>