{%- import "components/form.html" as form -%}
{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}

{% set event_page="classes" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }} | Kampfklassen{% endblock %}
{% block body %}
<h1>Kampfklassen generieren</h1>

<form action="" method="POST">
    {% call cards.Card(class="width-medium mx-0") %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id="template", text="Eine Vorlage auswählen") }}
            {% call form.Select(name="template", id="template") %}
                {{ form.SelectDefaultOption() }}
                {% for tpl in templates %}
                    {{ form.SelectOption(value=tpl.id, text=tpl.template_name) }}
                {% endfor %}
            {% endcall %}

            {{ form.Label(for_id="generation", text="Kampfklassen angeben") }}
            {{ form.Textarea(id="generation", name="generation") }}
            {% call form.FormNotice() %}
                Verwenden Sie für jede zu erstellende Kampfklasse eine Zeile.<br>
                Standardmäßig wird der eingegebene Wert für den Namen und die Kurzbezeichnung verwendet.<br>
                Sie können aber auch eine Kurzbezeichnung explizit angeben (<code>Name:Kurzbezeichnung</code>).<br>
                Lassen Sie die Kurzbezeichnung leer, um den Wert aus der Vorlage zu übernehmen (<code>Name:</code>).
            {% endcall %}        
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type="submit", text="Generation vornehmen") }}
            {{ buttons.SecondaryButton(href=url_for('event_manager.classes', event=g.event.slug), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>

{% endblock body %}