{%- import "components/badges.html" as badges -%}
{%- import "components/datasets.html" as datasets -%}
{%- import "components/buttons.html" as buttons -%}

{% set event_page="classes" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }} | Kampfklassen{% endblock %}
{% block body %}
<h1>Kampfklassen</h1>

{% call datasets.Dataset() %}
    {% call datasets.Table() %}
        {% call datasets.TableHead() %}
            {{ datasets.TableHeadColumn(text="Bezeichnung") }}
            {{ datasets.TableHeadColumn(text="Stand") }}
            {{ datasets.TableHeadColumn(text="Zeiten (Kampf/GS/Pause)") }}
            {{ datasets.TableHeadColumn(text="Einteilung") }}
            {{ datasets.TableHeadColumn(text="TN") }}
            {{ datasets.TableHeadEmptyColumn() }}
        {% endcall %}
        {% call datasets.TableBody() %}
            {% for cl in g.event.classes.order_by('title') %}
                {% call datasets.TableRow() %}
                    {{ datasets.TableColumn(text=cl.title) }}
                    {% call datasets.TableColumn() %}
                        {% if not cl.begin_weigh_in %}
                            {{ badges.Badge(href=url_for('event_manager.class_step_forward', event=g.event.slug, id=cl.id, to='index'), style="secondary", text="Ausstehend") }}
                        {% elif not cl.begin_placement %}
                            {{ badges.Badge(href=url_for('event_manager.class_step_forward', event=g.event.slug, id=cl.id, to='index'), style="info", text="In Waage") }}
                        {% elif not cl.begin_fighting %}
                            {{ badges.Badge(href=url_for('event_manager.class_step_forward', event=g.event.slug, id=cl.id, to='index'), style="warning", text="Einteilung") }}
                        {% elif not cl.ended_fighting %}
                            {{ badges.Badge(href=url_for('event_manager.class_step_forward', event=g.event.slug, id=cl.id, to='index'), style="danger", text="Kämpft") }}
                        {% else %}
                            {{ badges.Badge(style="success", text="Beendet") }}
                        {% endif %}
                    {% endcall %}
                    {% call datasets.TableColumn() %}
                        {{ "%.2f min" % (cl.fighting_time / 60) }} / {{ "%.2f min" % (cl.golden_score_time  / 60) if cl.golden_score_time >= 0 else "unbegrenzt" }} / {{ "%.2f min" % (cl.between_fights_time / 60) }}
                    {% endcall %}
                    {% call datasets.TableColumn() %}
                        {% if cl.use_proximity_weight_mode %}
                        {% if cl.proximity_uses_percentage_instead_of_absolute %}
                        <strong>Gewichtsnahe Gruppen</strong> mit Diff. &lt; {{ cl.default_maximal_proximity }}%
                        {% else %}
                        <strong>Gewichtsnahe Gruppen</strong> mit Diff. &lt;  {{ cl.default_maximal_proximity / 1000 }}kg
                        {% endif %}
                        {% else %}
                        <strong>Gewichtsklassen</strong>: {{ " ".join(cl.weight_generator.split("\n")) }}
                        {% endif %}
                    {% endcall %}
                    {% call datasets.TableColumn() %}
                        {{ badges.Badge(href=url_for('event_manager.registrations', event=g.event.slug, class_filter=cl.id), style="inactive", text="%d TN" % cl.registrations.count()) }}
                    {% endcall %}
                    {% call datasets.TableButtonsColumn() %}
                        {% call buttons.SubtleButton(href=url_for('event_manager.edit_class', event=g.event.slug, id=cl.id), inline=True) %}
                            {{ buttons.ButtonIcon(icon='edit-pencil') }}
                        {% endcall %}
                        {% call buttons.SubtleButton(href=url_for('event_manager.class_registrations_as_csv', event=g.event.slug, id=cl.id), inline=True) %}
                            {{ buttons.ButtonIcon(icon='database-export') }}
                        {% endcall %}
                    {% endcall %}
                {% endcall %}
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endcall %}

{{ buttons.PrimaryButton(href=url_for('event_manager.create_class', event=g.event.slug), text="Kampfklasse hinzufügen") }}
{{ buttons.SecondaryButton(href=url_for('event_manager.generate_classes', event=g.event.slug), text="Autom. Generation") }}
{% endblock body %}