{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/alerts.html" as alerts -%}
{%- import "components/form.html" as form -%}

{% set event_page="classes" %}
{% extends "layouts/event-manager.html" %}
{% block title %}{{ g.event.title }} | Kampfklassen zusammenführen{% endblock %}
{% block body %}
<h1>Kampfklassen zusammenführen</h1>
<form action="" method="POST">
    {% call cards.Card() %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id="merge_source", text="Quelle") }}
            {% call form.Select(name="source", id="merge_source") %}
                {{ form.SelectDefaultOption() }}
                {% for cl in classes %}
                    {{ form.SelectOption(value=cl.id, text=cl.title) }}
                {% endfor %}
            {% endcall %}

            {{ form.Label(for_id="merge_target", text="Ziel") }}
            {{ form.Input(id="merge_target", value=event_class.title, readonly=True) }}

            <p>Alle TN, Gruppen, Kämpfe, etc. der Quelle werden in die Kampfklasse <strong>{{ event_class.title }}</strong> überführt; die andere Kampfklasse wird sodann gelöscht.</p>

            <p>Diese Aktion wird protokolliert.</p>

            {% call alerts.DangerAlert() %}
                <p>Achtung: Dies kann <strong>nicht</strong> rückgängig gemacht werden.</p>
            {% endcall %}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.DangerButton(type="submit", text="Kampfklassen zusammenführen") }}
            {{ buttons.SecondaryButton(href=url_for('event_manager.classes', event=g.event.slug), text="Abbrechen") }}
        {% endcall %}
    {% endcall %}
</form>
{% endblock %}