@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/static/fonts/inter-v13-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/inter-v13-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/inter-v13-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/inter-v13-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/static/fonts/inter-v13-latin_latin-ext-900.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/reddit-mono-v1-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 800;
    src: url('/static/fonts/reddit-mono-v1-latin-800.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #000;
    cursor: not-allowed;
    user-select: none;
    opacity: 0.1;
    transition: opacity 0.1s ease;
}
html.active {
    cursor: none;
    opacity: 1;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.view {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;

    display: none;
}
.view.view-active {
    display: block;
}

.view-main .main-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35rem 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
}
.view-main .main-grid .main-row-name {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 40px;
    padding: 1rem 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.view-main .main-grid .main-row-name.row-white {
    grid-row: 1;
    background-color: #ddd;
}
.view-main .main-grid .main-row-name.row-blue {
    grid-row: 4;
    background-color: #008;
    color: white;
}
.view-main .main-grid .main-row-name .name {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.view-main .main-grid .main-row-score {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.view-main .main-grid .main-row-score.row-white {
    grid-row: 2;
    background-color: #fff;
}
.view-main .main-grid .main-row-score.row-blue {
    grid-row: 3;
    background-color: #00f;
    color: white;
}
.view-main .main-grid .main-row-score.expand {
    grid-row-start: 2;
    grid-row-end: 4;
}
.view-main .main-grid .main-row-score.collapse {
    display: none;
}

.view-main .main-grid .main-row-score .score-text {
    font-size: 16rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    align-self: center;
}

.view-main .main-grid .main-row-score .score-text:empty {
    display: none;
}


.view-main .main-grid .main-row-score .score-grid {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.view-main .main-grid .main-row-score .score-text:empty + .score-grid {
    display: flex;
}

.view-main .main-grid .main-row-score .score-grid .score-wazaari {
    width: 25rem;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-main .main-grid .main-row-score .score-grid .score-wazaari .token {
    font-size: 160px;
    font-weight: bold;
    height: 16rem;
    width: 16rem;
    text-align: center;
    border-radius: 3rem;
    padding-top: 2.5rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.05);
}
.view-main .main-grid .main-row-score.row-blue .score-grid .score-wazaari .token {
    background-color: rgba(0, 0, 0, 0.25);
}
.view-main .main-grid .main-row-score .score-grid .score-wazaari.active .token {
    opacity: 1.0;
    box-shadow: 3px 3px 20px -8px rgba(0, 0, 0, 0.5);
}
.view-main .main-grid .main-row-score .score-grid .score-wazaari.pending .token {
    opacity: 0.3;
    border: 0.5rem dashed currentColor;
    padding-top: 1.75rem;
    background-color: transparent;
}
.view-main .main-grid .main-row-score.row-blue .score-grid .score-wazaari.pending .token {
    opacity: 0.45;
}

.view-main .main-grid .main-row-score .score-grid .score-osaekomi {
    width: 15rem;
    flex-grow: 0;
}



.time-osaekomi {
    text-align: center;
    font-size: 100px;
    font-family: 'Reddit Mono';
    font-weight: 500;
    line-height: 1;
    transform: scaleY(180%);
}
.row-white .time-osaekomi {
    color: black;
}
.row-blue .time-osaekomi {
    color: white;
}
.time-osaekomi:not(.running):empty {
    visibility: hidden;
}

.view-main .main-grid .main-row-score .score-grid .score-shido {
    flex-grow: 0;
    display: flex;
    align-items: center;
    width: 24rem;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido,
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake {
    height: 14rem;
    width: 6.5rem;
    display: block;
    border-radius: 1rem;
    color: #600;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    padding: 4.5rem 0;
    text-align: center;
    box-shadow: 3px 3px 20px -8px rgba(0, 0, 0, 0.5);
    margin-left: 1.5rem;
    transition: opacity .5s ease-in-out;
}

.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido.hidden,
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake.hidden {
    display: none;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido {
    background-color: #dd0;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake {
    background-color: #d00;
    text-transform: uppercase;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido.hidden + .card-shido.hidden + .card-hansokumake {
    width: 22.5rem;
}



.view-main .main-grid .main-row-time {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column: 1;
    background-color: #222;
    color: white;
}
.time-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-grid .time-header {
    font-size: 60px;
    padding-top: 3rem;
    height: 120px;
    margin-bottom: 9.875rem;
}
.time-grid .time-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111;
    padding: 0.5rem;
}
.time-grid .time-main.lit {
    background-color: #fa2;
}
.time-grid .time-main .time-main-box {
    padding: 1rem 0;
    width: 525px;
    text-align: center;
    background-color: #dd6;
    color: black;
    font-size: 200px;
    font-weight: 900;
    font-family: 'Reddit Mono';
}
.time-grid .time-main.running .time-main-box {
    background-color: #6d6;
}
.time-grid .time-main .time-main-label {
    padding: 0.5rem;
    width: 525px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.time-grid .time-main .time-main-label:empty {
    display: none;
}
.time-grid .time-lower {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-grid .time-class {
    font-size: 35px;
    padding-bottom: 0;
    height: 40px;
    margin-top: 9.875rem;
}
.time-grid .time-footer {
    font-size: 30px;
    padding-bottom: 3rem;
    height: 40px;
    margin-top: 1rem;
}

.view-main .main-grid .main-row-time.flashing-medical {
    animation: medicalFlash 1.5s ease-in-out infinite;
}
.view-main .main-grid .main-row-time.flashing-alert {
    animation: alertFlash 0.5s ease-in-out infinite;
}

@keyframes medicalFlash {
    0%   { background-color: #f33; }
    25%  { background-color: #f33; }
    100% { background-color: #222;}
}
@keyframes alertFlash {
    0%   { background-color: #fa2; }
    25%  { background-color: #fc3 }
    50%  { background-color: #fa2 }
    100% { background-color: #652;}
}

.view-callup .callup-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 250px;
}

.view-callup .callup-grid .callup-row-meta {
    background-color: #222;
    color: white;
    padding: 0 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.view-callup .callup-grid .callup-row-meta .meta-matnr {
    grid-row: 1;
    grid-column: 1;
    font-size: 40px;
    font-weight: bold;
}
.view-callup .callup-grid .callup-row-meta .meta-class {
    grid-row: 1;
    grid-column: 3;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}
.view-callup .callup-grid .callup-row-meta .meta-round {
    grid-row: 1;
    grid-column: 2;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.view-callup .callup-grid .callup-row-fighter {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.view-callup .callup-grid .callup-row-fighter.fighter-white {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    color: black;
}
.view-callup .callup-grid .callup-row-fighter.fighter-blue {
    grid-row: 3;
    grid-column: 1;
    background-color: blue;
    color: white;
}
.view-callup .callup-grid .callup-row-fighter .fighter-name {
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 10px;
    max-height: 2.35em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.view-callup .callup-grid .callup-row-fighter .fighter-club {
    font-size: 50px;
    font-weight: bold;
}

.view-callup .callup-grid .callup-row-prepare {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    background-color: #222;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group {
    display: flex;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group .prepare-cta {
    font-size: 40px;
    margin-right: 2rem;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group .prepare-group {
    font-size: 40px;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter .fighter-color {
    height: 1.3em;
    width: 1.3em;
    border-radius: 0.5em;
    margin-right: 1rem;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter.fighter-white .fighter-color {
    background-color: white;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter.fighter-blue .fighter-color {
    background-color: blue;
}

.view-break {
    height: 100%;
    width: 100%;
    color: white;
}
.view-break .break-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.view-break .break-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 2rem;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.view-break .break-matnr {
    font-size: 250px;
    font-weight: bold;
    text-align: center;
}


.view-winner {
    height: 100%;
    width: 100%;
}
.view-winner.winner-white {
    background-color: #eee;
    background-image: radial-gradient(#fff, #ddd);
    color: black;
}
.view-winner.winner-blue {
    background-color: #00d;
    background-image: radial-gradient(#00f, #008);
    color: white;
}
.view-winner .winner-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.view-winner .winner-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 2rem;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.view-winner .winner-name {
    padding: 0 2rem;
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.1);
    hyphens: auto;
}
.view-winner .winner-club {
    font-size: 100px;
    text-align: center;
}