@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/static/fonts/inter-v13-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/inter-v13-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/inter-v13-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/inter-v13-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/static/fonts/inter-v13-latin_latin-ext-900.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/reddit-mono-v1-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Reddit Mono';
    font-style: normal;
    font-weight: 800;
    src: url('/static/fonts/reddit-mono-v1-latin-800.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #000;
    cursor: not-allowed;
    user-select: none;
    opacity: 0.1;
    transition: opacity 0.1s ease;
}
html.active {
    cursor: none;
    opacity: 1;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.view {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;

    display: none;
}
.view.view-active {
    display: block;
}

.view-main .main-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 10vh 1fr 1fr 10vh;
}
.view-main .main-grid .main-row-name {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 7vh;
    padding: 1vh 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.view-main .main-grid .main-row-name.row-white {
    grid-row: 1;
    background-color: #ddd;
}
.view-main .main-grid .main-row-name.row-blue {
    grid-row: 4;
    background-color: #008;
    color: white;
}
.view-main .main-grid .main-row-name .name {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.view-main .main-grid .main-row-score {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.view-main .main-grid .main-row-score.row-white {
    grid-row: 2;
    background-color: #fff;
}
.view-main .main-grid .main-row-score.row-blue {
    grid-row: 3;
    background-color: #00f;
    color: white;
}
.view-main .main-grid .main-row-score.expand {
    grid-row-start: 2;
    grid-row-end: 4;
}
.view-main .main-grid .main-row-score.collapse {
    display: none;
}


.view-main .main-grid .main-row-score .score-grid {
    align-items: center;
    align-content: baseline;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    position: relative;
}

.view-main .main-grid .main-row-score .score-grid .score-full_text {
    font-size: 35vh;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    position: absolute;
    height: 1em;
    width: 100%;
    line-height: 1.0;
    background-color: white;
    z-index: 2;
    text-shadow: 0.5vmin .5vmin 1vmin #0006;
}
.view-main .main-grid .main-row-score .score-grid .score-full_text:not(.show) {
    display: none;
}
.view-main .main-grid .main-row-score.row-blue .score-grid .score-full_text {
    background-color: #00f;
}

.view-main .main-grid .main-row-score .score-grid .score-counter {
    flex-grow: 0;
    font-size: 30vh;
    font-weight: bold;
    min-width: 25vh;
    text-align: center;
    line-height: 1.0;
    border-radius: 2vmin;
    border-width: 0.35vmin;
    margin: 0 0.5vw;
    margin-right: 0;
    padding: 1vh 0;
    text-shadow: 0.5vmin .5vmin 1vmin #0006;
    text-align: center;
}
.view-main .main-grid .main-row-score .score-grid .score-counter:empty {
    background-color: transparent;
    box-shadow: none;
}
.view-main .main-grid .main-row-score .score-grid .score-counter:empty::before {
    content: '0';
    opacity: 0.5;
    text-shadow: none;
}
.view-main .main-grid .main-row-score .score-grid .score-counter.pending {
    border-style: dashed;
}

.view-main .main-grid .main-row-score .score-grid .score-counter.score-size-md {
    min-width: 20vh;
    font-size: 25vh;
    margin-top: 5vh;
}

.view-main .main-grid .main-row-score .score-grid .score-counter.score-size-sm {
    min-width: 15vh;
    font-size: 20vh;
    margin-top: 10vh;
}

.view-main .main-grid .main-row-score .score-grid .score-osaekomi {
    width: 20vh;
    flex-grow: 0;
    padding: 0;
    margin-left: 2vw;
    margin-right: 1vw;
}



.time-osaekomi {
    border: .125em double;
    height: 20vh;
    width: 20vh;
    line-height: 1;
    padding: 2.5vh 0;
    letter-spacing: -0.25vh;
    padding-right: 0.25vh;
    text-align: center;
    border-radius: 50%;
    margin: 0;
    margin-top: 0;
    line-height: 0;
    box-shadow: 1vmin 1vmin 2vmin #0006;

    text-align: center;
    font-size: 12.5vh;
    font-family: 'Reddit Mono', monospace;
    font-weight: 500;
    line-height: 1;
    position: relative;
}
.row-white .time-osaekomi {
    color: black;
}
.row-blue .time-osaekomi {
    color: white;
}
.time-osaekomi:not(.running):empty {
    visibility: hidden;
}

.view-main .main-grid .main-row-score .score-grid .score-shido {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vh;
    margin-right: 2vw;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido,
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake {
    height: 30vh;
    width: 5vw;
    display: block;
    border-radius: 2vmin;
    color: #600;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-left: 1vw;
    transition: opacity .5s ease-in-out;
    box-shadow: .5vmin .5vmin 2vmin #0006;
}

.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido.hidden,
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake.hidden {
    display: none;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido {
    background-color: #dd0;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-hansokumake {
    background-color: #d00;
    text-transform: uppercase;
}
.view-main .main-grid .main-row-score .score-grid .score-shido .card-shido.hidden + .card-shido.hidden + .card-hansokumake {
    width: 17vw;
    font-size: 20vh;
    padding-top: 5vh;
}



.view-main .main-grid .main-row-time {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column: 1;
    background-color: #222;
    color: white;
}
.time-grid {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-grid .time-header {
    font-size: 10vh;
    padding-top: 4.5vh;
    height: 12vh;
    position: absolute;
    top: 0;
    left: 0; right: 0;
    text-align: center;
}
.time-grid .time-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111;
    padding: 1vmin;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.time-grid .time-main.lit {
    background-color: #fa2;
    transform: translateY(calc(3vh - 50%));
}
.time-grid .time-main .time-main-box {
    padding: 1vmin 0;
    width: 28vw;
    text-align: center;
    background-color: #dd6;
    color: black;
    font-size: 20vh;
    font-weight: 900;
    font-family: 'Reddit Mono', monospace;
}
.time-grid .time-main.running .time-main-box {
    background-color: #6d6;
}
.time-grid .time-main .time-main-label {
    padding: 1vh;
    padding-bottom: 0;
    width: 28vw;
    text-align: center;
    color: black;
    font-size: 4vh;
    font-weight: bold;
    line-height: 1.0;
}
.time-grid .time-main .time-main-label:empty {
    display: none;
}
.time-grid .time-lower {
    position: absolute;
    bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-grid .time-class {
    font-size: 5vh;
    padding-bottom: 0;
    height: 6vh;
    margin-top: 1vh;
}
.time-grid .time-footer {
    font-size: 4vh;
    padding-bottom: 6vh;
    height: 5vh;
    margin-top: 1vh;
}

.view-main .main-grid .main-row-time.flashing-medical {
    animation: medicalFlash 1.5s ease-in-out infinite;
}
.view-main .main-grid .main-row-time.flashing-alert {
    animation: alertFlash 0.5s ease-in-out infinite;
}

@keyframes medicalFlash {
    0%   { background-color: #f33; }
    25%  { background-color: #f33; }
    100% { background-color: #222;}
}
@keyframes alertFlash {
    0%   { background-color: #fa2; }
    25%  { background-color: #fc3 }
    50%  { background-color: #fa2 }
    100% { background-color: #652;}
}

.view-callup .callup-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 1fr 1fr 1fr;
}

.view-callup .callup-grid .callup-row-meta {
    background-color: #222;
    color: white;
    padding: 1vh 2vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.view-callup .callup-grid .callup-row-meta .meta-matnr {
    grid-row: 1;
    grid-column: 1;
    font-size: 5vh;
    font-weight: bold;
}
.view-callup .callup-grid .callup-row-meta .meta-class {
    grid-row: 1;
    grid-column: 3;
    font-size: 5vh;
    font-weight: bold;
    text-align: right;
}
.view-callup .callup-grid .callup-row-meta .meta-round {
    grid-row: 1;
    grid-column: 2;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

.view-callup .callup-grid .callup-row-fighter {
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.view-callup .callup-grid .callup-row-fighter.fighter-white {
    grid-row: 2;
    grid-column: 1;
    background-color: white;
    color: black;
}
.view-callup .callup-grid .callup-row-fighter.fighter-blue {
    grid-row: 3;
    grid-column: 1;
    background-color: blue;
    color: white;
}
.view-callup .callup-grid .callup-row-fighter .fighter-name {
    font-size: 16vh;
    font-weight: bold;
    margin-bottom: 1vh;
    max-height: 1.35em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.view-callup .callup-grid .callup-row-fighter .fighter-club {
    font-size: 6vh;
    font-weight: bold;
}

.view-callup .callup-grid .callup-row-prepare {
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: #222;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group {
    display: flex;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group .prepare-cta {
    font-size: 5vh;
    margin-right: 1vw;
}
.view-callup .callup-grid .callup-row-prepare .prepare-group .prepare-group {
    font-size: 5vh;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter {
    display: flex;
    align-items: center;
    font-size: 8vh;
    font-weight: bold;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter .fighter-call {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter .fighter-color {
    height: 95%;
    width: 0.75em;
    min-height: 1em;
    min-width: 0.75em;
    border-radius: 0.25em;
    margin-right: 1vw;
    flex-grow: 0;
    flex-shrink: 0;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter.fighter-white .fighter-color {
    background-color: white;
}
.view-callup .callup-grid .callup-row-prepare .prepare-fighter.fighter-blue .fighter-color {
    background-color: blue;
}

.view-break {
    height: 100%;
    width: 100%;
    color: white;
}
.view-break .break-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.view-break .break-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8vh 3vw;
    font-size: 12.5vh;
    font-weight: bold;
    text-align: center;
}
.view-break .break-matnr {
    font-size: 30vh;
    font-weight: bold;
    text-align: center;
}


.view-winner {
    height: 100%;
    width: 100%;
}
.view-winner.winner-white {
    background-color: #eee;
    background-image: radial-gradient(#fff, #ddd);
    color: black;
}
.view-winner.winner-blue {
    background-color: #00d;
    background-image: radial-gradient(#00f, #008);
    color: white;
}
.view-winner .winner-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.view-winner .winner-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3vh 2vw;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
}
.view-winner .winner-name {
    padding: 0 2vw;
    font-size: 20vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1vh;
    text-shadow: 1vh 1vh 0.5vh rgba(0, 0, 0, 0.1);
    hyphens: auto;
}
.view-winner .winner-club {
    font-size: 10vh;
    text-align: center;
}