{%- import "components/layout.html" as layout -%}

{% set popup=True %}
{% extends "layouts/application.html" %}
{% block title %}Listenanzeige{% endblock %}
{% from "shared/_match_summary.html" import match_summary %}
{% block custom_header %}
<meta http-equiv="refresh" content="5">
{% endblock %}
{% block body %}

{# TODO: add back dropdown
    

    <div class="dropdown float-end">
        <button
            class="btn btn-outline-light"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside">
            ⋮
        </button>
    
        <div class="dropdown-menu dropdown-wide">
            <form action="" method="GET" class="px-3 py-2">
                <div class="mb-3">
                    <label for="mats" class="form-label">Angezeigte Matten</label>
                    <select name="mats" id="mats" multiple class="form-select">
                        {% for mat in assigned_mats %}
                        <option value="{{ mat.id }}" {{ 'selected' if mat.id in shown_mat_ids }}>{{ mat.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Speichern</button>
            </form>
        </div>
    </div>
    
#}

{% call layout.Container(width="full") %}
    {% call layout.Grid() %}
        {% for mat in assigned_mats if mat.id in shown_mat_ids %}
            {% call layout.GridColumn(span="") %}
                <h2 class="fw-bold fs-1 text-center mb-3">{{ mat.title }}</h2>
                {% for match in mat.scheduled_matches()[:5] %}
                    {{ match_summary(match, large=True) }}
                {% else %}
                    <p class="text-center fs-3">n. n.</p>
                {% endfor %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endcall %}
{% endblock %}