{%- import "components/layout.html" as layout -%}
{%- import "components/dropdown.html" as dropdown -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

{% set popup=True %}
{% extends "layouts/application.html" %}
{% block title %}Listenanzeige{% endblock %}
{% from "shared/_match_summary.html" import match_summary %}
{% block custom_header %}
<meta http-equiv="refresh" content="5">
{% endblock %}
{% block body %}

<div class="d-flex justify-end p-1">
    {% call dropdown.Dropdown(right=True) %}
        {% call dropdown.DropdownButton() %}
            {% call buttons.SubtleButton(attr=dropdown.ToggleDropdownAttr(dropdown='#config-dropdown')) %}
                {{ buttons.ButtonIcon(icon="more-horiz") }}
            {% endcall %}
        {% endcall %}
        {% call dropdown.DropdownDialog(id="config-dropdown") %}
            <form action="" method="GET" class="px-3 py-2">
                {{ form.Label(for_id="mats", text="Angezeigte Matten") }}
                {% call form.Select(id="mats", name="mats", multiple=True) %}
                    {% for mat in assigned_mats %}
                        {{ form.SelectOption(value=mat.id, text=mat.title, selected=mat.id in shown_mat_ids) }}
                    {% endfor %}
                {% endcall %}
                {{ buttons.PrimaryButton(type="submit", text="Speichern") }}
            </form>
        {% endcall %}
    {% endcall %}
</div>

{% call layout.Container(width="full") %}
    {% call layout.Grid() %}
        {% for mat in assigned_mats if mat.id in shown_mat_ids %}
            {% call layout.GridColumn(span="") %}
                <h2 class="fw-bold fs-1 text-center mb-3">{{ mat.title }}</h2>
                {% for match in mat.scheduled_matches()[:5] %}
                    {{ match_summary(match, large=True) }}
                {% else %}
                    <p class="text-center fs-3">n. n.</p>
                {% endfor %}
            {% endcall %}
        {% endfor %}
    {% endcall %}
{% endcall %}
{% endblock %}