{%- import "components/cards.html" as cards -%}
{%- import "components/buttons.html" as buttons -%}
{%- import "components/form.html" as form -%}

<form action="" method="POST">
    {% call cards.Card() %}
        {% call cards.CardBody() %}
            {{ form.Label(for_id='name', text='Bezeichnung') }}
            {{ form.Input(id='name', name='name', value=group.cut_title()) }}
            {{ form.Label(for_id='system', text='Listensystem') }}
            {% call form.Select(id='system', name='system', value=group.cut_title()) %}
                {{ form.SelectOption(value='', selected=not group.system, text='(automatisch bestimmen – empfohlen)') }}
                {% for system in systems %}
                    {{ form.SelectOption(value=system.id, selected=(group.system_id == system.id), text=system.title) }}
                {% endfor %}
            {% endcall %}
        {% endcall %}
        {% call cards.CardBody() %}
            {{ form.FormCheck(id='assign_by_logic', name='assign_by_logic', checked=group.assign_by_logic, label='Teilnehmenden anhand ihres Gewichts automatisch zuteilen') }}

            <p>Wenn ausgewählt:</p>

            {{ form.Label(for_id='min_weight', text='Mindesgewicht - nicht mehr enthalten -') }}
            {{ form.InputWithSuffix(id='min_weight', name='min_weight', value=(group.min_weight / 1000 if group.min_weight else ''), type="number", attr=('step="0.1" min="0"'|safe), suffix="kg") }}

            {{ form.Label(for_id='max_weight', text='Höchstgewicht - noch enthalten -') }}
            {{ form.InputWithSuffix(id='max_weight', name='max_weight', value=(group.max_weight / 1000 if group.max_weight else ''), type="number", attr=('step="0.1" min="0"'|safe), suffix="kg") }}
        {% endcall %}
        {% call cards.CardFooter() %}
            {{ buttons.PrimaryButton(type='submit', text='Speichern') }}
            {{ buttons.SecondaryButton(href=url_for('mod_placement.for_class', event=g.event.slug, id=event_class.id, group=(group.id if group else None)), text='Abbrechen') }}
        {% endcall %}
    {% endcall %}
</form>