{%- import "components/layout.html" as layout -%}
{%- import "components/cards.html" as cards -%}

{% extends "layouts/application.html" %}
{% set page=event_class %}
{% block title %}Einteilung - {{ event_class.title }}{% endblock %}
{% block pre_messages %}{% include "mod_placement/_header.html" %}{% endblock %}
{% block body %}

{% call layout.Container(width='small') %}
    <h1>Kampfklasse {{ event_class.title }}</h1>    
    <h2 class="fs-3">Gruppe bearbeiten: {{ group.title }}</h2>
    {% include "mod_placement/group/_form.html" %}
{% endcall %}
{% endblock body %}